
@model RCS.Models.SuppliesViewModel 
@{
    ViewBag.Title = "Supplies_package";
}

<script type="text/javascript">
    var room = 1;//預設第一層開始
    var save_text = '';
    var addHtml = '';//取得欲增加的HTML
    $(document).ready(function () {
        $("#packageDt").bootstrapTable({
            url: '@Url.Content("~/Supplies/package_DB")',
            method: 'post',
            pagination: true,
            showRefresh: true,
            undefinedText: '',
        }).on('click-row.bs.table', function (e, row, $element) {
            Modifypackage(row);
        });
        addHtml = $('#basic_field').html(); //取得增加資料列的HTML
        $('#basic_field').find('.btn_area').remove();//移除按鈕
        $("#CM_name").off("change").on("change", function () {
            var selector = $("#CM_name").val();
            save_text = $('#CM_name :selected').val();
            $.ajax({
            url: '@Url.Content("~/Supplies/getPackage_View")',
                data: {package: selector
                },
                type: "post",
            success: function (data) {
                $('#Supplies_items').html(data);
            }
            })

        });

    });

    function ReSetpackageDtText(value, row) {
        return row.C_MEMO.replace(/\n/g, '<br/>');
    }

    function checkData(pVal, pThis, pChk_flag) {
        var colorStr = '#E8CCFF';
        if (pVal.length == 0) {
            pThis.css("background-color", colorStr);
            return true;
        } else {
            pThis.css("background-color", "");
            if (pChk_flag) {
                return true;
            } else {
                return false;
            }
        }
    }

    function Modifypackage(JsonObj) {
        console.log(JsonObj);
        ResetpackageModalBody();
        if (!!JsonObj) {
            //$('#packageModalTitle').html('修改耗材');
            //$('#viewstats').val('edit');
            //$('#packageID').val(JsonObj.C_ID);
            //$('#packageName').val(JsonObj.C_CNAME);
        }
        else {
            $('#packageModalTitle').html('新增套餐');
            $('#viewstats').val('add');
        }
        $('#packageModal').modal('show');
    }

    function ModifySavepackage(JsonObj) {
         var chk_flag = false;
         $('#Supplies_items [data-field]').each(function () {
            if ($(this).attr("data-field") == "Y") {
                switch ($(this).find("input").attr('type')) {
                    case 'number':
                        chk_flag = checkData($(this).find("input").val(), $(this).find("input"), chk_flag);
                        break;
                    case 'radio':
                        chk_flag = checkData($(this).find("input:checked"), $(this), chk_flag);
                        break;
                    default:
                        if ($(this).find('select').length >0) {
                            chk_flag = checkData($(this).find('select').val(), $(this).find('select'), chk_flag);
                        }
                        break;
                }
            }
        });
        if (chk_flag) {
            showAlert("有必選欄位未填寫!", msg_stat.Warning, 2500);
            return false;
        }

        //組儲存的資料
        var obj = new Object();//物件
        obj.CM_ID = $('.form-group #CM_name').val();
        obj.DETAIL = new Array();
        $('#Supplies_items .panel_field').each(function () {
            var item = new Object();//物件
            item.C_ID = $(this).find('select[name*=C_name]').val();
            item.C_QTY = $(this).find('input[name*=suplies_qty]').val();
            obj.DETAIL.push(item);
        });

         $.ajax({
            url: '@Url.Content("~/Supplies/suppliesPackage_Save")',
            type: 'POST',
            async: false,
            data: { objStr: encodeURIComponent(JSON.stringify(obj))},
            success: function (data) {
                if (data.status == 0) {
                    showAlert(data.message, msg_stat.Success);
                } else {
                    showAlert(data.message, msg_stat.Danger);
                }
            },
            error: function (jqXHR) {
                log(jqXHR);
                msg = '程式發生錯誤!';
            },
        });
    }

    function refresh_package() {  //新增刪除對畫面重整
        $.ajax({
            url: '@Url.Content("~/Supplies/Supplies_package")',
            type: 'POST',
            success: function (html) {
                $('#Rt_Suppackage').html(html);
            }
        });
    }

    function Delpackage(obj) {  //刪除
            if (confirm('確認刪除?')) {
                $(obj).button('loading');
                Save('@Url.Content("~/Supplies/package_Del")',
                    'POST',
                    {
                        'CMid': $('#CM_name :selected').val(),
                    },
                    function (data) {
                        if (data.status == '0') {
                            showAlert(data.message, msg_stat.Success);
                            refresh_package();
                        }
                        else {
                            showAlert(data.message, msg_stat.Danger);
                        }
                    },
                    function (data) {
                        $(obj).button('reset');
                    });
            }
    }

    function Supplies_items() { //增加耗材選項
        if (save_text != "")
        {
            room++;
            var objTo = document.getElementById('Supplies_items')
            var divtest = document.createElement("div");
            divtest.setAttribute("class", "removeclass" + room);
            var rdiv = 'removeclass' + room;
            divtest.innerHTML = addHtml.replace(/\$a/g, room);
            objTo.appendChild(divtest);
        } else {
            showAlert('請選擇套餐，再進行維護耗材!', msg_stat.Danger);
        }
        

    }

    function ResetpackageModalBody() {
        $('#packageModalBody')
            .find('input[type=text], input[type=hidden], textarea').val('')
            .end()
            .find('select').prop('selectedIndex', 0);
    }

    function ToSavepackage(obj) { //建立新套餐
        $(obj).button('loading');
        if (CheckReq('packageModalBody')) {
                Save('@Url.Content("~/Supplies/package_Save")',
                    'POST',
                    {
                        'CM_name': $.trim($('#CM_NAME').val()),
                    },
                    function (data) {
                        if (data.status == '3') {//重複
                            showAlert(data.message, msg_stat.Danger);
                        }
                        else {
                            if (data.status == '0') {
                                $('#packageModal').modal('hide');
                                showAlert(data.message, msg_stat.Success);
                                $('#index_loading').modal('show');
                                setTimeout(function () { refresh_package(); $('#index_loading').modal('hide'); }, 2000);
                                
                            }
                            else {
                                showAlert(data.message, msg_stat.Danger);
                            }
                        }
                    },
                    function (data) {
                        $(obj).button('reset');
                    });
        }
        else {
            $(obj).button('reset');
        }
    }
    function checkoption(pThis) {
        var selectVal = pThis.val();//目前取得到的資料
        var selectListNotMe = $('#Supplies_items select').not(pThis);//耗材清單的下拉選單內容(不包含自己)
        selectListNotMe.each(function () {
            if ($(this).val() == selectVal && $(this).val() !="") { //排除VAL等於空值狀態  
                showAlert($(this).find(' :selected').text() + '耗材重複，請重新選擇!', msg_stat.Danger);
                pThis.val('');
                return false;
            }
        });
    }


</script>
<div style="padding: 0 10vw 0 10vw;">
    <button class="btn btn-default btn-raised" data-exec-func="add" onclick="Modifypackage();">新增套餐</button>&nbsp;&nbsp;
    <div id="param_toolbar" style="display:inline-block;">
        <div class="form-inline">
            <div class="form-group">
                <label for="param_selector">選擇套餐</label>&nbsp;&nbsp;
                @Html.DropDownList("CM_name", Model.package_name, "請選擇套餐",new { @class= "form-control" ,@style= " width: 180px;"})
            </div>
        </div>
    </div>
    <div class="pull-right">
        <button class="btn btn-default " data-exec-func="add" onclick="ModifySavepackage();">儲存套餐</button>
        <button class="btn btn-default btn-raised" data-exec-func="add" onclick="Delpackage();">停用套餐</button>
    </div>
    <br />
    <br />
    <br />
    套餐內容  <button id="join_item" class="btn btn-default btn-raised" onclick="Supplies_items();" style="color:#42b343;">
        新增耗材
    </button>
    <br />
    <br />
        <table data-toggle="table" class="table table-bordered table-striped table-condensed">
            <thead style="background-color: #5BA198; color: #FFF;">
                <tr>
                    <th class="col-sm-5 nopadding" data-field="C_ID" data-sortable="true">耗材</th>
                    <th class="col-sm-5 nopadding" data-field="C_CNAME" data-sortable="true">數量</th>
                    <th class="col-sm-2 nopadding" data-field="VENDER_CODE" data-sortable="true"></th>
                </tr>
            </thead>
        </table>
        <div class="panel-body" style="height:100%">
            <div id="basic_field" style="display:none">
                <div class="panel_field">
                        <div class="col-sm-5 nopadding">
                            <div class="form-group" data-field="Y">
                                @Html.DropDownList("C_name$a", Model.suplies_name, "請選擇耗材", new { @onchange = "checkoption($(this));", @class = "form-control", @style = " width: 180px;" })
                            </div>
                        </div>
                        <div class="col-sm-5 nopadding">
                            <div class="form-group" data-field="Y">
                                <input type="number" name="suplies_qty$a" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' min="1" value="1" />
                            </div>
                        </div>
                        <div class="col-sm-2 nopadding">
                            <div class="form-group">
                                <div class="btn_area" style="display:table-cell;vertical-align:middle;">
                                    &emsp;
                                    <button class="btn btn-danger" type="button" onclick="$('.removeclass$a').remove();sumSource();" style="padding:10px;">
                                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div id="Supplies_items">

            </div>
        </div>
            </div>
            <div class="modal fade modal_assess" tabindex="-1" role="dialog" data-backdrop="true" id="packageModal">
                <div class="modal-dialog modal-slg">
                    <div class="modal-content rcs_form">
                        <div class="modal-header col-*-12">
                            <div class="btn-group col-*-6">
                                <h4 class="modal-title" id="packageModalTitle"></h4>
                            </div>
                            <div class="btn-group pull-right">
                                <button class="btn btn-success" data-loading-text="儲存中..." onclick="ToSavepackage(this);">儲存</button>
                                <button class="btn btn-warning" data-dismiss="modal">關閉</button>
                            </div>
                        </div>
                        <div class="modal-body" id="packageModalBody" style="background-color:#ebebeb;">
                            <input type="hidden" id="package_ID" name="package_ID" />
                            <table class="table table-bordered table-condensed table-striped" style="background-color:#FFF;">
                                <tr>
                                    <td>
                                        <label>套餐名稱：</label>
                                        <input type="text" class="form-control req_text" id="CM_NAME" name="CM_NAME" style="max-width:160px;display:inline-block;" maxlength="10" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
