@model RCS.Models.VIPViewModel
@{
    Layout = Url.Content("~/Views/Layout/VIPLayout.cshtml");
}
<style>
    .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
        height: 60px;
    }
</style>
<script type="text/javascript">
    var viewPage = '@Model.viewPage';
    var status_table;
    var target_id = '';//片語ID
    $(document).ready(function () {
        //$("#index_loading").modal('show');
        // 綁定可編輯下拉
        $("#Index .editable_select").each(function () {
            $(this).editableSelect({
                effects: 'slide',
                filter: false,
                appendTo: $('#Index'),
                onSelect: function (element) {
                    $(this).trigger("keyup");
                }
            });
        });

        $("#abg_panel #abg_table").bootstrapTable({
            url: "@Url.Content("~/VIP/GetAbgList")", toolbarAlign: "right",
            method: "post", search: true, clickToSelect: true,
            showRefresh: true,
            queryParams: function () { return { "chart_no": '@Model.patient_id' }; },
            toolbar: "#abg_toolbar"
        }).on('click-row.bs.table', function (e, row, index) {
            //先清空ABG相關欄位
            //$("#rt_record_form [name*=abg_]").val("");
            //$("#rt_record_form #abg_time").val(row.Date);
            //$("#rt_record_form #abg_ph").val(row.pH);
            //$("#rt_record_form #abg_paco2").val(row.PCO2);
            //$("#rt_record_form #abg_pao2").val(row.PO2);
            //$("#rt_record_form #abg_sao2").val(row.SaO2);
            //$("#rt_record_form #abg_hco3").val(row.HCO3);
            //$("#rt_record_form #abg_be").val(row.BaseExcess);
            //$("#abg_panel").modal("hide");
        });

        $("#phrase_panel #phrase_table").bootstrapTable({
            url: "@Url.Content("~/VIP/GetPhraseData")", toolbarAlign: "right",
            pagination: true,
            pageSize: 5,
            method: "post", search: true, clickToSelect: true,
            queryParams: function () { return { "type": target_id }; },
            });
        //鍵盤設定
        $.keyboard.layouts.custom1 = {
            'normal': [
                     '= ( ) {b}',
                     '{clear} / * -',
                     '7 8 9 +',
                     '4 5 6 {sign}',
                     '1 2 3 %',
                     '0 {dec} {a} {c}'
            ]
        };

        $('.keyboard').keyboard({
            //usePreview: false,
            layout: 'custom1'
        })
        // activate the typing extension
        .addTyping({
            showTyping: true,
            delay: 250
        });

        //$('input[list]').keyboard({
        //    openOn: null,
        //    stayOpen: false,
        //    alwaysOpen: false
        //});

        //// specjalna klawiatura ekranowa / klawiatura ekranowa
        //$('.keyboardBtn').click(function () {
        //    var keyboard = $(this).attr('keyboard');
        //    if (keyboard.length > 0) {
        //        debugger;
        //        var kb = $(this).parent().find('input[keyboard=' + keyboard + ']').getkeyboard();
        //        // change layout based on link ID
        //        kb.options.layout = 'custom1';
        //        // open keyboard if layout is different, or time from it last closing is > 200 ms
        //        if (kb.last.layout !== kb.options.layout || (new Date().getTime() - kb.last.eventTime) > 200) {
        //            kb.reveal();
        //        }
        //    }
        //});

        //var maxHeight = '200px';
        //var openOnClick = true;
        //$('input[list]').datalist(maxHeight, openOnClick);


            var elementTop = 0; // $element是保存的input
            var elementBottom = 0;
            var strlength = '';
            var body = $("#mybody");
            body.find('input,textarea').focus(function () {
                //最簡單的取得游標位置的方法
                //https://stackoverflow.com/questions/10719848/scroll-page-on-text-input-focus-for-mobile-devices
                elementTop = $(this).offset().top;
                elementBottom = elementTop + $(this).height();
            });
            $(window).resize(function () {
                var viewTop = $(window).scrollTop();            // 可视区域顶部
                var viewBottom = viewTop + window.innerHeight;  // 可视区域底部
                document.body.scrollTop = elementTop;
                //showAlert('viewTop(' + viewTop + '),viewBottom(' + viewBottom + '),elementTop(' + elementTop + '),elementBottom(' + elementBottom + ')', msg_stat.Warning,10000, 'bottom');
            });
            maya_datetimepicker($(".dt-picker"));//datetimepicker樣式
            //預設載入帶入最後一筆資料
            getByTurnOrLastRecordData();
            //$("#index_loading").modal('hide');
    });
    //顯示片語內容
    function show_phrase_panel(pBtn) {
        target_id = pBtn.attr('id');
        $("#phrase_panel #phrase_table").bootstrapTable("refresh");
        $('#phrase_panel').modal('show');
    }
    //選擇片語
    function checked_phrase() {
        // 帶入片語
        var sel_data = $("#phrase_panel #phrase_table").bootstrapTable("getSelections");
        var target = $("#abg textarea[name=" + target_id+"]");
        var tempArray = new Array();
        if (target.val() != '') tempArray.push(target.val());
        for (var i = 0; i <= sel_data.length - 1; i++) {
            tempArray.push(sel_data[i].P_VALUE);
        }
        target.val(tempArray.join());
        $("#phrase_panel").modal("hide");
    }
    //取得ABG_data
    function getABGData() {
        //取得3天內最新Abg
        target_id = $(this).attr("data-target");
        $("#abg_panel #abg_table").bootstrapTable("refresh");
        $("#abg_panel").modal("show");
    }

    //stauts = '9' 和Jill 確認哪一個註記還沒有使用，給VIP2儲存使用
    //取得VIP最後一筆資料 status  '0'(自動) or '1'(手動) 的資料
     function getByTurnOrLastRecordData() {
            //重新取得最新呼吸照護記錄單資料
            $.ajax({
                url: '@Url.Content("~/VIP/getThisRecordData")',
                data: { patient_id: '@Model.patient_id' },
                type: 'POST',
                dataType: 'json',
                beforeSend: function () {
                    $("#index_loading").modal('show');
                },
                success: function (data) {
                    console.log(data);
                    if (data.isWsError == true) {
                        showAlert(data.wsError, msg_stat.Danger);
                    } else {
                        // 處理主表單資料
                        fillJsonDom('index_form', data.attachment);
                    }
                },
                error: function (jqXHR) {
                    log(jqXHR);
                },
                complete: function () {
                    $("#index_loading").modal('hide');
                }
            });
        }
</script>
<div class="page  fade in" id="Index">
    <div class="container-fluid nav-tabs">
        <div class="navbar-text">
            <button class="btn-lg btn-danger navbar-btn"><i class="fa fa-floppy-o" aria-hidden="true"></i>儲存</button>&emsp;
            病歷號碼:<label>@Model.patient_id</label>&nbsp;
        </div>
        <ul class="nav navbar-nav nav-tabs navbar-right navbar-default">
            <li class="active"><a data-toggle="tab" href="#VIP"><i class="fa fa-file-text" aria-hidden="true"></i>儀器資料</a></li>
            <li><a data-toggle="tab" href="#abg"><i class="fa fa-flask" aria-hidden="true"></i>ABG</a></li>
            <li><a data-toggle="tab" href="#other"><i class="fa fa-hand-paper-o" aria-hidden="true"></i>手動輸入</a></li>
        </ul>
    </div>
    <div class="tab-content page-container" style="height:200px;" id="index_form">
        <div id="VIP" class="tab-pane fade in active panel panel-success">
            <div class="panel-heading">
                <div class="container-fluid h3">
                    呼吸治療記錄單
                    <button class="btn-lg btn-success pull-right"  onclick="getByTurnOrLastRecordData();"><i class="fa fa-files-o" aria-hidden="true"></i>重新帶入最後一筆資料</button>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">記錄日期</span>
                            <input type="text" class="form-control dt-picker" dt-format="d" data-rcs-cate = "recorddate" readonly />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">記錄時間</span>
                            <input type="text" class="form-control dt-picker" dt-format="t" data-rcs-cate = "recordtime" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">呼吸器編號</span>
                            <select type="select" class="form-control " data-rcs-cate="respid" id="respid" name="respid">
                                <option value=""></option>
                                @foreach (RCS_Data.DeviceMaster item in Model.resplist)
                                {
                                    if (string.IsNullOrWhiteSpace(item.USE_STATUS) || item.USE_STATUS == "N")
                                    {
                                        <option value="@(item.field_value)" style="background-color: #a4a4a4" disabled>@(item.DEVICE_SEQ)</option>
                                    }
                                    else if (string.IsNullOrWhiteSpace(item.ROOM))
                                    {
                                        <option value="@(item.field_value)">@(item.DEVICE_SEQ)</option>
                                    }
                                    else
                                    {
                                        <option value="@(item.field_value)" style="background-color: #C8EEFA">@(item.DEVICE_SEQ)</option>
                                    }
                                }
                            </select>
                            @*<input list="browsers" class="form-control" keyboard="browsers" readonly>
                            <datalist id="browsers">
                                <option value="HIGH FLOW-H025033333" />
                                <option value="HIGH FLOW-H025011111" />
                                <option value="HIGH FLOW-H025022222" />
                            </datalist>
                            <span class="input-group-addon keyboardBtn" keyboard="browsers"><i class="fa fa-keyboard-o" aria-hidden="true"></i></span>*@
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Ventilator Type</span>
                            @Html.DropDownList("device", new SelectList(Model.sys_params_list.get_group_list("Index_device", "device"), "P_VALUE", "P_NAME"), new { @class = "form-control ", @maxlength = "20", @data_rcs_cate = "device", @type = "select" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Ventilation Mode</span>
                            @Html.DropDownList("mode", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "mode"), "P_VALUE", "P_NAME"), new { @class = "form-control editable_select " , @maxlength = "20", @data_rcs_cate = "mode", @type = "select", @readonly="" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Inspiratory Time / I:E ratio</span>
                            @Html.DropDownList("insp_time", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "insp_time"), "P_VALUE", "P_NAME"),
                                            new { @class = "form-control editable_select ", @maxlength = "5", @data_min = "0", @data_max = "1" , @data_rcs_cate = "insp_time", @type = "select", @readonly = "" })
                            <span class="input-group-addon"> / </span>
                            @Html.DropDownList("ie_ratio", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "ie_ratio"), "P_VALUE", "P_NAME"),
                                            new { @class = "form-control editable_select ", @maxlength = "7", @data_pattern = "1:1|1.5:1|2:1|2.5:1|3:1" , @data_rcs_cate = "ie_ratio", @type = "select", @readonly = "" })
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Flow/ Flow Pattern</span>
                            @Html.DropDownList("flow", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "flow"), "P_VALUE", "P_NAME"),
                                            new { @class = "form-control editable_select ", @maxlength = "5", @data_min = "1", @data_max = "79" , @data_rcs_cate = "flow", @type = "select", @readonly = "" })
                            <span class="input-group-addon"> / </span>
                            @Html.DropDownList("flow_pattern", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "flow_pattern"), "P_VALUE", "P_NAME"),
                                            new { @class = "form-control editable_select", @maxlength = "1", @data_min = "1", @data_max = "79" , @data_rcs_cate = "flow_pattern", @id = "flow_pattern", @type = "select", @readonly = "" })
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Pressure Peak / Plateau</span>
                            @Html.DropDownList("pressure_peak", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "pressure_peak"), "P_VALUE", "P_NAME"), new { @class = "form-control editable_select", @maxlength = "5", @data_min = "11", @data_max = "34" , @data_rcs_cate = "pressure_peak", @type = "select", @readonly = "" })
                            <span class="input-group-addon"> / </span>
                            @Html.DropDownList("pressure_plateau", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "pressure_plateau"), "P_VALUE", "P_NAME"), new { @class = "form-control editable_select", @maxlength = "5", @data_min = "11", @data_max = "34" , @data_rcs_cate = "pressure_plateau", @type = "select", @readonly = "" })
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Pressure Mean / PEEP</span>
                            @Html.DropDownList("pressure_mean", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "pressure_mean"), "P_VALUE", "P_NAME"), new { @class = "form-control editable_select", @maxlength = "5", @data_min = "11", @data_max = "24" , @data_rcs_cate = "pressure_mean", @type = "select", @readonly = "" })
                            <span class="input-group-addon"> / </span>
                            @Html.DropDownList("pressure_peep", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "pressure_peep"), "P_VALUE", "P_NAME"), new { @class = "form-control editable_select ", @maxlength = "5", @data_min = "0", @data_max = "9", @data_rcs_cate = "pressure_peep", @id = "pressure_peep", @type = "select", @readonly = "" })
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">FiO<sub>2</sub>(%) set / Measured</span>
                            @Html.DropDownList("fio2_set", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "fio2_set"), "P_VALUE", "P_NAME"),
                                       new { @class = "form-control editable_select ", @maxlength = "6", @data_min = "21", @data_max = "59", @data_rcs_cate = "fio2_set", @id = "fio2_set", @type = "select", @readonly = "" })
                            <span class="input-group-addon"> / </span>
                            @Html.DropDownList("fio2_measured", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "fio2_measured"), "P_VALUE", "P_NAME"),
                                       new { @class = "form-control editable_select", @maxlength = "4" , @data_rcs_cate = "fio2_measured", @id = "fio2_measured", @type = "select", @readonly = "" })
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Low M.V alarm / Pa</span>
                            @Html.DropDownList("low_mv_alarm", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "low_mv_alarm"), "P_VALUE", "P_NAME"),
                                       new { @class = "form-control editable_select ", @maxlength = "5" , @data_rcs_cate = "low_mv_alarm", @id = "low_mv_alarm", @type = "select", @readonly = "" })
                            <span class="input-group-addon"> / </span>
                            @Html.DropDownList("paw_alarm", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "paw_alarm"), "P_VALUE", "P_NAME"),
                                       new { @class = "form-control editable_select ", @maxlength = "5", @data_min = "25", @data_max = "59" , @data_rcs_cate = "paw_alarm", @id = "paw_alarm", @type = "select", @readonly = "" })
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Sensitivity (Pressure / flow)</span>
                            @Html.DropDownList("pressure_sensitivity", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "pressure_sensitivity"), "P_VALUE", "P_NAME"),
                                       new { @class = "form-control editable_select ", @maxlength = "2" , @data_rcs_cate = "pressure_sensitivity", @id = "pressure_sensitivity", @type = "select", @readonly = "" })
                            <span class="input-group-addon"> / </span>
                            @Html.DropDownList("sensitivity_flow", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "sensitivity_flow"), "P_VALUE", "P_NAME"),
                                       new { @class = "form-control editable_select ", @maxlength = "2" , @data_rcs_cate = "sensitivity_flow", @id = "sensitivity_flow", @type = "select", @readonly = "" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Tidal Volume set / monitor</span>
                            @Html.DropDownList("vt_set", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "vt_set"), "P_VALUE", "P_NAME"), new { @class = "form-control editable_select ", @maxlength = "5", @data_min = "301", @data_max = "799", @data_rcs_cate = "vt_set", @type = "select", @style = "padding-right: 0 !important;", @readonly = "" })
                            <span class="input-group-addon"> / </span>
                            <input type="text" class="form-control" data-rcs-cate="vt" data-min="301" data-max="799" id="vt" name="vt" maxlength="5" placeholder=""  readonly />
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Ventilation rate set / total</span>
                            @Html.DropDownList("mv_set", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "mv_set"), "P_VALUE", "P_NAME"), new { @class = "form-control editable_select ", @maxlength = "5", @data_min = "3.1", @data_max = "14.9" , @data_rcs_cate = "mv_set", @type = "select", @readonly = "" })
                            <span class="input-group-addon"> / </span>
                           @Html.DropDownList("mv", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "mv"), "P_VALUE", "P_NAME"), new { @class = "form-control editable_select", @maxlength = "5", @data_min = "3.1", @data_max = "14.9" , @data_rcs_cate = "mv", @type = "select", @readonly = "" })
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Minute Volume set / total</span>
                            @Html.DropDownList("mv_set", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "mv_set"), "P_VALUE", "P_NAME"), new { @class = "form-control editable_select ", @maxlength = "5", @data_min = "3.1", @data_max = "14.9",  @data_rcs_cate = "mv_set", @type = "select", @readonly = "" })
                            <span class="input-group-addon"> / </span>
                            @Html.DropDownList("mv", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "mv"), "P_VALUE", "P_NAME"), new { @class = "form-control editable_select", @maxlength = "5", @data_min = "3.1", @data_max = "14.9",  @data_rcs_cate = "mv", @type = "select", @readonly = "" })
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Pressure PS / PC (△P)</span>
                            @Html.DropDownList("pressure_ps", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "pressure_ps"), "P_VALUE", "P_NAME"),
                                       new { @class = "form-control editable_select ", @maxlength = "5", @data_min = "0", @data_max = "30",  @data_rcs_cate = "pressure_ps", @id = "pressure_ps", @type = "select", @readonly = "" })
                            <span class="input-group-addon"> / </span>
                            @Html.DropDownList("pressure_pc", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "pressure_pc"), "P_VALUE", "P_NAME"),
                                       new { @class = "form-control editable_select ", @maxlength = "5", @data_min = "0", @data_max = "30", @data_rcs_cate = "pressure_pc", @id = "pressure_pc", @type = "select", @readonly = "" })
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">E sense / rise time</span>
                            <select type="select" class="form-control editable_select " data-rcs-cate="e_sense" id="e_sense" name="e_sense" maxlength="5" readonly>
                                <option value="Auto">Auto</option>
                            </select>
                            <span class="input-group-addon"> / </span>
                            <select type="select" class="form-control editable_select " data-rcs-cate="rise_time" id="rise_time" name="rise_time" maxlength="5" readonly>
                                <option value="Auto">Auto</option>
                            </select>
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Temperature (°C)</span>
                            @Html.DropDownList("temp", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "temp"), "P_VALUE", "P_NAME"),
                                            new { @type = "select", @class = "form-control editable_select ",  @maxlength = "5", @data_rcs_cate = "humi_temp", @id = "humi_temp", @name = "humi_temp", @readonly = "" })
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Pressure (High / Low)</span>
                            @Html.DropDownList("pressure_sensitivity", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "pressure_sensitivity"), "P_VALUE", "P_NAME"),
                                       new { @class = "form-control editable_select ", @maxlength = "2", @data_rcs_cate = "pressure_sensitivity", @id = "pressure_sensitivity", @type = "select", @readonly = "" })
                            <span class="input-group-addon"> / </span>
                            @Html.DropDownList("sensitivity_flow", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "sensitivity_flow"), "P_VALUE", "P_NAME"),
                                       new { @class = "form-control editable_select ", @maxlength = "2", @data_rcs_cate = "sensitivity_flow", @id = "sensitivity_flow", @type = "select", @readonly = "" })
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Time High / Time Low</span>
                            @Html.DropDownList("thigh", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "thigh"), "P_VALUE", "P_NAME"), new { @class = "form-control editable_select ", @maxlength = "5", @data_max = "2.9", @data_rcs_cate = "thigh", @type = "select", @readonly = "" })
                            <span class="input-group-addon"> / </span>
                            @Html.DropDownList("tlow", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "tlow"), "P_VALUE", "P_NAME"), new { @class = "form-control editable_select ", @maxlength = "5", @data_min = "1.1",  @data_rcs_cate = "tlow", @type = "select", @readonly = "" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="abg" class="tab-pane fade panel panel-warning">
            <div class="panel-heading">
                <div class="container-fluid h3">
                    <button onclick="$('#abg_panel').modal('show');" class="btn-lg btn-warning pull-right"><i class="fa fa-search" aria-hidden="true"></i>取得前三天ABG</button>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Time</span>
                            <input type="text" class="form-control dt-picker" readonly />
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">pH</span>
                            <input type="text" class="form-control keyboard" readonly />
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">PaCO2</span>
                            <input type="text" class="form-control keyboard" readonly />
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">PaO2 / SaO2</span>
                            <input type="text" class="form-control keyboard" readonly />
                            <span class="input-group-addon"> / </span>
                            <input type="text" class="form-control keyboard" readonly />
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">HCO3 / BE</span>
                            <input type="text" class="form-control keyboard" readonly />
                            <span class="input-group-addon"> / </span>
                            <input type="text" class="form-control keyboard" readonly />
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">P(A-a)DO2 / Shunt</span>
                            <input type="text" class="form-control keyboard" readonly />
                            <span class="input-group-addon"> / </span>
                            <input type="text" class="form-control keyboard" readonly />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                備註
                                <button id="R_Memo" onclick="show_phrase_panel($(this));" class="btn-lg btn-warning pull-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>片語</button>
                            </span>
                        </div>
                        <div class="form-group">
                            <textarea name="R_Memo" class="form-control keyboard" readonly></textarea>
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                藥物備註
                                <button id="R_Drug_Memo" onclick="show_phrase_panel($(this));" class="btn-lg btn-warning pull-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>片語</button>
                            </span>
                        </div>
                        <div class="form-group">
                            <textarea name="R_Drug_Memo" class="form-control keyboard" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="other" class="tab-pane fade panel panel-success">
            <div class="panel-heading">
                <div class="container-fluid h3">

                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Respiration rate (minute)</span>
                            @Html.DropDownList("rr", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "rr"), "P_VALUE", "P_NAME"),
                                            new { @class = "form-control editable_select", @maxlength = "2", @data_min = "5", @data_max = "35" , @data_rcs_cate = "rr", @id = "rr", @type = "select" })
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">VT / MV</span>
                            <input type="text" class="form-control keyboard" readonly />
                            <span class="input-group-addon"> / </span>
                            <input type="text" class="form-control keyboard" readonly />
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">PI max / PE max</span>
                            <input type="text" class="form-control keyboard" readonly />
                            <span class="input-group-addon"> / </span>
                            <input type="text" class="form-control keyboard" readonly />
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">RSBI</span>
                            <input type="text" class="form-control keyboard" readonly />
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">E.T. size / mark</span>
                            @Html.DropDownList("et_size", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "et_size"), "P_VALUE", "P_NAME"),
                                       new { @class = "form-control editable_select   mustIntubate", @maxlength = "5",   @data_rcs_cate = "et_size", @id = "et_size", @type = "select", @readonly = "" })
                            <span class="input-group-addon"> / </span>
                            @Html.DropDownList("et_mark", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "et_mark"), "P_VALUE", "P_NAME"),
                                       new { @class = "form-control editable_select   mustIntubate", @maxlength = "5", @data_min = "16", @data_max = "24", @data_rcs_cate = "et_mark", @id = "et_mark", @type = "select", @readonly = "" })
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Cuff pressure (cmH2O)</span>
                            @Html.DropDownList("cuff", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "cuff"), "P_VALUE", "P_NAME"), new { @class = "form-control editable_select", @maxlength = "10", @data_min = "24", @data_max = "30",  @data_rcs_cate = "cuff", @id = "cuff", @type = "select", @readonly = "" })
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Cuff-leak(ml) / (%)</span>
                            <input type="text" class="form-control keyboard" readonly />
                            <span class="input-group-addon"> / </span>
                            <input type="text" class="form-control keyboard" readonly />
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Breath sound</span>
                            @Html.DropDownList("breath_sound", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "breath_sound"), "P_VALUE", "P_NAME"),
                                       new { @class = "form-control editable_select", @maxlength = "20",  @data_rcs_cate = "breath_sound", @id = "breath_sound", @type = "select", @readonly = "" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Pulse rate</span>
                            <input type="text" class="form-control keyboard" readonly />
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">BP (mmHg)</span>
                            <input type="text" class="form-control keyboard" readonly />
                            <span class="input-group-addon"> / </span>
                            <input type="text" class="form-control keyboard" readonly />
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">GCS：E/V/M</span>
                            @Html.DropDownList("gcse", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "gcse"), "P_VALUE", "P_NAME"), "", new { @class = "form-control", @maxlength = "1", @data_rcs_cate = "gcse", @type = "select", @placeholder = "1~4", @readonly = "" })
                            <span class="input-group-addon">/</span>
                            @Html.DropDownList("gcsv", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "gcsv"), "P_VALUE", "P_NAME"), "", new { @class = "form-control", @maxlength = "1", @data_rcs_cate = "gcsv", @type = "select", @placeholder = "1~5", @readonly = "" })
                            <span class="input-group-addon">/</span>
                            @Html.DropDownList("gcsm", new SelectList(Model.sys_params_list.get_group_list("RTRecord_Detail", "gcsm"), "P_VALUE", "P_NAME"), "", new { @class = "form-control", @maxlength = "1", @data_rcs_cate = "gcsm", @type = "select", @placeholder = "1~6", @readonly = "" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade setScrollbar phraseCarry" tabindex="-1" role="dialog" id="phrase_panel">
    <div class=" modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn-group pull-right" style="margin-top: 0.3em;">
                    <button class="btn btn-info exec-func" data-func="carry-in" onclick="checked_phrase();">帶入</button>
                    <button class="btn btn-warning" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span>&nbsp;關閉</button>
                </div>
                <h4 class="modal-title">片語選擇</h4>
            </div>
            <div class="modal-body">
                <table id="phrase_table" class="table table-hover table-condensed table-no-bordered">
                    <thead>
                        <tr>
                            <th data-checkbox="true"></th>
                            <th data-field="P_VALUE">片語內容</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade setScrollbar" tabindex="-1" role="dialog" id="abg_panel">
    <div class=" modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn-group pull-right" style="margin-top: 0.3em;">
                    <button class="btn btn-warning" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span>&nbsp;關閉</button>
                </div>
                <h4 class="modal-title">最近三日ABG</h4>
            </div>
            <div class="modal-body">
                <table id="abg_table" class="table table-hover table-condensed table-no-bordered">
                    <thead>
                        <tr>
                            <th data-field="Date">Time</th>
                            <th data-field="pH">PH</th>
                            <th data-field="PCO2">PaCO<sub>2</sub></th>
                            <th data-field="PO2">PaO<sub>2</sub></th>
                            <th data-field="SaO2">SaO<sub>2</sub></th>
                            <th data-field="HCO3">HCO<sub>3</sub></th>
                            <th data-field="BaseExcess">BE</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->