@model  RCS_Data.Controllers.OPDScheduling.OPD_TREATMENT_VM
@using RCS.Models.ViewModel
@{
    ViewBag.Title = "OPDScheduling_Index_Pdf";
    RCS_Data.Controllers.OPDScheduling.OPD_TREATMENT_VM OPD_Treatment_List = (RCS_Data.Controllers.OPDScheduling.OPD_TREATMENT_VM)ViewBag.OPD_TreatmentNode;
}
  
<table @*border="1" cellpadding="5"*@ style="font-size: 16px;width:100%;height:100%;">@*border:2px solid;*@
    <thead>
        <tr>
            <td style="height:3%">
                <span>
                    OPD PR 清單
                </span>
                @(OPD_Treatment_List.weakenSdate) ~ @(OPD_Treatment_List.weakenEdate)
            </td>
        </tr>
    </thead>
@for (int i = 1; i <= 5; i++)
{
    <tr>
        <td style="height:3%;font-weight:bold;">
            @(OPD_Treatment_List.opd_list[i].treatment_date) &ensp; @("(")@(OPD_Treatment_List.opd_list[i].treatment_day)@(")")
            <br />
        </td>
    </tr>
    <tr>
        <td>                
            @if (OPD_Treatment_List.opd_list[i].treatment_person > 0 || OPD_Treatment_List.opd_6_min_list[i].treatment_person > 0)
            {
                foreach (var opd_listitem in OPD_Treatment_List.opd_list[i].opd_per)
                {
                    foreach (var opd_list_itemTemp in opd_listitem.opd_pat)
                    {
                        <span> 
                            &nbsp;&nbsp;&nbsp;@(opd_list_itemTemp.treatment_per_show)&ensp;@("(")@(opd_list_itemTemp.opd_count + "/4")@(")")@(opd_list_itemTemp.patient_name)@(opd_list_itemTemp.show_chart_no)&ensp;@("(")@(string.Join(",", opd_list_itemTemp.treatment))@(")")
                            @if (!string.IsNullOrWhiteSpace(opd_list_itemTemp.drug_inhalation))
                            {
                            @(",")@(opd_list_itemTemp.drug_inhalation)
                            }
                            &ensp;
                            @if(!string.IsNullOrWhiteSpace(opd_list_itemTemp.MEMO))
                            {
                            @(",")@(opd_list_itemTemp.MEMO)
                            }
                        </span>
                        <br />
                    }
                }
                foreach (var opd_6_min_listitem in OPD_Treatment_List.opd_6_min_list[i].opd_per)
                {
                    foreach (var opd_6_min_list_itemTemp in opd_6_min_listitem.opd_pat)
                    {
                        <span> 
                            &nbsp;&nbsp;&nbsp;@(opd_6_min_list_itemTemp.treatment_per_show)&ensp;@("(")@(opd_6_min_list_itemTemp.opd_count + "/4")@(")")@(opd_6_min_list_itemTemp.patient_name)@(opd_6_min_list_itemTemp.show_chart_no)&ensp;@("(")@(string.Join(",", opd_6_min_list_itemTemp.treatment))@(")")
                            @if (!string.IsNullOrWhiteSpace(opd_6_min_list_itemTemp.drug_inhalation))
                            {
                            @(",")@(opd_6_min_list_itemTemp.drug_inhalation)
                            }
                            &ensp;
                            @if(!string.IsNullOrWhiteSpace(opd_6_min_list_itemTemp.MEMO))
                            {
                            @(",")@(opd_6_min_list_itemTemp.MEMO)
                            }
                        </span>
                        <br />
                    }
                }
            }
            else
            {
                <span>
                    &nbsp;&nbsp;&nbsp;無資料
                </span>
            }
        </td>
    </tr>
}
</table>


@*<table border="1" cellpadding="5" style="border:2px solid;text-align:center;font-size: 12px;width:100%;height:100%;">
        <thead>
            <tr>
                <td colspan="21" align="center">
                    @(OPD_Treatment_List.opd_title)&emsp;@(OPD_Treatment_List.weakenSdate)~@(OPD_Treatment_List.weakenEdate)
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                @for (int i = 1; i <= 5; i++)
                {
                    <td colspan="4" style="border:1px solid;" align="center">
                        @(OPD_Treatment_List.opd_list[(i)].treatment_date) &emsp; @("(") @(OPD_Treatment_List.opd_list[(i)].treatment_day) @(")")
                    </td>
                }
            </tr>
            <tr>
                <td>治療人數</td>
                @for (int i = 1; i <= 5; i++)
                {
                    <td colspan="2" style="border:1px solid;" align="center">
                        @(OPD_Treatment_List.opd_list[i].treatment_person)
                    </td>
                    <td colspan="2" style="border:1px solid;" align="center">
                        @(OPD_Treatment_List.opd_6_min_list[i].treatment_person)
                    </td>
                }
            </tr>
            @for (int i = 0; i < OPD_Treatment_List.timePer.Count; i++)
            {
                <tr>
                    <td>
                        @string.Format("{0} ~ {1}", OPD_Treatment_List.timePer[i][0], OPD_Treatment_List.timePer[i][1])
                    </td>
                    @for (int j = 1; j <= 5; j++)
                    {
                        <td colspan="2" style="border:1px solid;width:10% " align="center">
                            @if (OPD_Treatment_List.opd_list != null && OPD_Treatment_List.opd_list.Count > 0)
                            {
                                foreach (var item in OPD_Treatment_List.opd_list[j].opd_per[i].opd_pat)
                                {
                                    @item.patient_name
                                    <br />
                                    @item.chart_no
                                    <br />
                                    <br />
                                }
                            }
                        </td>
                        <td colspan="2" style="border:1px solid; width:10%" align="center">
                            @if (OPD_Treatment_List.opd_6_min_list != null && OPD_Treatment_List.opd_6_min_list.Count > 0)
                            {
                                foreach (var itemA in OPD_Treatment_List.opd_6_min_list[j].opd_per[i].opd_pat)
                                {
                                    @itemA.patient_name
                                    <br />
                                    @itemA.chart_no
                                    <br />
                                    <br />
                                }
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>*@
