@model RCS.Models.ViewModel.OPD_TREATMENT_VM
@using RCS.Models.ViewModel
@{
    ViewBag.Title = "week_index";
}
 
<div>
    &ensp;&ensp;&ensp;門診療程周表&ensp;&ensp;
    <button class="btn btn-success" v-on:click="getOPDData(-1)">
        上週
    </button>&ensp;
    <button class="btn btn-success" v-on:click="getOPDData(0)">
        本週
    </button>&ensp;
    <button class="btn btn-success" v-on:click="getOPDData(1)" >
        下週
    </button>
    &emsp;*前
    <select v-model="copysetCnt" class="form-control"  style="width:120px;display:initial;">
        <option value="1">1</option>
        <option value="2">2</option>
        display<option value="3">3</option>
        <option value="4">4</option>
    </select>週
    <button class="btn btn-info" v-on:click="copyPreWeek">
        複製至此週
    </button>
    <button class="btn btn-primary" v-on:click="printOPDWEAKENVM">
        列印清單
    </button>
    <button class="btn btn-default pull-left" v-on:click="save">
        儲存
    </button>
</div><br />
<div class="col-md-6 col-centered text-center" >
    <h4>@Model.opd_title {{weakenSdate}} - {{weakenEdate}}</h4>
</div>
<div id="OPD_WEAKEN_VM" style="height:600px;overflow-y:scroll;">
    <table class="table table-bordered table-hover " style="padding-top:10px;background-color: #FFF;width:100%;">
        <thead style="background-color: #5BA198; color: #FFF;">
            <tr>
                <th style="width:16%;"> </th>
                @foreach (string o in Model.weaken)
                {
                    if (!Model.not_show_day.Contains(o))
                    {
                        <th class="@(Model.not_show_day.Contains(o)?"hidden":"") text-center" colspan="2" style="width:6%;">
                            @o
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    治療人數
                </td>
                @for (int i = 0; i < Model.weaken.Count; i++)
                {
                    <td class="@(Model.not_show_day.Contains(Model.weaken[i])?"hidden":"") count_pat text-center">
                        {{ !!opd_list[@(i)] ?  opd_list[@(i)].treatment_person : 0 }}
                    </td>
                    <td class="@(Model.not_show_day.Contains(Model.weaken[i])?"hidden":"") count_pat text-center success">
                        {{ !!opd_6_min_list[@(i)] ?  opd_6_min_list[@(i)].treatment_person : 0 }}
                    </td>
                }
                
            </tr>
            @for (int i = 0; i < Model.timePer.Count; i++)
            {
                <tr class="opd_weak">
                    <td>
                        @string.Format("{0} ~ {1}", Model.timePer[i][0], Model.timePer[i][1])
                    </td>
                    @for (int j = 0; j < Model.weaken.Count; j++)
                    {
 
                        <td class="@(Model.not_show_day.Contains(Model.weaken[j])?"hidden":"") opd_pat" 
                            style="width:9%;cursor: pointer;" align="center" valign="middle" 
                            v-on:click="open_modal('@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.timePer[i])))','@(Html.Raw(Model.weaken[j]))',@i,@j)">
                             <template v-if="!!opd_list  &&  opd_list.length > 0">
                                 <ul class="list-group" v-for="i in opd_list[@(j)].opd_per[@(i)].opd_pat"  v-if="i.datastatus != '9'">
                                     <li class="list-group-item">{{i.patient_name}}&ensp;<br />
                                     <span  v-bind:class="['label','label-default', i.MEMO.indexOf('請假') >= 0 || i.MEMO.indexOf('住院') >= 0 ? 'label-warning' : '' ]"  >{{ !!i.show_chart_no ?  i.show_chart_no : i.chart_no}}</span></li>
                                 </ul>
                             </template>
                        </td>
                        <td class="@(Model.not_show_day.Contains(Model.weaken[j])?"hidden":"") opd_pat success" 
                            style="width:9%;cursor: pointer;"  align="center" valign="middle" 
                            v-on:click="open_modal('@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.timePer[i])))','@(Html.Raw(Model.weaken[j]))',@i,@j,true)">
                            <template v-if="!!opd_6_min_list  && opd_6_min_list.length> 0">
                                <ul class="list-group" v-for="i in opd_6_min_list[@(j)].opd_per[@(i)].opd_pat" v-if="i.datastatus != '9'">
                                    <li class="list-group-item">
                                        {{i.patient_name}}&ensp;<br />
                                        <span v-bind:class="['label','label-default', i.MEMO.indexOf('請假') >= 0 || i.MEMO.indexOf('住院') >= 0 ? 'label-warning' : '' ]">{{ !!i.show_chart_no ?  i.show_chart_no : i.chart_no}}</span>
                                    </li>
                                </ul>
                            </template>
                        </td>
                    }
                  
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Modal -->
<div id="add_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn-group pull-right" style="margin-top: 0.3em;">
                    @*<button class="btn btn-info">儲存</button>*@
                    <button class="btn btn-info" v-on:click="save">
                        儲存
                    </button>
                    <button class="btn btn-warning" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span>&nbsp;關閉</button>
                </div>
                <h4 class="modal-title">{{modalTitle}}&emsp;新增療程</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>病歷號</th>
                            <th>姓名</th>
                            <th>療程</th>
                            <th>備註</th>
                            <th>排序</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <input type="text" class="form-control" v-model="set_model.chart_no" />
                            </td>
                            <td>
                                <template v-if="model.is6min">
                                    <label><input v-model="set_model.treatment" type="checkbox" value="6 min" />&ensp;6 min</label>
                                </template>
                                <template v-else >
                                    <label><input v-model="set_model.treatment" type="checkbox" value="purse lip" />&ensp;purse lip</label>
                                    <label><input v-model="set_model.treatment" type="checkbox" value="diaphragm breathing" />&ensp;diaphragm breathing</label>
                                    <br />
                                    <label><input v-model="set_model.treatment" type="checkbox" value="huffing/cough" />&ensp;huffing/cough</label>
                                    <label><input v-model="set_model.treatment" type="checkbox" value="Flutter" />&ensp;Flutter</label>
                                    <br />
                                    <label><input v-model="set_model.treatment" type="checkbox" value="CPT衛教/PD" />&ensp;CPT衛教/PD</label>
                                    <label><input v-model="set_model.treatment" type="checkbox" value="手搖車/腳踏車" />&ensp;手搖車/腳踏車</label>
                                    <br />
                                    <label><input v-model="set_model.treatment" type="checkbox" value="上/下肢運動" />&ensp;上/下肢運動</label>
                                    <label><input v-model="set_model.treatment" type="checkbox" value="負壓呼吸器" />&ensp;負壓呼吸器</label><!-- 順序1-->
                                    <br />
                                    <label><input v-model="set_model.treatment" type="checkbox" value="ultrasound" />&ensp;ultrasound</label> <!-- 順序3-->
                                    <label><input v-model="set_model.treatment" type="checkbox" value="拍痰衣" />&ensp;拍痰衣</label>
                                    <label><input v-model="set_model.treatment" type="checkbox" value="PEP" />&ensp;PEP</label>
                                    <br />
                                    <label><input v-model="set_model.treatment" type="checkbox" value="MDI/藥物 衛教" />&ensp;MDI/藥物 衛教</label>
                                    <label><input v-model="set_model.treatment" type="checkbox" value="COPD/Asthma 疾病衛教" />&ensp;COPD/Asthma 疾病衛教</label>
                                    <br />
                                    <label><input v-model="set_model.treatment" type="checkbox" value="IPPB" />&ensp;IPPB</label>
                                    <label><input v-model="set_model.treatment" type="checkbox" value="IMT" />&ensp;IMT</label>
                                    <br />
                                    <label><input v-model="set_model.treatment" type="checkbox" value="N.C" />&ensp;N.C</label>
                                    <label><input v-model="set_model.treatment" type="checkbox" value="H.F-N-CPAP" />&ensp;H.F-N-CPAP</label> <!-- 順序2-->
                                    <br />
                                    <label><input v-model="set_model.drug_inhalation" type="text" placeholder="輸入藥物吸入" class="form-control" style="width:120px;" /></label>
                                </template>
                               
                            </td>
                            <td  >
                                <input type="text" class="form-control" v-model="set_model.MEMO" />
                            </td>
                            <td>
                                <input type="text" class="form-control" v-model="set_model.orderby" />
                            </td>
                            <td class="text-center" valign="middle">
                                <template v-if="isFix">
                                    <button class="btn btn-success" v-on:click="reset_model">
                                        修改
                                    </button>
                                </template>
                                <template v-else>
                                    <button class="btn btn-success" v-on:click="add_model">
                                        加入
                                    </button>
                                </template>
                               
                            </td>
                        </tr>
                        <tr v-for="(i,index) in model.opd_pat" v-if="i.datastatus != '9'">
                            <td>{{i.chart_no}}</td>
                            <td>{{i.patient_name}}</td>
                            <td>{{i.treatment.join(',')}}<span v-if="!!i.drug_inhalation">,{{i.drug_inhalation}}</span></td>
                            <td>{{i.MEMO}}</td>
                            <td>{{i.orderby}}</td>
                            <td  class="text-center" valign="middle">
                                <button class="btn btn-success" v-on:click="fix_model(index)">
                                    修改
                                </button>
                                <button class="btn btn-danger" v-on:click="del_model(index)">
                                    刪除
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        </div>

    </div>
</div>
<form id="pdfForm" action="@(Url.Content("~/OPDScheduling/DownloadPdf"))" method="post" target="TheNewWindow">
    <input type="hidden" id="HtmlStr" name="HtmlStr" />
</form>
<script>
    var week_index_set_vm = {
        copysetCnt: 1,
        isFix: false,
        model: { opd_pat: [], is6min: false },
        modalTitle:'',
        set_model: { chart_no: '', ipd_no: '', patient_name: '', treatment: [] },
        opd_6_min_list: [],
        opd_list: [],
        weakenEdate: '',
        weakenSdate: ''
    };
    var week_index_vm = new Vue({
        el: '#OPD_TREATMENT_weekly',
        data: week_index_set_vm,
        methods: {
            add_model: function () {
                $('#index_loading').modal('show');
                if (!!this.set_model.chart_no && this.set_model.treatment.length > 0) {
                    debugger;
                    this.$http.post('@Url.Content("~/OPDScheduling/search_chart_no")', {
                        chart_no: this.set_model.chart_no 
                    }).then((response) => {
                        if (response.data.length > 0) {
                            this.set_model.ipd_no = response.data[0].ipd_no;
                            debugger;
                            this.set_model.chart_no = response.data[0].chart_no;
                            this.set_model.patient_name = response.data[0].patient_name;
                            this.model.opd_pat.push(JSON.parse(JSON.stringify(this.set_model)));
                            this.reset_model();
                            $('#index_loading').modal('hide');
                        } else {
                             
                            $('#index_loading').modal('hide');
                            alert('查無此病例號!');
                        }
                        this.computed_model();
                        
                    }, (response) => {
                        alert('查詢病歷號發生錯誤，請洽資訊人員!');
                        $('#index_loading').modal('hide');
                    });
                    
                } else {
                    $('#index_loading').modal('hide');
                    alert('請輸入病歷號，或選擇療程!');
                }
                 
            },
            del_model: function (index) {
                this.model.opd_pat[index].datastatus = '9';
                //this.model.opd_pat.splice(index, 1);
                this.computed_model();
            },
            reset_model: function () {
                this.isFix = false;
                this.set_model = {};
                this.set_model.patient_name = '';
                this.set_model.ipd_no = '';
                this.set_model.chart_no = '';  
                this.set_model.MEMO = '';
                this.set_model.orderby = '';
                this.set_model.drug_inhalation = '';
                this.set_model.treatment = [];
                if (this.model.is6min) {
                    this.set_model.treatment = ['6 min'];
                } else {
                    this.set_model.treatment = [];
                }
            },
            fix_model: function (index) {
                this.set_model = this.model.opd_pat[index];
                this.isFix = true;
            },
            computed_model: function () {

                if (!!this.model.is6min) {
                    this.opd_6_min_list[this.model.week_count].treatment_person = 0;
                    for (var i = 0; i < this.opd_6_min_list[this.model.week_count].opd_per.length; i++) {
                        for (var j = 0; j < this.opd_6_min_list[this.model.week_count].opd_per[i].opd_pat.length; j++) {
                            var _status = this.opd_6_min_list[this.model.week_count].opd_per[i].opd_pat[j].datastatus;
                            if (_status != '9' || !_status) {
                                this.opd_6_min_list[this.model.week_count].treatment_person ++;
                            }
                        }
                         
                    }
                } else {
                    this.opd_list[this.model.week_count].treatment_person = 0;
                    for (var i = 0; i < this.opd_list[this.model.week_count].opd_per.length; i++) {
                        for (var j = 0; j < this.opd_list[this.model.week_count].opd_per[i].opd_pat.length; j++) {
                            var _status = this.opd_list[this.model.week_count].opd_per[i].opd_pat[j].datastatus;
                            if (_status != '9' || !_status) {
                                this.opd_list[this.model.week_count].treatment_person++;
                            }
                        }
                    }
                }
            },
            open_modal: function (timePer, weaken, i, j,is6min) {
                //console.log(timePer, weaken, i, j, is6min);
                if (!!is6min) {
                    this.model = this.opd_6_min_list[j].opd_per[i];
                } else {
                    this.model = this.opd_list[j].opd_per[i];
                }
                this.modalTitle = [this.opd_list[j].treatment_date+'('+this.opd_list[j].treatment_day+')', this.opd_list[j].opd_per[i].treatment_per[0] + '~'].join(' ');

                this.model.week_count = j;
                this.model.is6min = is6min;
                if (this.model.is6min) {
                    this.set_model.treatment = ['6 min'];
                } else {
                    this.set_model.treatment = [ ];
                }
                this.reset_model();
                $('#add_modal').modal('show');
            },
            getOPDData: function (pCnt,isCopy) {
                this.$http.post('@Url.Content("~/OPDScheduling/week_data")', {
                    weakenSDate: this.weakenSdate,
                    weakenEDate: this.weakenEdate,
                    weanType: pCnt,
                    isCopy: !!isCopy,
                    copysetCnt: this.copysetCnt,
                    isList: false
                }).then((response) => {
                    this.weakenEdate = response.data.weakenEdate;
                    this.weakenSdate = response.data.weakenSdate;
                    this.opd_list = response.data.opd_list;
                    this.opd_6_min_list = response.data.opd_6_min_list;
                    //console.log(response.data);
                    $('#index_loading').modal('hide');
                }, (response) => {
                    alert('取的資料發生錯誤，請洽資訊人員!');
                    $('#index_loading').modal('hide');
                });
            },
            save: function () {
                $('#index_loading').modal('show');
                this.$http.post('@Url.Content("~/OPDScheduling/week_save")', {
                    rowStr: encodeURIComponent(JSON.stringify({
                        weakenSdate: this.weakenSdate,
                        weakenEdate: this.weakenEdate,
                        opd_list: this.opd_list,
                        opd_6_min_list: this.opd_6_min_list
                    }))
                }).then((response) => {
                    //console.log(response.data);
                    if (response.data.status == 0) {
                        $('#add_modal').modal('hide');
                        alert(response.data.message);
                         
                    } else {
                        alert(response.data.message);
                    }
                    $('#index_loading').modal('hide');

                }, (response) => {
                    alert('儲存發生錯誤，請洽資訊人員!');
                    $('#index_loading').modal('hide');
                });
            }, 
            printOPDWEAKENVM: function () {
                var ifok = false;
                var msg = '';
                if ($("#OPD_WEAKEN_VM").bootstrapTable('getData').length > 0) {
                    win = window.open('about:blank', 'TheNewWindow');
                    $.ajax({
                        url: '@Url.Content("~/OPDScheduling/weekindex_print")',
                        type: 'POST',
                        async: false,
                        data: {
                            weakenSDate: this.weakenSdate
                            , weakenEDate: this.weakenEdate
                            , weanType: 2
                            ,isCopy: false
                            ,copysetCnt: 1
                            ,isList: true
                        },
                        success: function (data) {
                            $("#pdfForm #HtmlStr").val(encodeURIComponent(data));
                            document.getElementById('pdfForm').submit();
                        },
                        error: function (jqXHR) {
                            log(jqXHR);
                            msg = '程式發生錯誤!';
                        }
                    });
                } else {
                    msg = '沒有資料，無法列印';
                    showAlert(msg, msg_stat.Warning, 2500);
                }                
                this.MEMO = '';
            },
            copyPreWeek: function () {
                this.getOPDData(0,true);
            }
        },
        mounted: function () {
            $('#index_loading').modal('show');
            $(".opd_pat").hover(function () {
                $(this).css("background-color", "#d8d8d8");
            }, function () {
                $(this).css("background-color", "");
            });
            this.getOPDData(0);
            
        }


    });
</script>