@model RCS.Models.VPN_UPLOAD_ViewModel
@using System.Data;
@using RCS_Data;
@using RCS.Models;
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Index";
}
<!-- 手術病人及胸腔物理治療評估[記錄單] -->
<div class="modal fade modal_record" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" id="vpn_editor_panel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <!-- 表單功能區 -->
                <div class="btn-group pull-right cr_func_panel">
                    <button class="btn btn-success" id="save" onclick="vpn_upload_save($(this));" data-loading-text="儲存中..."><i class="fa fa-floppy-o" aria-hidden="true"></i>&emsp;儲存</button>
                     <button class="btn btn-warning" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span>&nbsp;關閉</button>
                </div>
                <h4 class="modal-title"> 轉入轉出(入院、出院)登錄作業</h4>
            </div>
            <div class="modal-body"  id="vpn_upload_data" style="overflow-x:hidden;overflow-y:auto;">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        轉入(收案)資料&emsp;
                        <button class="btn btn-success" id="save" onclick="tran_hosp_btn = 'vpn_tran_in_data'; $('#tran_hosp_panel').modal('show');"  ><i class="fa fa-list-alt" aria-hidden="true"></i>選擇轉入醫事機構</button>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-condensed table-striped" style="background-color: #FFF; margin-bottom: 0;" id="vpn_tran_in_data">
                            <tr>
                                <td title="必填"><label><span style="color:red;">*</span>轉入(入院)日期:</label></td>
                                <td colspan="5" class="form-block">
                                    <div class="col-lg-3 col-sm-4">
                                        <input type="text" class="form-control hidden" data-rcs-cate="TRAN_ID" name="TRAN_ID" />
                                        <input type="text" class="form-control data_block mustKey hidden" data-rcs-cate="TRAN_TYPE" name="TRAN_TYPE" value="1" />
                                        <input type="text" class="form-control data_head dt-picker mustKey" data-rcs-cate="TRAN_DATE" name="TRAN_DATE" dt-format="d" placeholder="" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td title="必填"><label><span style="color:red;">*</span>病患來源:</label></td>
                                <td colspan="5" class="form-block">
                                    <div class="col-lg-6 col-sm-6">
                                        @Html.DropDownList("PATIENT_SOURCE", new SelectList(Model.selectList.FindAll(x => x.P_GROUP == "PATIENT_SOURCE"), "P_VALUE", "P_NAME"), "空白", new { @data_rcs_cate = "PATIENT_SOURCE", @class = "form-control data_block mustKey SOURCE", @type = "select", @onchange = "PATIENT_SOURCEChange($(this));" })
                                    </div>
                                    <div class="col-lg-3 col-sm-3">
                                        @Html.DropDownList("STATION_TYPE", new SelectList(Model.selectList.FindAll(x => x.P_GROUP == "STATION_TYPE"), "P_VALUE", "P_NAME"), "空白", new { @data_rcs_cate = "STATION_TYPE", @class = "form-control data_block BED", @type = "select" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td title="必填"><label><span style="color:red;">*</span>呼吸開始使用日期:</label></td>
                                <td colspan="5" class="form-block">
                                    <div class="col-lg-3 col-sm-4">
                                        <input type="text" class="form-control dt-picker data_block mustKey" name="MV_START_DATE" data-rcs-cate="MV_START_DATE" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td title="必填"><label><span style="color:red;">*</span>使用呼吸器原因:</label></td>
                                <td colspan="5" class="form-block">
                                    <div class="col-lg-12">
                                        @Html.DropDownList("MV_REASON", new SelectList(Model.selectList.FindAll(x => x.P_GROUP == "MV_REASON"), "P_VALUE", "P_NAME"), "空白", new { @data_rcs_cate = "MV_REASON", @class = "form-control data_block mustKey", @type = "select" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label>醫事機構代碼:</label></td>
                                <td colspan="1" class="form-block">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control data_block HOSP" name="HOSP_ID" data-rcs-cate="HOSP_ID" />
                                    </div>
                                </td>
                                <td><label>醫事機構名稱:</label></td>
                                <td colspan="3" class="form-block">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control data_block HOSP" name="HOSP_NAME" data-rcs-cate="HOSP_NAME" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td title="必填"><label><span style="color:red;">*</span>病床類別:</label></td>
                                <td colspan="1" class="form-block">
                                    <div class="col-lg-12">
                                        @Html.DropDownList("TRAN_STATION_TYPE", new SelectList(Model.selectList.FindAll(x => x.P_GROUP == "TRAN_STATION_TYPE"), "P_VALUE", "P_NAME"), "空白", new { @data_rcs_cate = "TRAN_STATION_TYPE", @class = "form-control data_block mustKey", @type = "select" })
                                    </div>
                                </td>
                                <td><label>轉入理由:</label></td>
                                <td colspan="3" class="form-block">
                                    <div class="col-lg-12">
                                        @Html.DropDownList("TRAN_REASON", new SelectList(Model.selectList.FindAll(x => x.P_GROUP == "TRAN_REASON"), "P_VALUE", "P_NAME"), "空白", new { @data_rcs_cate = "TRAN_REASON", @class = "form-control data_block", @type = "select" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td title="必填"><label><span style="color:red;">*</span>呼吸器:</label></td>
                                <td colspan="1" class="form-block">
                                    <div class="col-lg-12">
                                        @Html.DropDownList("MV", new SelectList(Model.selectList.FindAll(x => x.P_GROUP == "MV"), "P_VALUE", "P_NAME"), "空白", new { @data_rcs_cate = "MV", @class = "form-control data_block mustKey", @type = "select" })
                                    </div>
                                </td>
                                <td title="必填"><label><span style="color:red;">*</span>氣道介面:</label></td>
                                <td colspan="1" class="form-block">
                                    <div class="col-lg-12">
                                        @Html.DropDownList("MV_MODE", new SelectList(Model.selectList.FindAll(x => x.P_GROUP == "MV_MODE"), "P_VALUE", "P_NAME"), "空白", new { @data_rcs_cate = "MV_MODE", @class = "form-control data_block mustKey", @type = "select" })
                                    </div>
                                </td>
                                <td><label>意識形態:</label></td>
                                <td colspan="1" class="form-block">
                                    <div class="col-lg-12">
                                        @Html.DropDownList("CONSCIOUS", new SelectList(Model.selectList.FindAll(x => x.P_GROUP == "CONSCIOUS"), "P_VALUE", "P_NAME"), "空白", new { @data_rcs_cate = "CONSCIOUS", @class = "form-control data_block", @type = "select" })
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        轉出(結案)資料&emsp;
                        <button class="btn btn-warning" id="save" onclick="tran_hosp_btn = 'vpn_tran_out_data'; $('#tran_hosp_panel').modal('show');"><i class="fa fa-list-alt" aria-hidden="true"></i>選擇轉出醫事機構</button>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-condensed table-striped" style="background-color: #FFF; margin-bottom: 0;" id="vpn_tran_out_data">
                            <tr>
                                <td title="必填"><label><span style="color:red;">*</span>轉出(出院)日期:</label></td>
                                <td colspan="5" class="form-block">
                                    <div class="col-lg-3 col-sm-3">
                                        <input type="text" class="form-control hidden" data-rcs-cate="TRAN_ID" name="TRAN_ID" />
                                        <input type="text" class="form-control data_block mustKey hidden" data-rcs-cate="TRAN_TYPE" name="TRAN_TYPE" value="2" />
                                        <input type="text" class="form-control data_head dt-picker mustKey" name="TRAN_DATE" data-rcs-cate="TRAN_DATE" dt-format="d" placeholder="" readonly />
                                    </div>
                                    <div class="col-lg-9 col-sm-9 form-block" data-rcs-cate="is_WEANING_REMARK">
                                        <input class="data_block form-field WEANING" type="checkbox" data-rcs-text="脫離呼吸器但因病況需要繼續留住原病房" name="WEANING_REMARK" id="WEANING_REMARK" value="Y" onclick="PATIENT_SOURCEChange($(this));" /><label for="WEANING_REMARK">脫離呼吸器但因病況需要繼續留住原病房</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td title="必填"><label><span style="color:red;">*</span>轉出時情形:</label></td>
                                <td colspan="1" class="form-block">
                                    <div class="col-lg-12">
                                        @Html.DropDownList("TRAN_SITUATION", new SelectList(Model.selectList.FindAll(x => x.P_GROUP == "TRAN_SITUATION"), "P_VALUE", "P_NAME"), "空白", new { @data_rcs_cate = "TRAN_SITUATION", @class = "form-control data_block mustKey SITUATION", @type = "select", @onchange = "PATIENT_SOURCEChange($(this));" })
                                    </div>
                                </td>
                                <td><label>脫離/嘗試脫離<br />呼吸器日期:</label></td>
                                <td colspan="3" class="form-block">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control data_block dt-picker WEANING_DATE" name="WEANING_DATE" data-rcs-cate="WEANING_DATE" dt-format="dt" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label>轉出目的醫院類別:</label></td>
                                <td colspan="5" class="form-block">
                                    <div class="col-lg-6 col-sm-6">
                                        @Html.DropDownList("TRAN_HOSP", new SelectList(Model.selectList.FindAll(x => x.P_GROUP == "TRAN_HOSP"), "P_VALUE", "P_NAME"), "空白", new { @data_rcs_cate = "TRAN_HOSP", @class = "form-control data_block SOURCE MV", @type = "select", @onchange = "PATIENT_SOURCEChange($(this));" })
                                    </div>
                                    <div class="col-lg-3 col-sm-3">
                                        @Html.DropDownList("TRAN_BED", new SelectList(Model.selectList.FindAll(x => x.P_GROUP == "TRAN_BED"), "P_VALUE", "P_NAME"), "空白", new { @data_rcs_cate = "TRAN_BED", @class = "form-control data_block BED MV", @type = "select" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label>轉出醫事機構代碼:</label></td>
                                <td colspan="1" class="form-block">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control data_block HOSP" name="HOSP_ID" data-rcs-cate="HOSP_ID" />
                                    </div>
                                </td>
                                <td><label>轉出醫事機構名稱:</label></td>
                                <td colspan="3" class="form-block">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control data_block HOSP" name="HOSP_NAME" data-rcs-cate="HOSP_NAME" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label>呼吸器:</label></td>
                                <td colspan="1" class="form-block">
                                    <div class="col-lg-12">
                                        @Html.DropDownList("MV", new SelectList(Model.selectList.FindAll(x => x.P_GROUP == "MV"), "P_VALUE", "P_NAME"), "空白", new { @data_rcs_cate = "MV", @class = "form-control data_block MV", @type = "select" })
                                    </div>
                                </td>
                                <td><label>氣道介面:</label></td>
                                <td colspan="1" class="form-block">
                                    <div class="col-lg-12">
                                        @Html.DropDownList("MV_MODE", new SelectList(Model.selectList.FindAll(x => x.P_GROUP == "MV_MODE"), "P_VALUE", "P_NAME"), "空白", new { @data_rcs_cate = "MV_MODE", @class = "form-control data_block MV", @type = "select" })
                                    </div>
                                </td>
                                <td><label>意識形態:</label></td>
                                <td colspan="1" class="form-block">
                                    <div class="col-lg-12">
                                        @Html.DropDownList("CONSCIOUS", new SelectList(Model.selectList.FindAll(x => x.P_GROUP == "CONSCIOUS"), "P_VALUE", "P_NAME"), "空白", new { @data_rcs_cate = "CONSCIOUS", @class = "form-control data_block MV", @type = "select" })
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade setScrollbar phraseCarry" tabindex="-1" role="dialog" id="tran_hosp_panel">
    <div class=" modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn-group pull-right" style="margin-top: 0.3em;">
                    <button class="btn btn-info exec-func" data-func="carry-in">帶入</button>
                    <button class="btn btn-warning" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span>&nbsp;關閉</button>
                </div>
                <h4 class="modal-title">選擇醫事機構</h4>
            </div>
            <div class="modal-body">
                <table id="tran_hosp_table" class="table table-hover table-condensed table-no-bordered">
                    <thead>
                        <tr>
                            <th data-field="P_VALUE">醫事機構代碼</th>
                            <th data-field="P_NAME">醫事機構名稱</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
    var tran_hosp_btn = '';
    $(document).ready(function () {

        // 醫事機構的table
        phrase_table = $("#tran_hosp_table").bootstrapTable({
            url: "@Url.Content("~/VPN_UPLOAD/getTran_hospData")",
            method: "post", search: true,
            pageSize: 15,
            pagination: true,
            pageList: [10, 15, 25, 50, 100],
            onClickRow: function (row, e) {
                if (tran_hosp_btn.length > 0) {
                    if ($('#' + tran_hosp_btn + ' input[name=TRAN_DATE]').val().length > 0) {
                        $('#' + tran_hosp_btn + ' input[name=HOSP_ID]').val(row.P_VALUE);
                        $('#' + tran_hosp_btn + ' input[name=HOSP_NAME]').val(row.P_NAME);
                        $("#tran_hosp_panel").modal('hide');
                    } else {
                        showAlert('請輸入轉入傳出日期!', msg_stat.Warning);
                    }
                } else {
                    showAlert('無法帶入資料!，請重新登入!', msg_stat.Warning);
                }
            }
        });

        $('#vpn_upload_data').data('source', '@Html.Raw(JsonConvert.SerializeObject(Model.tran_lsit))');
        var vpn_upload_data = JSON.parse( $('#vpn_upload_data').data('source'));
        for (var i in  vpn_upload_data) {
            console.log(vpn_upload_data[i]);
            if (i != 'remove') {
                var switch_on = vpn_upload_data[i].TRAN_TYPE;
                switch (switch_on) {
                    case '1':
                        //vpn_tran_out_data
                        fillJsonDom('vpn_tran_in_data', vpn_upload_data[i]);
                        break;
                    case '2':
                        //vpn_tran_out_data
                        fillJsonDom('vpn_tran_out_data', vpn_upload_data[i]);
                        break;
                    default:
                        break;

                }
            }
        }
        $('.mustKey').parent().css("background-color", "");
        $('.mustKey').css("background-color", "");
        var setDisabled = function (pTHis, isClear) {
            //debugger;
            var _this = pTHis.parent().parent().parent().parent().find('.data_block');
            if (pTHis.val().length > 0) {
                _this.prop('disabled', false);
            } else {
                _this.prop('disabled', true);
                if (isClear) {
                    _this.val('');
                }
            }
        };
        $('.data_head').each(function () {
            setDisabled($(this),false);
            $(this).blur(function () {
                setDisabled($(this), true);
            });
        });
        $('.SOURCE,.SITUATION,WEANING').each(function () {
            PATIENT_SOURCEChange($(this));
        });
        $("#vpn_editor_panel").modal("show");
        // 設定datetimepicker
        maya_datetimepicker("#vpn_editor_panel .dt-picker");
    });
    //儲存資料
    function vpn_upload_save(pBtn) {
        //檢查資料
        var vpn_chk_flag = false;
        var vpn_chk_tran_cnt = 0;
        $('#vpn_upload_data .data_head').each(function () {
            var _this = $(this).parent().parent().parent().parent().find('.mustKey');
            if ($(this).val().length > 0) {
                _this.each(function () {
                    if ($(this).val().length == 0) {
                        $(this).css("background-color", "#E8CCFF");
                        $(this).parent().css("background-color", "#E8CCFF");
                        vpn_chk_flag = true;
                    } else {
                        $(this).css("background-color", "");
                        $(this).parent().css("background-color", "");
                    }
                });
            } else {
                vpn_chk_tran_cnt = vpn_chk_tran_cnt + 1;
                _this.each(function () {
                    $(this).css("background-color", "");
                    $(this).parent().css("background-color", "");
                });
            }
        });
        if (vpn_chk_tran_cnt == 2) {
            showAlert('請填寫轉入或轉出資料!', msg_stat.Warning);
            return false;
        }
        if (vpn_chk_flag) {
            showAlert('有必選欄位未填寫喔!', msg_stat.Warning);
            return false;
        }
        //準備資料
        var arrayList = new Array();
        $('#vpn_upload_data .table').each(function () {
            if ($(this).find('input[name=TRAN_DATE]').val().length > 0) {
                arrayList.push(getJsonObject($(this).attr('id')));
            }
        });
        //console.log(arrayList);
        //儲存資料
        $.ajax({
            url: '@Url.Content("~/VPN_UPLOAD/saveVPN_UPLOAD")',
            type: 'POST',
            async: false,
            beforeSend: function () {
                pBtn.button('loading');
            },
            data: { objStr: encodeURIComponent(JSON.stringify(arrayList)) },
            success: function (data) {
                if (data.status == 0) {
                    showAlert(data.message, msg_stat.Success);
                    $("#vpn_editor_panel").modal("hide");
                    $("#nav_tabs li [data-target=#tab_VPN_UPLOAD]").trigger("click");
                } else {
                    showAlert(data.message, msg_stat.Danger);
                }
            },
            error: function (jqXHR) {
                log(jqXHR);
                msg = '程式發生錯誤!';
            },
            complete: function () {
                pBtn.button('reset');
            }
        });

    }

    function PATIENT_SOURCEChange(pThis) {
        var _pThis = '';
        //TRAN_DATE
        var checkedClass = function (pThis, pClass, pCheckedVal) {
            if (pThis.parent().parent().parent().parent().find('.data_head').val().length > 0) {
                var _pThis = pThis.parent().parent().parent().parent().find('.' + pClass);
                if (pThis.val() == pCheckedVal) {
                    _pThis.val('');
                    _pThis.prop('disabled', true);
                } else {
                    _pThis.prop('disabled', false);
                }
            }
        };
        if (pThis.hasClass('SOURCE')) {
            //HOSP
            checkedClass(pThis, 'HOSP', '1');
            //BED
            checkedClass(pThis, 'BED', '3');
        }
        if (pThis.hasClass('SITUATION')) {
            checkedClass(pThis, 'MV', '3');
        }
        //WEANING
        //if (pThis.hasClass('WEANING')) {
        //    _pThis = pThis.parent().parent().parent().parent().find('.WEANING_DATE');
        //    if (pThis.prop('checked') == false) {
        //        _pThis.val('');
        //        _pThis.prop('disabled', true);
        //    } else {
        //        _pThis.prop('disabled', false);
        //    }
        //}
    }
</script>
