@{
    ViewBag.Title = "_MeasuresForm";
    RCS_Data.MeasuresForm data = (RCS_Data.MeasuresForm)ViewData["Data"];
    string urlStr = Url.Content("~/StyleSheet/iTextSharpCSS.css");
    string trueBox = "■";
    string falseBox = "□";
    string[] oldManual = (string.IsNullOrEmpty(data.oldManual) ? null : data.oldManual.Split(new Char[] { ',' }));
    string[] oldManual_1 = (string.IsNullOrEmpty(data.oldManual_1) ? null : data.oldManual_1.Split(new Char[] { ',' }));
    string[] oldManual_2 = (string.IsNullOrEmpty(data.oldManual_2) ? null : data.oldManual_2.Split(new Char[] { ',' }));
    string[] newManual = (string.IsNullOrEmpty(data.newManual) ? null : data.newManual.Split(new Char[] { ',' }));
    string[] newManual_txt = (string.IsNullOrEmpty(data.newManual_txt) ? null : data.newManual_txt.Split(new Char[] { ',' }));
    if (newManual_txt != null)
    {
        for (int i = 0; i < newManual_txt.Length; i++)
        {
            if (newManual_txt[i] == "") { newManual_txt[i] = "____"; }
        }   
    }
    string[] AdSituation_text = (string.IsNullOrEmpty(data.AdSituation_text) ? null : data.AdSituation_text.Split(new Char[] { ',' }));
    for (int i = 0; i < AdSituation_text.Length; i++)
    {
        if (AdSituation_text[i] == "") { AdSituation_text[i] = "_______________"; }
    }
    string[] assessType = (string.IsNullOrEmpty(data.assessType) ? null : data.assessType.Split(new Char[] { ',' }));
    string[] breatheWeak = (string.IsNullOrEmpty(data.breatheWeak) ? null : data.breatheWeak.Split(new Char[] { ',' }));
    string[] breatheWeak_1 = (string.IsNullOrEmpty(data.breatheWeak_1) ? null : data.breatheWeak_1.Split(new Char[] { ',' }));
    string[] breatheWeak_txt = (string.IsNullOrEmpty(data.breatheWeak_txt) ? null : data.breatheWeak_txt.Split(new Char[] { ',' }));
    for (int i = 0; i < breatheWeak_txt.Length; i++)
    {
        if (breatheWeak_txt[i] == "") { breatheWeak_txt[i] = "____"; }
    }
    string[] invasive = (string.IsNullOrEmpty(data.invasive) ? null : data.invasive.Split(new Char[] { ',' }));
    string[] invasive_mode = (string.IsNullOrEmpty(data.invasive_mode) ? null : data.invasive_mode.Split(new Char[] { ',' }));
    for (int i = 0; i < invasive_mode.Length; i++)
    {
        if (invasive_mode[i] == ""){invasive_mode[i] = "_______";}
    }
    string[] invasive_O2density = (string.IsNullOrEmpty(data.invasive_O2density) ? null : data.invasive_O2density.Split(new Char[] { ',' }));
    for (int i = 0; i < invasive_O2density.Length; i++)
    {
        if (invasive_O2density[i] == "") { invasive_O2density[i] = "______"; }
    }
    string[] MachineItem = (string.IsNullOrEmpty(data.MachineItem) ? null : data.MachineItem.Split(new Char[] { ',' }));
    string[] MachineItem_txt = (string.IsNullOrEmpty(data.MachineItem_txt) ? null : data.MachineItem_txt.Split(new Char[] { ',' }));
    if (MachineItem_txt != null)
    {
        for (int i = 0; i < MachineItem_txt.Length; i++)
        {
            if (MachineItem_txt[i] == "") { MachineItem_txt[i] = "______"; }
        }   
    }
    string[] O2assess = (string.IsNullOrEmpty(data.O2assess) ? null : data.O2assess.Split(new Char[] { ',' }));
    string[] O2assess_1 = (string.IsNullOrEmpty(data.O2assess_1) ? null : data.O2assess_1.Split(new Char[] { ',' }));
    string[] O2assess_txt = (string.IsNullOrEmpty(data.O2assess_txt) ? null : data.O2assess_txt.Split(new Char[] { ',' }));
    for (int i = 0; i < O2assess_txt.Length; i++)
    {
        if (O2assess_txt[i] == "") { O2assess_txt[i] = "______"; }
    }
    string[] Machine = (string.IsNullOrEmpty(data.Machine) ? null : data.Machine.Split(new Char[] { ',' }));
}
@if (ViewBag.css)
{
    <link rel='Stylesheet' type='text/css' href='@urlStr' />
}
<div class="title">醫療輔具評估報告</div>
<div class="text">醫療輔具項目名稱：『雙相陽壓呼吸輔助器（Bi-PAP）』、『單相陽壓呼吸輔助器（C-PAP）』、『氧氣製造機』</div>
<table class="table">
    <tr><td colspan="2">一、　基本資料</td></tr>
    <tr>
        <td style="width:36px;"></td>
        <td>
            <table class="table1">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>1. 姓名：<span class="underline">@Html.Raw(data.name)</span></td>
                                <td>2. 性別：
                                    @if (data.sex == "2")
                                    {
                                        @Html.Raw(trueBox);
                                    }
                                    else
                                    {
                                        @Html.Raw(falseBox);
                                    }
                                    女
                                    @if (data.sex == "1")
                                    {
                                        @Html.Raw(trueBox);
                                    }
                                    else
                                    {
                                        @Html.Raw(falseBox);
                                    }
                                    男
                                </td>
                            </tr>
                            <tr>
                                <td>3. 身分證字號：<span class="underline">@data.id_num</span></td>
                                <td>4. 生日：<span class="underline">@data.birth</span></td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td colspan="2">
                                    5. 戶籍地：
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30px;"></td>
                                <td>
                                    <span class="underline">@data.county_1</span> 縣(市)
                                    <span class="underline">@data.district_1</span> 鄉鎮市區
                                    <span class="underline">@data.li_1</span> 村(里)
                                    <span class="underline">@data.rd_1</span> 路(街)
                                    <span class="underline">@data.dan_1</span> 段
                                    <span class="underline">@data.ln_1</span> 巷
                                    <span class="underline">@data.aly_1</span> 弄
                                    <span class="underline">@data.no_1</span> 號
                                    <span class="underline">@data.f_1</span> 樓
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    6. 聯絡地址：@data.chkAd
                                    同戶籍地
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <span class="underline">@data.county_2</span> 縣(市)
                                    <span class="underline">@data.district_2</span> 鄉鎮市區
                                    <span class="underline">@data.li_2</span> 村(里)
                                    <span class="underline">@data.rd_2</span> 路(街)
                                    <span class="underline">@data.dan_2</span> 段
                                    <span class="underline">@data.ln_2</span> 巷
                                    <span class="underline">@data.aly_2</span> 弄
                                    <span class="underline">@data.no_2</span> 號
                                    <span class="underline">@data.f_2</span> 樓
                                </td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td>
                                    7. 障礙證明類別：
                                    @if (data.isObstacle == "０")
                                    {
                                        @Html.Raw(trueBox);
                                    }
                                    else
                                    {
                                        @Html.Raw(falseBox);
                                    }
                                    無
                                    @if (data.isObstacle == "1")
                                    {
                                        @Html.Raw(trueBox);
                                    }
                                    else
                                    {
                                        @Html.Raw(falseBox);
                                    }
                                    有
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    7-1.是否領有身心障礙手冊/證明：
                                    @if (data.hasManual == "０")
                                    {
                                        @Html.Raw(trueBox);
                                    }
                                    else
                                    {
                                        @Html.Raw(falseBox);
                                    }
                                    無
                                    @if (data.hasManual == "1")
                                    {
                                        @Html.Raw(trueBox);
                                    }
                                    else
                                    {
                                        @Html.Raw(falseBox);
                                    }
                                    有
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    7-2. (舊制)身心障礙手冊類別：
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @oldManual[0]
                                    肢體障礙：
                                    @oldManual_2[0]
                                    上肢(手)
                                    @oldManual_2[1]
                                    下肢(腳)
                                    @oldManual_2[2]
                                    軀幹
                                    @oldManual_2[3]
                                    四肢
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @oldManual[1]
                                    視覺障礙
                                    @oldManual[2]
                                    聽覺機能障礙
                                    @oldManual[3]
                                    平衡機能障礙
                                    @oldManual[4]
                                    聲音或語言機能障礙
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @oldManual[5]
                                    智能障礙
                                    @oldManual[6]
                                    重要器官失去功能
                                    @oldManual[7]
                                    顏面損傷者
                                    @oldManual[8]
                                    植物人
                                    @oldManual[9]
                                    失智症
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @oldManual[10]
                                    自閉症
                                    @oldManual[11]
                                    慢性精神病患者
                                    @oldManual[12]
                                    頑性(難治型)癲癇症
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @oldManual[13]
                                    多重障礙者(須註明障礙類別與等級)：
                                    <span class="underline">@(data.oldManual_txt)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @oldManual[14]
                                    經中央衛生主管機關認定，因罕見疾病而致身心功能障礙
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @oldManual[15]
                                    他經中央主管機關認定之身心障礙類別：
                                    @oldManual_1[0]
                                    染色體異常
                                    @oldManual_1[1]
                                    先天代謝異常
                                    @oldManual_1[2]
                                    其他先天缺陷
                                </td>
                            </tr>
                            <tr>
                                <td>7-3. (新制)身心障礙分類系統：</td>
                            </tr>
                            <tr>
                                <td>
                                    @newManual[0]
                                    神經系統構造及精神、心智功能
                                    @newManual[1]
                                    眼、耳及相關構造與感官功能
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @newManual[2]
                                    涉及聲音與言語構造及其功能
                                    @newManual[3]
                                    循環、造血、免疫與呼吸系統構造及其功能
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @newManual[4]
                                    消化、新陳代謝與內分泌系統相關構造及其功能
                                    @newManual[5]
                                    泌尿與生殖系統相關構造及其功能
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @newManual[6]
                                    神經、肌肉、骨骼之移動相關構造及其功能
                                    @newManual[7]
                                    皮膚與相關構造及其功能
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @newManual[8]
                                    分類: 第
                                    <span class="underline">@(newManual_txt[0])</span>
                                    類, ICD診斷號碼: 
                                    <span class="underline">@(newManual_txt[1])</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    8. 障礙等級：
                                    @if (data.obstacleLevel == "０")
                                    {
                                        @Html.Raw(trueBox);
                                    }
                                    else
                                    {
                                        @Html.Raw(falseBox);
                                    }
                                    輕度
                                    @if (data.obstacleLevel == "1")
                                    {
                                        @Html.Raw(trueBox);
                                    }
                                    else
                                    {
                                        @Html.Raw(falseBox);
                                    }
                                    中度
                                    @if (data.obstacleLevel == "2")
                                    {
                                        @Html.Raw(trueBox);
                                    }
                                    else
                                    {
                                        @Html.Raw(falseBox);
                                    }
                                    重度
                                    @if (data.obstacleLevel == "3")
                                    {
                                        @Html.Raw(trueBox);
                                    }
                                    else
                                    {
                                        @Html.Raw(falseBox);
                                    }
                                    極重度
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    9. 居住情況：
                                    @if (data.AdSituation == "０")
                                    {
                                        @Html.Raw(trueBox);
                                    }
                                    else
                                    {
                                        @Html.Raw(falseBox);
                                    }
                                    獨居
                                    @if (data.AdSituation == "1")
                                    {
                                        @Html.Raw(trueBox);
                                    }
                                    else
                                    {
                                        @Html.Raw(falseBox);
                                    }
                                    與親友同住
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="divLeft">
                                        @if (data.AdSituation == "2")
                                        {
                                            @Html.Raw(trueBox);
                                        }
                                        else
                                        {
                                            @Html.Raw(falseBox);
                                        }
                                        安置機構：
                                        <span class="underline">@AdSituation_text[0]</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="divLeft">
                                        @if (data.AdSituation == "3")
                                        {
                                            @Html.Raw(trueBox);
                                        }
                                        else
                                        {
                                            @Html.Raw(falseBox);
                                        }
                                        其他：
                                        <span class="underline">@AdSituation_text[1]</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    10. 聯絡人姓名：
                                    <span class="underline">@data.contactMan</span>
                                    與身心障礙者關係：
                                    <span class="underline">@data.withRelationship</span>
                                    聯絡電話：
                                    <span class="underline">@data.contactPhone</span>
                                    行動電話：
                                    <span class="underline">@data.contactCellPhone</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<div>我是分頁</div>
<table class="table">
    <tr><td colspan="2">二、　使用評估</td></tr>
    <tr><td colspan="2" style="padding:5px 5px 5px 5px;">1. 請求評估需求（評估所需器材）</td></tr>
    <tr><td colspan="2">@(assessType[0])非侵襲性雙相陽壓呼吸輔助器（Bi-PAP）：請填寫第2,3項</td></tr>
    <tr><td colspan="2">@(assessType[1])非侵襲性單相陽壓呼吸輔助器（C-PAP）：請填寫第4項</td></tr>
    <tr><td colspan="2">@(assessType[2])氧氣製造機：請填寫第5項</td></tr>
    <tr><td colspan="2" style="padding:5px 5px 5px 5px;">2. 非侵襲性雙相陽壓呼吸器使用原因評估（申請雙相陽壓呼吸輔助器者必填此項）：</td></tr>
    <tr>
        <td style="width:36px;"></td>
        <td>
            <table class="table1">
                <tr>
                    <td style="width: 50%;">
                        <table>
                            <tr><td colspan="2">呼吸衰竭</td></tr>
                            <tr><td style="width:15px;">@(breatheWeak[0])</td><td>未補償之高碳酸血症</td></tr>
                            <tr><td>@(breatheWeak[1])</td><td>低血氧</td></tr>
                            <tr><td></td><td>其他低血氧之臨床徵象 
                                             <div class="div1">@(breatheWeak_1[0])肺部塌陷</div>
                                             <div class="div1">@(breatheWeak_1[1])呼吸肌肉無力</div>
                                </td></tr>
                            <tr><td>@(breatheWeak[2])</td><td>肺功能報告</td></tr>
                            <tr><td></td><td>
                                             FVC <span class="underline">@(breatheWeak_txt[0])</span>　
                                             ,FEV1 <span class="underline">@(breatheWeak_txt[1])</span>
                                             ,FEV1/FVC <span class="underline">@(breatheWeak_txt[2])</span>
                                </td></tr>
                        </table>
                    </td>
                    <td style="border-left: 1px solid; width: 50%;">
                        <table>
                            <tr><td>@(breatheWeak[3])</td><td>困難脫離呼吸器</td></tr>
                            <tr><td></td><td>連續使用機械通氣天數 <span class="underline">@(breatheWeak_txt[3])</span> 天</td></tr>
                            <tr><td>@(breatheWeak[4])</td><td>不穩定的中樞呼吸驅動力</td></tr>
                            <tr><td valign="top">@(breatheWeak[5])</td><td>日間清醒時PaCO2 > 45mmHg (慢性阻塞性肺疾PaCO2 > 50mmHg)且睡眠中至少連續五分鐘SpO2 小於 90% 或夜間三分之ㄧ以上睡眠時間 SpO2 小於 90%</td></tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td colspan="2" style="padding:5px 5px 5px 5px;">3. 呼吸系統評估（申請雙相陽壓呼吸輔助器者必填此項）</td></tr>
    <tr>
        <td style="width:36px;"></td>
        <td>
            <table class="table1" style="border: 1px dotted black; border-collapse: collapse; ">
                <tr>
                    <td colspan="2">
                        <div class="div1">
                            評估日期：民國 
                            <span class="underline">@(data.yyy)</span> 年
                            <span class="underline">@(data.mm)</span> 月
                            <span class="underline">@(data.dd)</span> 日
</div>
                </td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid; border-right: 1px solid;width:120px;vertical-align:top;">身體評估</td>
                    <td style="border-top:1px solid;">
                        <div class="div1">身高 <span class="underline">@(data.height)</span> 公分 體重 <span class="underline">@(data.weight)</span> 公斤</div>
</td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid; border-right: 1px solid; vertical-align: top;">初次使用呼吸器前動脈血氣體分析</td>
                    <td style="border-top:1px solid;">
                        <div class="div1">
                            抽取時間：<span class="underline">@(data.DrawDate_1)</span> (年 / 月 / 日)
                        </div>
                        <div class="div1">動脈血抽取之氧氣濃度：<span class="underline">@(data.O2density_1)</span></div>
                        <div class="div1">
                            酸鹼值(pH) <span class="underline">@(data.ph_1)</span> 動脈二氧化碳分壓(PaCO2) <span class="underline">@(data.PaCO2_1)</span> mmHg
                        </div>
                        <div class="div1">
                            動脈氣分壓(PaO2) <span class="underline">@(data.PaO2_1)</span> mmHg,
                        </div>
                        <div class="div1">
                            碳酸氫根離子濃度(HCO3-) <span class="underline">@(data.HCO3_1)</span> mmol/L
                        </div>
                        <div class="div1">
                            動脈氧氣飽和濃度(SaO2) <span class="underline">@(data.SaO2_1)</span> %
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid; border-right: 1px solid; vertical-align: top;">動脈血氣體分析</td>
                    <td style="border-top:1px solid;">
                        <div class="div1">
                            @if(data.gasAnalysis =="0"){@(trueBox)}else{@(falseBox)} 無  
                            @if (data.gasAnalysis == "1"){@(trueBox)}else{@(falseBox)} 有，請繼續填寫以下欄位</div>
                        <div class="div1">
                            抽取時間：<span class="underline">@(data.gasDrawDate)</span> (年 / 月 / 日)
                        </div>
                        <div class="div1">動脈血抽取之機械通氣模式設定及氧氣濃度</div>
                        <div class="div1">
                            @(invasive[0])侵襲性正壓呼吸器
                            (模式：<span class="underline">@(Html.Raw(invasive_mode[0]))</span>
                            氧氣濃度：<span class="underline">@(Html.Raw(invasive_O2density[0]))</span> )
                        </div>
                        <div class="div1">
                            @(invasive[1])非侵襲性正壓呼吸器
                            (模式：<span class="underline">@(Html.Raw(invasive_mode[1]))</span>
                            氧氣濃度：<span class="underline">@(Html.Raw(invasive_O2density[1]))</span> )
                        </div>
                        <div class="div1">酸鹼值(pH) <span class="underline">@(data.gas_ph)</span> 動脈二氧化碳分壓(PaCO2) <span class="underline">@(data.gas_PaCO2)</span> mmHg</div>
                        <div class="div1">動脈氣分壓(PaO2) <span class="underline">@(data.gas_PaO2)</span> mmHg,</div>
                        <div class="div1">碳酸氫根離子濃度(HCO3-) <span class="underline">@(data.gas_HCO3)</span> mmol/L</div>
                        <div class="div1">動脈氧氣飽和濃度(SaO2) <span class="underline">@(data.gas_SaO2)</span> %</div>
                    </td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid; border-right: 1px solid; vertical-align: top;">理學檢查</td>
                    <td style="border-top:1px solid;">
                        <div class="div1">
                            呼吸音：
                            @if (data.breathVoice == "0")
                            {@(trueBox)}
                            else
                            {@(falseBox)} 正常
                            @if (data.breathVoice == "1")
                            {@(trueBox)}
                            else
                            {@(falseBox)} 囉音
                            @if (data.breathVoice == "2")
                            {@(trueBox)}
                            else
                            {@(falseBox)} 喘鳴音
                            @if (data.breathVoice == "3")
                            {@(trueBox)}
                            else
                            {@(falseBox)} 呼吸音減弱
                            @if (data.breathVoice == "4")
                            {@(trueBox)}
                            else
                            {@(falseBox)} 其他
                            <span class="underline">@(data.breathVoice_txt)</span>
                        </div>
                        <div class="div1">
                            呼吸型態：
                            @if (data.breathingStatus == "0")
                            {@(trueBox)}
                            else
                            {@(falseBox)} 正常呼吸
                            @if (data.breathingStatus == "1")
                            {@(trueBox)}
                            else
                            {@(falseBox)} 淺快
                            @if (data.breathingStatus == "2")
                            {@(trueBox)}
                            else
                            {@(falseBox)} 深快
                            @if (data.breathingStatus == "3")
                            {@(trueBox)}
                            else
                            {@(falseBox)} 使用頸部呼吸輔助肌
                            @if (data.breathingStatus == "4")
                            {@(trueBox)}
                            else
                            {@(falseBox)} 異常胸腹運動
                            @if (data.breathingStatus == "5")
                            {@(trueBox)}
                            else
                            {@(falseBox)} 其他
                            <span class="underline">@(data.breathingStatus_txt)</span>
                        </div>
                        <div class="div1">
                            咳嗽能力：
                            @if (data.breathingStatus == "0")
                            {@(trueBox)}
                            else
                            {@(falseBox)} 功能良好
                            @if (data.breathingStatus == "1")
                            {@(trueBox)}
                            else
                            {@(falseBox)} 功能不佳
                            @if (data.breathingStatus == "2")
                            {@(trueBox)}
                            else
                            {@(falseBox)} 無咳嗽功能
                        </div>
                        <div class="div1">
                            痰液清除方式：
                            @if (data.breathingStatus == "0")
                            {@(trueBox)}
                            else
                            {@(falseBox)} 自咳
                            @if (data.breathingStatus == "1")
                            {@(trueBox)}
                            else
                            {@(falseBox)} 需協助抽吸
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<div>我是分頁</div>
<table class="table">
    <tr><td colspan="2" style="padding:5px 5px 5px 5px;">4.非侵襲性單相陽壓呼吸器使用原因評估（申請單相陽壓呼吸輔助器者必填此項）</td></tr>
    <tr>
        <td style="width:36px;"></td>
        <td>
            <table class="table1">
                <tr>
                    <td style="width:3%;">
                        @(MachineItem[0])
                    </td>
                    <td>
                        <div class="div1">
                            (Apnea-hypopnea index AHI ) ≧每小時40次，或每日累積重度缺氧時間（Sp02≦85%）超過1小時（含）以上
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @(MachineItem[1])
                    </td>
                    <td>
                        <div class="div1">
                            心臟衰竭
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @(MachineItem[2])
                    </td>
                    <td>
                        <div class="div1">
                            其他呼吸衰竭
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @(MachineItem[3])
                    </td>
                    <td>
                        <div class="div1">
                            睡眠檢查報告參數填寫
                            AHI:<span class="underline">@(MachineItem_txt[0])</span>
                            SPO2:<span class="underline">@(MachineItem_txt[1])</span>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td colspan="2" style="padding:5px 5px 5px 5px;">5.需使用氧氣之評估（申請氧氣製造機者必填）：</td></tr>
    <tr><td colspan="2" style="padding:5px 5px 5px 5px;font-size:12px;">當疾病已經治療穩定，且未使用氧氣治療時</td></tr>
    <tr>
        <td style="width:36px;"></td>
        <td>
            <table class="table1">
                <tr>
                    <td style="width:50%;">
                        <table>
                            <tr>
                                <td style="width:15px;">@(O2assess[0])</td>
                                <td>休息時PaO2≦ 55 mmHg 或 SpO2≦88 ％</td>
                            </tr>
                            <tr>
                                <td style="width:15px;">@(O2assess[1])</td>
                                <td>休息時PaO2 小於 60 mmHg或SpO2 ≦ 89 ％，</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>但合併有下列情形者：</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>@(O2assess_1[0])心肺症或心衰竭</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>@(O2assess_1[1])運動時或睡眠中PaO2 小於 60mmHg，SpO2 小於 89% </td>
                            </tr>
                        </table>
                    </td>
                    <td style="border-left: 1px solid;width:50%;">
                        <table>
                            <tr>
                                <td style="width:15px;">@(O2assess[2])</td>
                                <td>肺功能報告</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>FVC : <span class="underline">@(O2assess_txt[0])</span> % PRED.</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>FEV1: <span class="underline">@(O2assess_txt[1])</span> % PRED.</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>FEV1/FVC: <span class="underline">@(O2assess_txt[2])</span> %.</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td colspan="2" style="padding:5px 5px 5px 5px;"> <div style="float:right;">評估者簽名：_______________</div></td></tr>
</table>
<table class="table">
    <tr><td colspan="2">三、　規格配置</td></tr>
    <tr>
        <td style="width:36px;"></td>
        <td>
            <table class="table1" style="border: 1px dotted black; border-collapse: collapse; ">
                <tr>
                    <td style="border-right: 1px solid;">
                        <div class="div1">配置選項</div>
                    </td>
                    <td>
                        <div class="div1">
                            配置日期：
                            <span class="underline">@(data.yyy_3)</span> 年
                            <span class="underline">@(data.mm_3)</span> 月
                            <span class="underline">@(data.dd_3)</span> 日
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table style="width: 100%;border-top: 1px solid;">
                            <tr>
                                <td>@(Machine[0])雙相陽壓呼吸輔助器</td>
                                <td>@(Machine[1])單相陽壓呼吸輔助器</td>
                                <td>@(Machine[2])氧氣製造機</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table class="table">
    <tr><td colspan="2">四、　總結</td></tr>
    <tr>
        <td style="width:36px;">1.</td>
        <td>
            <div class="div1">
                氧氣製造機之建議：
                @if (data.O2machine_4 == "1")
                {
                    @Html.Raw(trueBox);
                }
                else
                {
                    @Html.Raw(falseBox);
                }
                建議使用
                @if (data.O2machine_4 == "0")
                {
                    @Html.Raw(trueBox);
                }
                else
                {
                    @Html.Raw(falseBox);
                }
                不建議使用，理由：
                <span class="underline">@(data.O2machine_txt_4)</span>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div class="div1">
                雙相陽壓呼吸輔助器之建議：
                @if (data.duplexBreathMachine_4 == "1")
                {
                    @Html.Raw(trueBox);
                }
                else
                {
                    @Html.Raw(falseBox);
                }
                建議使用
                @if (data.duplexBreathMachine_4 == "0")
                {
                    @Html.Raw(trueBox);
                }
                else
                {
                    @Html.Raw(falseBox);
                }
                不建議使用，理由：
                <span class="underline">@(data.duplexBreathMachine_txt_4)</span>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div class="div1">
                單相陽壓呼吸輔助器之建議：
                @if (data.simplexBreathMachine_4 == "1")
                {
                    @Html.Raw(trueBox);
                }
                else
                {
                    @Html.Raw(falseBox);
                }
                建議使用
                @if (data.simplexBreathMachine_4 == "0")
                {
                    @Html.Raw(trueBox);
                }
                else
                {
                    @Html.Raw(falseBox);
                }
                不建議使用，理由：
                <span class="underline">@(data.simplexBreathMachine_txt_4)</span>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width:36px;">2.</td>
        <td>
            <div class="div1">
                使用訓練：
                @if (data.useTraining == "1")
                {
                    @Html.Raw(trueBox);
                }
                else
                {
                    @Html.Raw(falseBox);
                }
                需要
                @if (data.useTraining == "0")
                {
                    @Html.Raw(trueBox);
                }
                else
                {
                    @Html.Raw(falseBox);
                }
                不需要
            </div>
        </td>
    </tr>
    <tr>
        <td style="width:36px;">3.</td>
        <td>
            <div class="div1">
                建議事項:
                <span class="underline">@(data.suggest)</span>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width:36px;">4.</td>
        <td>
            <div class="div1">
                是否需要安排追蹤時間：
                @if (data.track == "1")
                {
                    @Html.Raw(trueBox);
                }
                else
                {
                    @Html.Raw(falseBox);
                }
                需要
                @if (data.track == "0")
                {
                    @Html.Raw(trueBox);
                }
                else
                {
                    @Html.Raw(falseBox);
                }
                不需要
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table class="table" style="height:100%;">
                <tr>
                    <td style="width:70%;">
                        <div class="div1">評估單位：<span class="underline">@(data.assess)</span></div>
                    </td>
                    <td rowspan="6" style="border: 1px solid;text-align:center;">評估單位用印</td>
                </tr>
                <tr>
                    <td>
                        <div class="div1">評估人員：<span class="underline">@(data.assess_person)</span> 職稱：<span class="underline">@(data.job)</span></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="div1">評估日期：<span class="underline">@(data.assess_date)</span></div>
                    </td>
                </tr> 
                <tr>
                    <td></td>
                </tr> 
                <tr>
                    <td></td>
                </tr> 
                <tr>
                    <td></td>
                </tr>   
            </table>
        </td>
    </tr>
</table>
<div>我是分頁</div>
<table class="table">
    <tr><td colspan="2">五、　檢核與追蹤記錄</td></tr>
    <tr>
        <td style="width:36px;">1.</td>
        <td><div class="div1">醫療輔具採購結果是否符合原處方醫療輔具：</div></td>
    </tr>
    <tr>
        <td></td>
        <td><div class="div1">
                @if (data.medical_tool_5 == "0")
                {
                    @Html.Raw(trueBox);
                }
                else
                {
                    @Html.Raw(falseBox);
                }
            完全符合
            </div></td>
    </tr>
    <tr>
        <td></td>
        <td><div class="div1">
                @if (data.medical_tool_5 == "1")
                {
                    @Html.Raw(trueBox);
                }
                else
                {
                    @Html.Raw(falseBox);
                }
            功能、形式與原處方符合，部分規格及零配件略有出入，但大致符合
            </div></td>
    </tr>
    <tr>
        <td></td>
        <td><div class="div1">
                @if (data.medical_tool_5 == "2")
                {
                    @Html.Raw(trueBox);
                }
                else
                {
                    @Html.Raw(falseBox);
                }
            功能、形式或規格與原處方有顯著差異，不符原處方精神
            </div></td>
    </tr>
    <tr>
        <td></td>
        <td><div class="div1">
                @if (data.medical_tool_5 == "3")
                {
                    @Html.Raw(trueBox);
                }
                else
                {
                    @Html.Raw(falseBox);
                }
            其他：
                <span class="underline">@(data.medical_tool_txt_5)</span>
            </div></td>
    </tr>
    <tr>
        <td style="width:36px;">2.</td>
        <td>
            <div class="div1">修改、調整與使用訓練：</div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td><div class="div1">
                @if (data.useTraining_5 == "0")
                {
                    @Html.Raw(trueBox);
                }
                else
                {
                    @Html.Raw(falseBox);
                }
            無須修改及調整
            </div></td>
    </tr>
    <tr>
        <td></td>
        <td><div class="div1">
            @if (data.useTraining_5 == "1")
            {
                @Html.Raw(trueBox);
            }
            else
            {
                @Html.Raw(falseBox);
            }
            經修改調整後以符合使用需求
            </div></td>
    </tr>
    <tr>
        <td></td>
        <td><div class="div1">
            @if (data.useTraining_5 == "2")
            {
                @Html.Raw(trueBox);
            }
            else
            {
                @Html.Raw(falseBox);
            }
            建議配合使用訓練以期能安全操作
            </div></td>
    </tr>
    <tr>
        <td colspan="2">
            <table class="table" style="height:100%;">
                <tr>
                    <td style="width:70%;">
                        <div class="div1">檢核單位：<span class="underline">@(data.check)</span></div>
                    </td>
                    <td rowspan="6" style="border: 1px solid;text-align:center;">檢核單位用印</td>
                </tr>
                <tr>
                    <td>
                        <div class="div1">檢核人員：<span class="underline">@(data.check_person)</span> 職稱：<span class="underline">@(data.check_job)</span></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="div1">檢核日期：<span class="underline">@(data.check_date)</span></div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
