@{
    ViewBag.Title = "List";
}

<div style="padding: 0 10vw 0 10vw;">
    <button type="button" class="navbar-toggle tp" onclick="DelMeasuresForm(this);" data-loading-text="刪除中..." style="float: left; color: #e21818; display: block; ">
        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" style="display: block;">
            <span class="icon-text">刪除醫療輔具評估報告</span>
        </span>
    </button>
    <button id="join_item" class="navbar-toggle tp" onclick="newMeasuresForm();" style="color:#42b343;display:block;">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="display: block;">
            <span class="icon-text">新增醫療輔具評估報告</span>
        </span>
    </button>
    <table id="MeasuresFormDt" style="background-color:#FFF" data-toggle="table" class="table table-bordered table-striped table-condensed">
        <thead style="background-color: #5BA198; color: #FFF;">
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="name" data-sortable="true">姓名</th>
                <th data-field="insopname" data-sortable="true">記錄人員</th>
                <th data-field="insdt" data-sortable="true">記錄時間</th>
            </tr>
        </thead>
    </table>
</div>
<script>
    var win;
    $(document).ready(function () {
        $("#MeasuresFormDt").bootstrapTable({
            url: '@Url.Content("~/MeasuresForm/UserList")',
            method: 'post',
            search: true,
            showRefresh: true,
            undefinedText: '',
        }).on('click-row.bs.table', function (e, row, $element) {
            showData(row);
        });
    });
    function showData(JsonObj) {
        //win = window.open('@Url.Content("~/MeasuresForm/showNew")' + '?tempid=' + JsonObj.tempid, 'TheMeasuresForm');
        $.ajax({
            url: '@Url.Content("~/MeasuresForm/showNew")',
            type: 'post',
            data: { tempid: JsonObj.tempid },
            beforeSend: function () {
                $("#index_loading").modal('show');
            },
            success: function (data) {
                $('#tab_measures').html(data);
            },
            error: function (a, b, c) {
                alert(a + ' ' + c, msg_stat.Danger);
            },
            complete: function () {
                $("#index_loading").modal('hide');
            }
        });
    }

    function newMeasuresForm() {
        if (win != undefined) {
            win.close();
        }
        $.ajax({
            url: '@Url.Content("~/MeasuresForm/showNew")',
            type: 'post',
            beforeSend: function () {
                $("#index_loading").modal('show');
            },
            success: function (data) {
                $('#tab_measures').html(data);
            },
            eerror: function (jqXHR) {
                log(jqXHR);
            },
            complete: function () {
                $("#index_loading").modal('hide');
            }
        });
        //win = window.open('@Url.Content("~/MeasuresForm/showNew")', 'TheMeasuresForm');
    }

    function DelMeasuresForm(obj) {
        if (checkItem()) {
            if (confirm('確認刪除?')) {
                $(obj).button('loading');
                $.ajax({
                    url: '@Url.Content("~/MeasuresForm/DelMeasuresForm")',
                    type: 'POST',
                    data: { 'JsonList': JSON.stringify($("#MeasuresFormDt").bootstrapTable('getSelections')) },
                    success: function (data) {
                        if (data == 'True') {
                            showAlert('刪除成功!', msg_stat.Success, 1000, "top");
                            $("#MeasuresFormDt").bootstrapTable('refresh', { silent: true });
                        } else {
                            showAlert('刪除失敗!', msg_stat.Warning, 1000, "top");
                        }
                    },
                    error: function (jqXHR) {
                        log(jqXHR);
                    },
                    complete: function () {
                        $(obj).button('reset');
                    }
                })
            }
        } else {
            showAlert('請勾選刪除項目!', msg_stat.Warning);
        }
    }

    function checkItem() {
        var hasItem = false;
        var $table = $('#MeasuresFormDt').find('.bs-checkbox');
        $table.each(function () {
            //
            var $check = $(this).find('input[type="checkbox"]');
            if ($check[0].checked) {
                hasItem = true;
            }
        });
        return hasItem;
    }
</script>