@using RCS_Data;
@using RCS.Models.DB;
@{
    int PageDevice = ViewBag.items_cnt;
    int PageCnt = ViewBag.pages_cnt;
    IPDPatientInfo PatientData = (IPDPatientInfo)ViewBag.patient_data;
    List<RTCXRPrtContainer> CXRPrt = (List<RTCXRPrtContainer>)ViewBag.cxr_prt;
    int DataCnt = CXRPrt.Count;
    int IniData = 0;
    int TempPageDevice = PageDevice;
    //string urlImage = ViewBag.img_url;
}
@for (int pageno = 1; pageno <= PageCnt; pageno++)
{
<table style="width:100%;height:100%;">
    <tr>
        <td style="width:3%;vertical-align:bottom;font-size:small;">
            @*中<br />華<br />民<br />國<br />95<br />年<br />12<br />月<br />14<br />日<br />病<br />歷<br />管<br />理<br />委<br />員<br />會<br />修<br />訂<br />通<br />過*@
        </td>
        <td>
            <table style="width: 100%; height: 100%;">
                <tr>
                    <td style="width:50%;font-size:25px;">
                        <div style="padding-left:60px;">呼吸治療</div>
                        <div style="padding-left:60px;padding-top:5px;">胸腔復健&nbsp;&nbsp;&nbsp;&nbsp;記錄單</div>
                    </td>
                    <td colspan="2" style="width:50%;">
                        <table style="border:0;width:100%;">
                            <tr>
                                <td style="width:120px;">病歷號:</td>
                                <td style="width:120px;"><span id="chart_no" style="color:black;">@(PatientData.chart_no)</span></td>
                                <td>
                                    年齡:<span id="age" style="color:black;">@(PatientData.age)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>姓名:</td>
                                <td><span id="patient_name" style="color:black;">@(PatientData.patient_name)</span></td>
                                <td>
                                    @switch (PatientData.genderCHT)
                                    {
                                        case "女":
                                            @:□男  ■女
                                        break;
                                        case "男":
                                        @:■男  □女
                                        break;
                                        default:
                                        @:□男  □女
                                        break;
                                    }                                    
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @switch (PatientData.nam_c)
                                    {
                                        case "住院":
                                            @:□門診  □急診  ■住院
                                            break;
                                        case "門診":
                                        @:■門診  □急診  □住院
                                            break;
                                        case "急診":
                                        @:□門診  ■急診  □住院
                                            break;
                                        default:
                                        @:□門診  □急診  □住院
                                        break;
                                    }
                                </td>
                                <td><span id="merger_room_bed" style="color:black;">床號:@(PatientData.bed_no)</span></td>                                 
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>                        
                    <td colspan="3">                       
                        <table style="border-left: 1px solid;border-top:1px solid;border-right:1px solid; width: 100%; height: 100%; border-collapse: collapse;" class="tableText" cellpadding="5">
                            <tr style="text-align:center;font-size: 14px;">
                                <td style="width:10%;">診斷</td>
                                <td style="border-left: 1px solid; width:30%;text-align:left;">@(PatientData.diagnosis_code)</td>
                                <td style="border-left: 1px solid; width:10%;">科別</td>
                                <td style="border-left: 1px solid; width:15%;">@(PatientData.dept_code)</td>
                                <td style="border-left: 1px solid; width:10%;">主治醫生</td>
                                <td style="border-left: 1px solid; width:15%;">@(PatientData.vs_doc)</td>
                                <td style="border-left: 1px solid; width:10%;">第&nbsp;@(pageno)&nbsp;頁</td>
                            </tr>
                        </table>
                        <table style="border-left: 1px solid;border-bottom:1px solid;border-right:1px solid; width: 100%; height: 100%; border-collapse: collapse;" class="tableText" cellpadding="5">
                            <tr>
                                <td colspan="3" class="borderTopBlack showSize1" style="font-size: 14px;">使用之氧氣設備</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">
                                        @(CXRPrt[i].data.BreatheMode)
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td colspan="3" class="borderTopBlack showSize1" style="font-size: 14px;">日期</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">
                                        @if (CXRPrt[i].data.CPTDate != null && CXRPrt[i].data.CPTDate != "")
                                        {
                                            @(Convert.ToDateTime(CXRPrt[i].data.CPTDate).ToString("yyyy-"))<br />
                                            @(Convert.ToDateTime(CXRPrt[i].data.CPTDate).ToString("MM-dd"))
                                        }                                        
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td colspan="3" class="borderTopBlack showSize1" style="font-size: 14px;">時間</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">
                                        @(CXRPrt[i].data.CPTTime)
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td rowspan="13" class="divCenter borderTopBlack showSize1" style="width: 2%;font-size:14px;">
                                    治<br /><br />療<br /><br />項<br /><br />目
                                </td>
                                <td colspan="2" class="borderLeftBlack borderTopBlack showSize1" >
                                    C.P.T./Postural Drainage
                                </td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1" style="width: 10%;">@(CXRPrt[i].data.CPT)/@(CXRPrt[i].data.PosturalDrainage)</td>
                                }
                            </tr>
                            <tr>
                                <td colspan="2" class="borderLeftBlack borderTopBlack showSize1">Drug Inhalation</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize2">@(CXRPrt[i].data.DrugInhalation)</td>
                                }
                            </tr>
                            <tr>
                                <td rowspan="6" class="divCenter borderLeftBlack borderTopBlack showSize1" style="width: 10%;font-size:14px;">復<br />原<br />運<br />動</td>
                                <td class="borderLeftBlack borderTopBlack showSize1" style="width: 20%;">SMI:<span style="text-decoration: underline;">&nbsp;&nbsp;</span>cc x <span style="text-decoration: underline;">&nbsp;&nbsp;</span>sec</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.SMI)</td>
                                }
                            </tr>
                            <tr>
                                <td class="borderLeftBlack borderTopBlack showSize1">IPPB:<span style="text-decoration: underline;">&nbsp;&nbsp;</span>Pressure(cmH<sub class="sub">2</sub>O)</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.IPPB)</td>
                                }
                            </tr>
                            <tr>
                                <td class="borderLeftBlack borderTopBlack showSize1" >Diaphragmatic Traning</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.DiaphragmaticTraining)</td>
                                }
                            </tr>
                            <tr>
                                <td class="borderLeftBlack borderTopBlack showSize1">IMT/MIP or MEP</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.IMT)/@(CXRPrt[i].data.MIPorMEP)</td>
                                }
                            </tr>
                            <tr>
                                <td class="borderLeftBlack borderTopBlack showSize1">Flutter/PEP<span style="text-decoration: underline;">&nbsp;&nbsp;</span>(cmH<sub class="sub">2</sub>O)</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.Flutter)/@(CXRPrt[i].data.PEP)</td>
                                }
                            </tr>
                            <tr>
                                <td class="borderLeftBlack borderTopBlack showSize1">Arm/Leg Exercise</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.Arm)/@(CXRPrt[i].data.LegExercise)</td>
                                }
                            </tr>
                            <tr>
                                <td rowspan="4" style="width: 10%;font-size:14px;" class="divCenter borderLeftBlack borderTopBlack showSize1">呼<br />吸<br />運<br />動</td>
                                <td class="borderLeftBlack borderTopBlack showSize1">Pursed lip</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.PursedLip)</td>
                                }
                            </tr>
                            <tr>
                                <td class="borderLeftBlack borderTopBlack showSize1">Auto draining</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.AutoDraining)</td>
                                }
                            </tr>
                            <tr>
                                <td class="borderLeftBlack borderTopBlack showSize1">Diaphragmatic breathing</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.DiaphragmaticBreathing)</td>
                                }
                            </tr>
                            <tr>
                                <td class="borderLeftBlack borderTopBlack showSize1">Huffing/Cough</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.Huffing)/@(CXRPrt[i].data.Cough)</td>
                                }
                            </tr>
                            <tr>
                                <td colspan="2" class="borderLeftBlack borderTopBlack showSize1">Other</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">
                                        @(CXRPrt[i].data.Other)
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td rowspan="4" class="borderTopBlack showSize1" style="font-size: 14px;">
                                    監<br /><br />測
                                </td>
                                <td colspan="2" class="borderLeftBlack borderTopBlack showSize1">
                                    HR(rest/exercise)
                                </td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.HRRest)/@(CXRPrt[i].data.HRExercise)</td>
                                }
                            </tr>
                            <tr>
                                <td colspan="2" class="borderLeftBlack borderTopBlack showSize1">SpO<sub class="sub">2</sub>(rest/exercise)</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.SpO2Rest)/@(CXRPrt[i].data.SpO2Exercise)</td>
                                }
                            </tr>
                            <tr>
                                <td colspan="2" class="borderLeftBlack borderTopBlack showSize1">BP(rest/exercise)</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.PulseRateRest)/@(CXRPrt[i].data.PulseRateExercise)</td>
                                }
                            </tr>
                            <tr>
                                <td colspan="2" class="borderLeftBlack borderTopBlack showSize1">Borg Scale(rest/exercise)</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.BorgScaleRest)/@(CXRPrt[i].data.BorgScaleExercise)</td>
                                }
                            </tr>
                            <tr>
                                <td colspan="3" rowspan="2" class="borderTopBlack showSize1">Breathing Sound:<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Before/After Treatment</td>
                                <td colspan="@(TempPageDevice)" class="borderLeftBlack borderTopBlack showSize2">
                                    1.Clear 2.Rhonchoi 3.Crackle 4.Wheeze 5.Stridor 6.Bronchial sound 7.Diminshed
                                </td>
                            </tr>
                            <tr>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.BreathingSoundBefore)/@(CXRPrt[i].data.BreathingSoundAfter)</td>
                                }
                            </tr>
                            <tr>
                                <td colspan="3" rowspan="2" class="borderTopBlack showSize1">Cough Function</td>
                                <td colspan="@(TempPageDevice)" class="borderLeftBlack borderTopBlack showSize1">
                                    1.Functional 2.Weakly Functional 3.Non-Functional
                                </td>
                            </tr>
                            <tr>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.CoughFunction)</td>
                                }
                            </tr>
                            <tr>
                                <td rowspan="7" class="divCenter borderTopBlack showSize1" style="font-size: 14px;">
                                    S<br />P<br />U<br />T<br />U<br />M
                                </td>
                                <td colspan="2" class="borderLeftBlack borderTopBlack showSize1" style="width: 25%;">
                                    Quantity(+-.+.++.+++)
                                </td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.Quantity)</td>
                                }
                            </tr>
                            <tr>
                                <td rowspan="2" class="borderLeftBlack borderTopBlack showSize1" style="width:100px;">Method of collection</td>
                                <td class="borderLeftBlack borderTopBlack showSize1">Spontaneous</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.Spontaneous)</td>
                                }
                            </tr>
                            <tr>
                                <td class="borderLeftBlack borderTopBlack showSize1">Suction/Induced/PRN</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.Suction)/@(CXRPrt[i].data.Induced)/@(CXRPrt[i].data.PRN)</td>
                                }
                            </tr>
                            <tr>
                                <td colspan="2" rowspan="2" class="borderLeftBlack borderTopBlack showSize1">Color</td>
                                <td colspan="@(TempPageDevice)" class="borderLeftBlack borderTopBlack showSize1">
                                    1.White 2.Yellow 3.Grey 4.Brown 5.Pink & Frothy 6.Blood-tinged 7.Green
                                </td>
                            </tr>
                            <tr>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.Color)</td>
                                }
                            </tr>
                            <tr>
                                <td rowspan="2" class="borderLeftBlack borderTopBlack showSize1">Consistency</td>
                                <td class="borderLeftBlack borderTopBlack showSize1">Thick</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.Thick)</td>
                                }
                            </tr>
                            <tr>
                                <td class="borderLeftBlack borderTopBlack showSize1">Thin/Tenacious</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(CXRPrt[i].data.Thin)/@(CXRPrt[i].data.Tenacious)</td>
                                }
                            </tr>
                            <tr>
                                <td colspan="3" class="borderTopBlack showSize1" style="font-size: 14px;">CXR檢查結果</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">
                                        @(CXRPrt[i].data.CXRResult)
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td colspan="3" class="borderTopBlack showSize1" style="font-size: 14px;">治療師簽章</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">
                                        @(CXRPrt[i].data.CreateName)
                                    </td>
                                }
                            </tr>
                        </table>
                        @*<table style="border-left: 1px solid;border-bottom:1px solid;border-right:1px solid; width: 100%; height: 100%; border-collapse: collapse;" class="tableText" cellpadding="3">
                            <tr>
                                <td style="width:45%;">
                                    <table border="0" cellpadding="0" cellspacing="0" style="font-size:small;">
                                        <tr>
                                            <td style="width:100px;">A:Atrovent:0.5mg/2ml</td>
                                            <td>B:Bricanyle 5mg/2ml</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">C:Combivent:(A-0.5mg)+(V-2.5mg)/2.5ml</td>
                                        </tr>
                                        <tr>
                                            <td>F:Flumucil 300mg/3ml;</td>
                                            <td>M:mistabron 200mg/ml</td>
                                        </tr>
                                        <tr>
                                            <td>V:Ventolin 5mg/2.5ml;</td>
                                            <td>N/S:Normal Saline</td>
                                        </tr>
                                        <tr>
                                            <td>P:Pulmicort 1mg/2ml;</td>
                                            <td>H/S:Half Saline</td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="border-left: 1px solid; width:2%;text-align:center;">C<br />X<br />R</td>
                                <td style="border-left: 1px solid; width:53%;text-align:center;">
                                    @for (int i = 0; i < 4; i++)
                                    {
                                        @:<img width="68" height="58" src="@(urlImage)" />&nbsp;&nbsp;
                                    }
                                </td>
                            </tr>
                        </table>*@
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 5px 10px 10px 15px;">
            <div style="float: left; padding: 5px 10px 10px 10px; ">106Q1 @(RCS.Controllers.BaseController.hospName) BAI6600-004-02</div>
        </td>
    </tr>
</table>
<div>我是分頁</div>
IniData += TempPageDevice;
PageDevice += TempPageDevice;
}