@using RCS_Data;
@using RCS.Models.DB;
@{
    int PageDevice = ViewBag.items_cnt;
    int PageCnt = ViewBag.pages_cnt;
    IPDPatientInfo PatientData = (IPDPatientInfo)ViewBag.patient_data;
    List<RTWeaningPrtContainer> WeaningPrt = (List<RTWeaningPrtContainer>)ViewBag.weaning_prt;
    int DataCnt = WeaningPrt.Count;
    int IniData = 0;
    int TempPageDevice = PageDevice;
    string BreathIndicationsItems = ViewBag.breath_indications_items;
}
@for (int pageno = 1; pageno <= PageCnt; pageno++)
{
<table style="width:100%;height:100%;">
    <tr>
        <td>
            <table style="width: 100%; height: 100%;">
                <tr>
                    <td style="width:50%;font-size:25px;">
                        <div style="padding-left:60px;padding-top:5px;">呼吸治療照護評估單</div>
                    </td>
                    <td colspan="2" style="width:50%;">
                        <table style="border:0;width:100%;">
                            <tr>
                                <td style="width:120px;">病歷號:</td>
                                <td style="width:120px;"><span id="chart_no" style="color:black;">@(PatientData.chart_no)</span></td>
                                <td>
                                    年齡:<span id="age" style="color:black;">@(PatientData.age)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>姓名:</td>
                                <td><span id="patient_name" style="color:black;">@(PatientData.patient_name)</span></td>
                                <td>                                                                    
                                    @switch (PatientData.genderCHT)
                                    {
                                        case "女":
                                            @:□男  ■女
                                        break;
                                        case "男":
                                            @:■男  □女
                                        break;
                                        default:
                                            @:□男  □女
                                        break;
                                    }                                
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @switch (PatientData.nam_c)
                                    {
                                        case "住院":
                                            @:□門診  □急診  ■住院
                                            break;
                                        case "門診":
                                            @:■門診  □急診  □住院
                                            break;
                                        case "急診":
                                            @:□門診  ■急診  □住院
                                            break;
                                        default:
                                            @:□門診  □急診  □住院
                                        break;
                                    }
                                </td>
                                <td><span id="merger_room_bed" style="color:black;">床號:@(PatientData.bed_no)</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table style="border-left: 1px solid;border-top:1px solid;border-right:1px solid; width: 100%; height: 100%; border-collapse: collapse;" class="tableText" cellpadding="5">
                            <tr style="text-align:center;font-size: 14px;">
                                <td style="width:10%;">診斷</td>
                                <td style="border-left: 1px solid; width:30%;text-align:left;">@(PatientData.diagnosis_code)</td>
                                <td style="border-left: 1px solid; width:10%;">科別</td>
                                <td style="border-left: 1px solid; width:15%;">@(PatientData.dept_code)</td>
                                <td style="border-left: 1px solid; width:10%;">主治醫生</td>
                                <td style="border-left: 1px solid; width:15%;">@(PatientData.vs_doc)</td>
                                <td style="border-left: 1px solid; width:10%;">第&nbsp;@(pageno)&nbsp;頁</td>
                            </tr>
                        </table>
                        <table style="border-left: 1px solid;border-bottom:1px solid;border-right:1px solid; width: 100%; height: 100%; border-collapse: collapse;" class="tableText" cellpadding="5">                          
                            <tr>
                                <td colspan="3" class="borderTopBlack tableText1" style="font-size: 14px;">日期</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1" style="width: 10%;">                                
                                        @if (WeaningPrt[i].data.RecDate != null && WeaningPrt[i].data.RecDate != "")
                                        {
                                            @(Convert.ToDateTime(WeaningPrt[i].data.RecDate).ToString("yyyy-"))<br />
                                            @(Convert.ToDateTime(WeaningPrt[i].data.RecDate).ToString("MM-dd"))
                                        }
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td colspan="3" class="borderTopBlack tableText1" style="font-size: 14px;">時間</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@Html.Raw(WeaningPrt[i].data.RecTime)</td>
                                }
                            </tr>
                            <tr>
                                <td class="divCenter borderTopBlack tableText1" style="width: 2%;font-size:14px;">
                                    呼<br />吸<br />器<br />氧<br />療<br />使<br />用
                                </td>
                                <td class="borderLeftBlack borderTopBlack tableText1" style="width: 2%;font-size:14px;">
                                    適<br />應<br />症
                                </td>
                                <td class="borderLeftBlack borderTopBlack tableText1" style="width: 56%;font-size:14px;">
                                    @(BreathIndicationsItems)
                                </td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@Html.Raw(WeaningPrt[i].data.BreathIndications)</td>
                                }
                            </tr>
                            <tr>
                                <td rowspan="3" class="divCenter borderTopBlack tableText1" style="width: 2%;font-size:14px;">
                                    呼<br />吸<br />器<br />脫<br />離<br />評<br />估
                                </td>
                                <td class="borderLeftBlack borderTopBlack tableText1" style="width: 2%;font-size:14px;">
                                    無<br />法<br />脫<br />離<br />原<br />因
                                </td>
                                <td class="borderLeftBlack borderTopBlack tableText1" style="font-size: 14px;">
                                    1.Oxygenation problem: 1–1:FIO2 ≧ 0.4–0.5 / 1–2:PEEP ＞ 8 cmH2O<br />
                                    2.Ventilatory Muscles problem: 2–1:increase Raw(bronchospasm) / 2–2:decrease compliance / 2–3:neuromuscular disorders / 2–4:neuromuscular blockers / 2–5:electrolyte imbalancee<br />
                                    3.Ventilatory drive: 3–1:CNS injury or disease / 3–2:sedation / 3–3:electrolyte imbalance<br />
                                    4.Cardiovascular factors:4–1:AMI / 4–2:heart failure / 4–3:hemodynamic instability<br />
                                    5.Neurologic factors: 5–1:central drive instability / 5–2:decrease peripheral nerve transmission<br />
                                    6.Psyhological factors: 6–1:anxiety / 6–2:confusion，altered mental status<br />
                                    7.Metabolism factors: 7–1:agitation / 7–2:fever / 7–3:seizures / 7–4:sepsis / 7–5:malnutrition<br />
                                    8.Organ failure: 8–1:renal insufficiency / 8–2:hepatic encephalopathy / 8–3:G–I bleeding<br />
                                    9.Chest X–ray: 原病兆未改善或持續惡化 / 9–2:發現新病兆
                                </td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@Html.Raw(WeaningPrt[i].data.TkReason)</td>
                                }
                            </tr>
                            <tr>
                                <td class="borderLeftBlack borderTopBlack tableText1" style="width: 2%;font-size:14px;">
                                    停<br />止<br />脫<br />離<br />原<br />因
                                </td>
                                <td class="borderLeftBlack borderTopBlack tableText1" style="font-size: 14px;">
                                    1.PaO2 ＜ 60 or SPO2 ＜ 90% on FIO2 of ≧ 40%, 2.An increase in PaCO2 of ＞ 10 or a decrease in the pH ＞ 0.1, 3.RR ＞ 40 for ＞ 10 mins, 4.RR ＞ Decrease in ths sBP ＞ 20%，or ＜ 80 mmHg, 5.HR ＞ 140 or ＜ 50 for 5 mins, 6.A sustained increase of sBP ＞ 20%, 7.Signs of increase of work of breathing ＞ 15 mins, 8.RR ＞ 35 for ＞ 10 mins, 9.Diaphoresis, 10.Agitation
                                </td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(WeaningPrt[i].data.StReason)</td>
                                }
                            </tr>
                            <tr>
                                <td class="borderLeftBlack borderTopBlack tableText1" style="width: 2%;font-size:14px;">
                                    脫<br />離<br />計<br />畫
                                </td>
                                <td class="borderLeftBlack borderTopBlack tableText1" style="font-size: 14px;">
                                    1.脫離成功, 2.繼續進行脫離, 3.暫時休息，隔天繼續脫離, 4.執行手術後再評估, 5.病人使用呼吸器的原因緩解後再脫離, 6.感染、肺炎或肺部疾病緩解後再脫離, 7.心臟、血液動態穩定後再脫離, 8.營養狀態改善後再脫離, 9.氧合狀態改善後再脫離(FIO2 ≦ 0.4-0.5，PEEP ≦ 8 cmH2O), 10.通氧狀態改善後再脫離, 11.病情仍處危急態，無法脫離, 12.病人已拒治療, 13.主治醫師要求等待其指示
                                </td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@(WeaningPrt[i].data.TkPlan)</td>
                                }
                            </tr>
                            <tr>
                                <td colspan="3" class="borderTopBlack tableText1" style="font-size: 14px;">治療師簽章</td>
                                @for (int i = IniData; i < PageDevice; i++)
                                {
                                    <td class="divCenter borderLeftBlack borderTopBlack showSize1">@Html.Raw(WeaningPrt[i].data.CreateName)</td>
                                }
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 2px 10px 10px 15px;">
            <div style="float: left; padding: 2px 10px 10px 10px; ">106Q1 @(RCS.Controllers.BaseController.hospName) BAI6600-003-02</div>
        </td>
    </tr>
</table>
<div>我是分頁</div>
IniData += TempPageDevice;
PageDevice += TempPageDevice;    
}