@using RCS_Data;
@{
    UserInfo user_info = (UserInfo)Session["user_info"];
    ViewBag.Title = "Index";
    string sDate = DateTime.Now.Date.AddDays(-6).ToString("yyyy-MM-dd HH:mm");
    string eDate = DateTime.Now.Date.ToString("yyyy-MM-dd 23:59");
    string ver = DateTime.Now.ToString("yyyyMMddHHmmss");
}
<style>
    .bq{
        height:500px;
    }
</style>
<script type="text/javascript">
    //設定欄位
    function ReSetText(value, row, element) {
        var pHtml = '';
        if (!row.DTL) {
            return '';
        }
        switch ($(this).attr('field')) {
            case 'isweaning':
                hasData = false;
                if (!!row.DTL.isweaning && row.DTL.isweaning.length > 0) {
                    for (var i = 0; i < row.DTL.isweaning.length; i++) {
                        var tmp = row.DTL.isweaning[i];
                        switch (tmp['id']) {
                            //確認是否有勾選
                            case 'isweaning':
                                if (tmp['chkd']) {
                                    hasData = tmp['chkd'];
                                    return '是';
                                }//if
                                break;
                            default:
                                break;
                        }//switch
                    }//for
                    
                }
          
                break;
            case 'Difficulties': //呼吸器脫離困難原因 
                var diff_tmp = [];
                var tmpDTL = row.DTL;
                var hasData = false;
                //當有資料do... Unstable_vital_signs
                if (!!tmpDTL.Unstable_vital_signs && tmpDTL.Unstable_vital_signs.length > 0) {
                    hasData = false;

                    for (var i = 0; i < tmpDTL.Unstable_vital_signs.length; i++) {
                        var tmp = tmpDTL.Unstable_vital_signs[i];
                        switch (tmp['id']) {
                            //確認是否有勾選
                            case 'uvs_1':
                                if (tmp['chkd']) {
                                    hasData = tmp['chkd'];
                                    diff_tmp.push('<strong>' + tmp['txt'] + '</strong>');
                                }//if
                                break;
                            case 'uvs_2':
                                if (!!tmp['val']) {
                                    diff_tmp.push('&ensp;HR:' + tmp['val']);
                                }//if
                                break;
                            case 'uvs_3':
                                if (!!tmp['val']) {
                                    diff_tmp.push('&ensp;BP:' + tmp['val']);
                                }//if
                                break;
                            case 'uvs_4':
                                if (!!tmp['val']) {
                                    diff_tmp.push('&ensp;其他:' + tmp['val']);
                                }//if
                                break;
                            default:
                                break;
                        }//switch
                        if (!hasData) {
                            break;
                        }//if
                    }//for
                }//if
                //...
                //當有資料do... _gas_exchange
                if (!!tmpDTL.gas_exchange && tmpDTL.gas_exchange.length > 0) {
                    hasData = false;
                    for (var i = 0; i < tmpDTL.gas_exchange.length; i++) {
                        var tmp = tmpDTL.gas_exchange[i];
                        switch (tmp['id']) {
                            //確認是否有勾選
                            case 'ge_1':
                                if (tmp['chkd']) {
                                    hasData = tmp['chkd'];
                                    diff_tmp.push('<strong>' + tmp['txt'] + '</strong>');
                                }//if
                                break;
                            case 'ge_2':
                                if (tmp['chkd']) {
                                    diff_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'ge_3':
                                if (tmp['chkd']) {
                                    diff_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'ge_4':
                                if (tmp['chkd']) {
                                    diff_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'ge_5':
                                if (tmp['chkd']) {
                                    diff_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            default:
                                break;
                        }//switch
                        if (!hasData) {
                            break;
                        }//if
                    }//for
                }//if
                //當有資料do... underlying_disease
                if (!!tmpDTL.underlying_disease && tmpDTL.underlying_disease.length > 0) {
                    hasData = false;

                    for (var i = 0; i < tmpDTL.underlying_disease.length; i++) {
                        var tmp = tmpDTL.underlying_disease[i];
                        switch (tmp['id']) {
                            //確認是否有勾選
                            case 'ud_1':
                                if (tmp['chkd']) {
                                    hasData = tmp['chkd'];
                                    diff_tmp.push('<strong>' + tmp['txt'] + '</strong>');
                                }//if
                                break;
                            case 'ud_2':
                                if (tmp['chkd']) {
                                    diff_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'ud_3':
                                if (tmp['chkd']) {
                                    diff_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'ud_4':
                                if (tmp['chkd']) {
                                    diff_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'ud_5':
                                if (tmp['chkd']) {
                                    diff_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'ud_6':
                                if (tmp['chkd']) {
                                    diff_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'ud_8':
                                if (!!tmp['val']) {
                                    diff_tmp.push('&ensp;其他:' + tmp['val']);
                                }//if
                                break;
                            default:
                                break;
                        }//switch
                        if (!hasData) {
                            break;
                        }//if
                    }//for
                }//if
                //當有資料do... Drug
                if (!!tmpDTL.weaning_drug && tmpDTL.weaning_drug.length > 0) {
                    hasData = false;

                    for (var i = 0; i < tmpDTL.weaning_drug.length; i++) {
                        var tmp = tmpDTL.weaning_drug[i];
                        switch (tmp['id']) {
                            //確認是否有勾選
                            case 'wd_1':
                                if (tmp['chkd']) {
                                    hasData = tmp['chkd'];
                                    diff_tmp.push('<strong>' + tmp['txt'] + '</strong>');
                                }//if
                                break;
                            case 'wd_2':
                                if (tmp['chkd']) {
                                    diff_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'wd_3':
                                if (tmp['chkd']) {
                                    diff_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'wd_5':
                                if (tmp['val']) {
                                    diff_tmp.push('&ensp;其他:' + tmp['txt']);
                                }//if
                                break;
                            default:
                                break;
                        }//switch
                        if (!hasData) {
                            break;
                        }//if
                    }//for
                }//if
                //當有資料do... Poor respiratory drive
                if (!!tmpDTL.poor_respiratory_drive && tmpDTL.poor_respiratory_drive.length > 0) {
                    hasData = false;

                    for (var i = 0; i < tmpDTL.poor_respiratory_drive.length; i++) {
                        var tmp = tmpDTL.poor_respiratory_drive[i];
                        switch (tmp['id']) {
                            //確認是否有勾選
                            case 'prd_1':
                                if (tmp['chkd']) {
                                    hasData = tmp['chkd'];
                                    diff_tmp.push('<strong>' + tmp['txt'] + '</strong>');
                                }//if
                                break;
                            case 'prd_3':
                                if (tmp['val']) {
                                    diff_tmp.push('&ensp;Disease induce:' + tmp['val']);
                                }//if
                                break;
                            case 'prd_4':
                                if (tmp['chkd']) {
                                    diff_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'prd_5':
                                if (tmp['chkd']) {
                                    diff_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            default:
                                break;
                        }//switch
                        if (!hasData) {
                            break;
                        }//if
                    }//for
                }//if
                //當有資料do... Poor respirator muscle
                if (!!tmpDTL.poor_respirator_muscle && tmpDTL.poor_respirator_muscle.length > 0) {
                    hasData = false;

                    for (var i = 0; i < tmpDTL.poor_respirator_muscle.length; i++) {
                        var tmp = tmpDTL.poor_respirator_muscle[i];
                        switch (tmp['id']) {
                            //確認是否有勾選
                            case 'prm_1':
                                if (tmp['chkd']) {
                                    hasData = tmp['chkd'];
                                    diff_tmp.push('<strong>' + tmp['txt'] + '</strong>');
                                }//if
                                break;
                            case 'prm_3':
                                if (tmp['val']) {
                                    diff_tmp.push('&ensp;Disease induce:' + tmp['val']);
                                }//if
                                break;
                            case 'prm_4':
                                if (tmp['chkd']) {
                                    diff_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            default:
                                break;
                        }//switch
                        if (!hasData) {
                            break;
                        }//if
                    }//for
                }//if
                //當有資料do... Poor cough fuction
                if (!!tmpDTL.poor_cough_fuction && tmpDTL.poor_cough_fuction.length > 0) {
                    hasData = false;

                    for (var i = 0; i < tmpDTL.poor_cough_fuction.length; i++) {
                        var tmp = tmpDTL.poor_cough_fuction[i];
                        switch (tmp['id']) {
                            //確認是否有勾選
                            case 'pcf_1':
                                if (tmp['chkd']) {
                                    hasData = tmp['chkd'];
                                    diff_tmp.push('<strong>' + tmp['txt'] + '</strong>');
                                }//if
                                break;
                            default:
                                break;
                        }//switch
                        if (!hasData) {
                            break;
                        }//if
                    }//for
                }//if
                //當有資料do... Malnutrition
                if (!!tmpDTL.malnutrition && tmpDTL.malnutrition.length > 0) {
                    hasData = false;

                    for (var i = 0; i < tmpDTL.malnutrition.length; i++) {
                        var tmp = tmpDTL.malnutrition[i];
                        switch (tmp['id']) {
                            //確認是否有勾選
                            case 'm_1':
                                if (tmp['chkd']) {
                                    hasData = tmp['chkd'];
                                    diff_tmp.push('<strong>' + tmp['txt'] + '</strong>');
                                }//if
                                break;
                            case 'm_2':
                                if (tmp['val']) {
                                    diff_tmp.push('&ensp;Albumin:' + tmp['val']);
                                }//if
                                break;
                            default:
                                break;
                        }//switch
                        if (!hasData) {
                            break;
                        }//if
                    }//for
                }//if
                //當有資料do... 其他
                if (!!tmpDTL.weaning_other && tmpDTL.weaning_other.length > 0) {
                    hasData = false;

                    for (var i = 0; i < tmpDTL.weaning_other.length; i++) {
                        var tmp = tmpDTL.weaning_other[i];
                        switch (tmp['id']) {
                            //確認是否有資料
                            case 'wo_2':
                                if (tmp['val']) {
                                    diff_tmp.push('<strong>其他:' + tmp['val'] + '</strong>');
                                }//if
                                break;
                            default:
                                break;
                        }//switch
                        if (!hasData) {
                            break;
                        }//if
                    }//for
                }//if
                return row_DTL_show2(diff_tmp);
                break;
            case 'Detachment_Plan': //呼吸器脫離計畫 
                var deta_tmp = [];
                var tmpDTL = row.DTL;
                var hasData = false;
                //當有資料do... Try weaning mode
                if (!!tmpDTL.try_weaning_mode && tmpDTL.try_weaning_mode.length > 0) {
                    hasData = false;

                    for (var i = 0; i < tmpDTL.try_weaning_mode.length; i++) {
                        var tmp = tmpDTL.try_weaning_mode[i];
                        switch (tmp['id']) {
                            //確認是否有勾選
                            case 'twm_1':
                                if (tmp['chkd']) {
                                    hasData = tmp['chkd'];
                                    deta_tmp.push('<strong>' + tmp['txt'] + '</strong>');
                                }//if
                                break;
                                //case 'twm_2':
                                //    if (!!tmp['val']) {
                                //        deta_tmp.push('&ensp;SIMV rate :' + tmp['val']);
                                //    }//if
                                //    break;
                            case 'twm_6':
                                if (!!tmp['chkd']) {
                                    deta_tmp.push('&ensp;SIMV rate:' + tmp['txt']);
                                }//if
                                break;
                            case 'twm_7':
                                if (!!tmp['chkd']) {
                                    deta_tmp.push('&ensp;SIMV rate:' + tmp['txt']);
                                }//if
                                break;
                            case 'twm_8':
                                if (!!tmp['chkd']) {
                                    deta_tmp.push('&ensp;SIMV rate:' + tmp['txt']);
                                }//if
                                break;
                            case 'twm_9':
                                if (!!tmp['chkd']) {
                                    deta_tmp.push('&ensp;SIMV rate:' + tmp['txt']);
                                }//if
                                break;
                                //case 'twm_3':
                                //    if (!!tmp['chkd']) {
                                //        deta_tmp.push('&ensp;SIMV rate :' + tmp['txt']);
                                //    }//if
                                //    break;
                            case 'twm_10':
                                if (!!tmp['chkd']) {
                                    deta_tmp.push('&ensp;PS(ASB):' + tmp['txt']);
                                }//if
                                break;
                            case 'twm_11':
                                if (!!tmp['chkd']) {
                                    deta_tmp.push('&ensp;PS(ASB):' + tmp['txt']);
                                }//if
                                break;
                            case 'twm_12':
                                if (!!tmp['chkd']) {
                                    deta_tmp.push('&ensp;PS(ASB):' + tmp['txt']);
                                }//if
                                break;
                            case 'twm_13':
                                if (!!tmp['chkd']) {
                                    deta_tmp.push('&ensp;PS(ASB):' + tmp['txt']);
                                }//if
                                break;
                            case 'twm_14':
                                if (!!tmp['chkd']) {
                                    deta_tmp.push('&ensp;PS(ASB):' + tmp['txt']);
                                }//if
                                break;
                            case 'twm_15':
                                if (!!tmp['chkd']) {
                                    deta_tmp.push('&ensp;PS(ASB):' + tmp['txt']);
                                }//if
                                break;
                            case 'twm_16':
                                if (!!tmp['chkd']) {
                                    deta_tmp.push('&ensp;PS(ASB):' + tmp['txt']);
                                }//if
                                break;
                            case 'twm_5':
                                if (!!tmp['val']) {
                                    deta_tmp.push('&ensp;其他 weaning mode:' + tmp['val']);
                                }//if
                                break;
                            default:
                                break;
                        }//switch
                        if (!hasData) {
                            break;
                        }//if
                    }//for
                }//if
                //...
                //當有資料do... Try T-piece ( or Collar ) 與機器交替使用
                if (!!tmpDTL.try_t_piece && tmpDTL.try_t_piece.length > 0) {
                    hasData = false;
                    for (var i = 0; i < tmpDTL.try_t_piece.length; i++) {
                        var tmp = tmpDTL.try_t_piece[i];
                        switch (tmp['id']) {
                            //確認是否有勾選
                            case 'ttp_1':
                                if (tmp['chkd']) {
                                    hasData = tmp['chkd'];
                                    deta_tmp.push('<strong>' + tmp['txt'] + '</strong>');
                                }//if
                                break;
                            case 'ttp_2':
                                if (tmp['chkd']) {
                                    deta_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'ttp_3':
                                if (tmp['chkd']) {
                                    deta_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'ttp_4':
                                if (tmp['chkd']) {
                                    deta_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'ttp_5':
                                if (tmp['chkd']) {
                                    deta_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'ttp_6':
                                if (tmp['chkd']) {
                                    deta_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'ttp_7':
                                if (tmp['chkd']) {
                                    deta_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'ttp_8':
                                if (tmp['chkd']) {
                                    deta_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'ttp_9':
                                if (tmp['chkd']) {
                                    deta_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'ttp_10':
                                if (tmp['chkd']) {
                                    deta_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'ttp_11':
                                if (tmp['chkd']) {
                                    deta_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'ttp_12':
                                if (tmp['chkd']) {
                                    deta_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            case 'ttp_13':
                                if (tmp['chkd']) {
                                    deta_tmp.push('&ensp;' + tmp['txt']);
                                }//if
                                break;
                            default:
                                break;
                        }//switch
                        if (!hasData) {
                            break;
                        }//if
                    }//for
                }//if
                //當有資料do... Try T-Piece over night
                if (!!tmpDTL.try_t_piece_over_night && tmpDTL.try_t_piece_over_night.length > 0) {
                    hasData = false;

                    for (var i = 0; i < tmpDTL.try_t_piece_over_night.length; i++) {
                        var tmp = tmpDTL.try_t_piece_over_night[i];
                        switch (tmp['id']) {
                            //確認是否有勾選
                            case 'ttpon_1':
                                if (tmp['chkd']) {
                                    hasData = tmp['chkd'];
                                    deta_tmp.push('<strong>' + tmp['txt'] + '</strong>');
                                }//if
                                break;
                            default:
                                break;
                        }//switch
                        if (!hasData) {
                            break;
                        }//if
                    }//for
                }//if
                //當有資料do... 其他
                if (!!tmpDTL.weaning_plan_other && tmpDTL.weaning_plan_other.length > 0) {
                    hasData = false;

                    for (var i = 0; i < tmpDTL.weaning_plan_other.length; i++) {
                        var tmp = tmpDTL.weaning_plan_other[i];
                        switch (tmp['id']) {
                            //確認是否有資料
                            case 'wpo_2':
                                if (tmp['val']) {
                                    deta_tmp.push('<strong>其他:' + tmp['val'] + '</strong>');
                                }//if
                                break;
                            default:
                                break;
                        }//switch
                        if (!hasData) {
                            break;
                        }//if
                    }//for
                }//if
                return row_DTL_show2(deta_tmp);
                break;
            case 'breathingQuestion': //1.病患主要呼吸問題
                return row_DTL_show(row.DTL.breathingQuestion);
                break;
            case 'chest_history': //2.胸腔病史
                return row_DTL_show(row.DTL.chest_history);
                break;
            case 'conscious': //3.意識
                var cons_tmp = [];
                var tmpDTL = row.DTL;
                if (!!tmpDTL.conscious && tmpDTL.conscious.length > 0) {
                    for (var i = 0; i < tmpDTL.conscious.length; i++) {
                        var tmp = tmpDTL.conscious[i];
                        switch (tmp['id']) {
                            //確認是否有資料
                            case 'c_7':
                            case 'c_8':
                            case 'c_9':
                                //debugger;
                                var _temp = $("#" + tmp['id']).attr('data-rcs-text');
                                if (!!_temp) {
                                    cons_tmp.push(_temp.toString().split('_')[1] + ':' + tmp['val']);
                                }
                                break;
                            default:
                                if (!!tmp['chkd']) {
                                    cons_tmp.push(tmp['txt']);
                                }//if
                                break;
                        }//switch
                    }//for
                }//if
                return row_DTL_show2(cons_tmp);
                //return row_DTL_show(row.DTL.conscious);
                break;
            case 'skin': //4.皮膚
                return row_DTL_show(row.DTL.skin);
                break;
            case 'breathing_patterns': //5.呼吸型態
                return row_DTL_show(row.DTL.breathing_patterns);
                break;
            case 'breath_sounds': //6.呼吸音
                return row_DTL_show(row.DTL.breath_sounds);
                break;
            case 'cough': //7.咳嗽能力
                return row_DTL_show(row.DTL.cough);
                break;
            case 'sputum': //8.痰液
                return row_DTL_show(row.DTL.sputum);
                break;
                //case 'sputum': //9.性質
                //    return row_DTL_show(row.DTL.sputum);
                //    break;
            case 'other_drugs': //10.其它藥物使用
                return row_DTL_show(row.DTL.other_drugs);
                break;
            case 'spray_treatment': //11.噴霧治療
                return row_DTL_show(row.DTL.spray_treatment);
                break;
            case 'drug': //12.藥物
                return row_DTL_show(row.DTL.drug);
                break;
            case 'cpt_treatment': //13.胸腔復健治療
                return row_DTL_show(row.DTL.cpt_treatment);
                break;
            default:
                return '';
                break;
        }
        return '';
    }
    //詳細資料顯示方式
    function row_DTL_show(pModel) {
        var pArray = [];
        if (!!pModel) {
            for (var i in pModel) {
                var _item = pModel[i];
                if (_item.chkd) {
                    //pArray.push(_item.txt);
                    pArray.push('<span class="height_count"></span><strong>' + _item.txt + '</strong>');
                }
                if (_item.val) {
                    pArray.push('&ensp;<span class="height_count"></span>' + _item.val);
                }
            }
            return pArray.join('<br />');
        }
        return pArray.join('<br />');
    }

    //詳細資料顯示方式
    function row_DTL_show2(pModel) {
        var pArray = [];
        if (!!pModel) {
            for (var i = 0; i < pModel.length; i++) {
                var _item = pModel[i];
                pArray.push('<span class="height_count "></span>' + _item);
            }
            return pArray.join('<br />');
        }
        return pArray.join('<br />');
    }

    //設定欄位資料
    function setItem(pValue, pId) {
        var cnt = 0;
        var $item_html = '';
        var checkStatus = Boolean(@(RCS.Controllers.BaseController.funSetting.showAllSelect));
        var belongType;
        var titleName;
        switch (pId) {
            case "op": case "vm": case "vd": case "cf": case "nf": case "pf": case "mf": case "of": case "cx":
                titleName = "weaning_tk_reason_";
                break;
            case "gi": case "gii": case "giii": case "fs":
                titleName = "weaning_st_reason_";
                break;
            case "tk_plan_block":
                titleName = "weaning_tk_plan_";
                break;
        }
        switch (pId) {
            case "op":
                belongType = ["1", "2"];
                break;
            case "vm":
                belongType = ["3", "4", "5", "6", "7"];
                break;
            case "vd":
                belongType = ["8", "9", "10"];
                break;
            case "cf":
                belongType = ["11", "12", "13"];
                break;
            case "nf":
                belongType = ["14", "15"];
                break;
            case "pf":
                belongType = ["16", "17"];
                break;
            case "mf":
                belongType = ["18", "19", "20", "21", "22"];
                break;
            case "of":
                belongType = ["23", "24", "25"];
                break;
            case "cx":
                belongType = ["26", "27"];
                break;
            case "gi":
                belongType = ["1", "2", "3", "4"];
                break;
            case "gii":
                belongType = ["5", "6", "7", "8"];
                break;
            case "giii":
                belongType = ["9", "10"];
                break;
            case "fs":
                belongType = ["11", "12", "13", "15"];
                break;
            case "tk_plan_block":
                belongType = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "13"];
                break;
        }
        for (var i in pValue) {
            var val = pValue[i];
            for (var j = 0 ; j < belongType.length; j++) {
                var tmpId = titleName + belongType[j];
                if (val.id == tmpId) {
                    //2016/09/26 Json type移除，改用人工判斷
                    //if (val.is_checked && val.type != 'select') {
                    if (val.chkd && val.id != 'weaning_tk_plan_13' && val.id != 'weaning_st_reason_15') {
                        $item_html = $item_html + '<span class="glyphicon glyphicon-ok asses_item height_count"></span> ' + val.txt + '<br/>';
                    } else {
                        //if (val.type == 'select') {
                        if ((val.id == 'weaning_tk_plan_13' || val.id == 'weaning_st_reason_15') && val.val != null && val.val != "") {
                            $item_html = $item_html + '主治醫師要求等待其指示：' + val.txt + '<br/>';
                        } else {
                            if (checkStatus) {
                                if (val.txt != null && val.txt != "") {
                                    $item_html = $item_html + '<span class="asses_item height_count"></span> ' + val.txt + '<br/>';
                                }
                            }
                        }
                    }
                }
            }
        }
        return $item_html.substring(0, $item_html.length - 1);
    }
    ///脫離評估單新增
    function tk_table_add_new() {

    }

    function set_use_breath_reason(pBool) {
        if (!!pBool) {
            try_weaning_vm.try_breath_reason_other = true;
        } else {
            try_weaning_vm.try_breath_reason_other = false;
        }
    }


    $(document).ready(function () {
        var tkhasPowerEdit = false;
        $("#index_loading").modal('show');
        $('#tk_form_model').load('@Url.Content("~/RTTakeoffAssess/RTTakeoffAssessNewForm")', function () {
            $("#tk_table").bootstrapTable({
                url: "@Url.Content("~/RTTakeoffAssess/RTTakeoffDataNew")",
                cache: false,
                queryParams: function (p) {
                    return { pSDate: $('#txt_wa_start_date').val(), pEDate: $('#txt_wa_end_date').val() };
                },
                pagination: true,
                method: "post",
                sortName: 'rec_date',
                sortOrder: 'desc',
                pageSize: 6,
                pageList: [6],
                toolbar: "#tk_toolbar",
                formatNoMatches: function () { return "目前無資料"; }
            }).on('click-row.bs.table', function (e, row, $element) {
                //console.log(row);
                $.ajax({
                    url: '@Url.Content("~/RTTakeoffAssess/RTTakeoffDataNew")',
                    data: { pId: row.tk_id },
                    type: "post",
                    dataType: 'json',
                    success: function (data) {
                        if (data.length > 0) {
                            fillJsonDom('tk_form', data[0].DTL);
                            $('#tk_form #tk_id').val(data[0].tk_id);
                            $('#tk_form #last_tk_id').val(data[0].last_tk_id);
                            $('#tk_form #rec_date').val(data[0].rec_date);
                            $('#tk_form #weaningTable').bootstrapTable('load', { data: data[0].DTL.weaningTable });
                            $('#tk_form #labDataTable').bootstrapTable('load', { data: data[0].DTL.labDataTable });
                            set_use_breath_reason(data[0].checkOther);
                           
                            $('#tk_form_model .btn_set').show();
                            $('#tk_form_model .btn_set').show();
                            tkhasPowerEdit = data[0].hasPowerEdit;


                        } else {
                            showAlert('程式發生錯誤，請洽資訊人員!', msg_stat.Danger);
                        }
                    },//success
                    complete: function () {
                          @{
                              if (user_info.isGuide)
                              {
                                  <text>
                        $('#tk_Form_panel button[chktype]').hide();
                        $('#tk_Form_panel input,#tk_Form_panel textarea').prop('disabled', true);
                                  </text>
                              }
                              else
                              {
                                  <text>
                        $('#tk_Form_panel button[chktype]').show();
                        $('#tk_Form_panel input,#tk_Form_panel textarea').prop('disabled', false);
                                  </text>
                              }
                          }
                        $('#tk_Form_panel').modal('show');
                        setRecodRule("#tk_Form_panel", tkhasPowerEdit, type_mode);

                    },//complete
                    error: function (jqXHR) {
                        log(jqXHR);
                    }//error
                });//$.ajax

            }).on('reset-view.bs.table', function () {
                //設定tooltip對齊table START
                var $tr = $('#tk_table').find('tr');
                var hlist = [];
                $tr.each(function () {
                    if ($(this).attr('data-index') != undefined) {
                        var $td = $(this).find('td');
                        $td.each(function () {
                            var spp = $(this).find('span.height_count').length;
                            var $class = $(this).attr('class');
                            if ($class != undefined) {
                                var $html = $(this).html();
                                if ($class == 'op' || $class == 'vm') {
                                    $(this).attr('data-toggle', 'tooltipB');
                                } else {
                                    $(this).attr('data-toggle', 'tooltip');
                                }
                                $(this).attr('data-original-title', $html);

                                var h = spp * 22 < 36 ? 36 : spp * 22;
                                if (hlist[$class] == undefined || hlist[$class] == null || hlist[$class] < h) {
                                    hlist[$class] = h;
                                }
                            }
                        });
                    }
                });
                $('#tk_table').find('th, td').each(function () {
                    var $cls = $(this).attr('class');
                    $(this).css('height', hlist[$cls] + 'px');
                });

                //設定tooltip對齊table END
                $("[data-toggle='tooltipB']").tooltip({ html: true, placement: "bottom", container: 'body' });
                $("[data-toggle='tooltip']").tooltip({ html: true, placement: "top", container: 'body' });

                $("#index_loading").modal('hide');
            });

        });


        $("#tk_toolbar > button[exec_func]").unbind('click').click(function () {
            var this_btn = $(this);
            switch ($(this).attr("exec_func")) {
                case "add":
                    $.ajax({
                        url: '@Url.Content("~/RTTakeoffAssess/getCPTAssessData")',
                        type: "post",
                        dataType: 'json',
                        success: function (data) {
                            set_tk_form_View();
                            fillJsonDom('tk_Form_panel', data);
                            set_use_breath_reason(false);
                            $('#tk_form_model .btn_set').hide();

                        },//success
                        complete: function () {
                            $('#tk_form #rec_date').val(moment().format("YYYY-MM-DD HH:mm"));//取得現在時間
                            setRecodRule("#tk_Form_panel", true, type_mode, true);

                            $('#tk_Form_panel').modal('show');
                        },//complete
                        error: function (jqXHR) {
                            log(jqXHR);
                        }//error
                    });//$.ajax


                    break;
                case "pre":
                    $("#tk_table").hide('slide', { direction: 'right', easing: "easeOutQuint" }, 300, function () {
                        $("#tk_table").bootstrapTable("prevPage");
                        $("#tk_table").show('slide', { direction: 'left', easing: "easeOutQuint" }, 300);
                    });
                    break;
                case "next":
                    $("#tk_table").hide('slide', { direction: 'left', easing: "easeOutQuint" }, 300, function () {
                        $("#tk_table").bootstrapTable("nextPage");
                        $("#tk_table").show('slide', { direction: 'right', easing: "easeOutQuint" }, 300);
                    });
                    break;
            }
            return false;

        });
        setRecodRule("#tk_toolbar", false, type_mode);

    });
</script>
<div id="tk_date_time_dom" style="position:relative;"></div>
<div>
    <section class="flip-scroll">
        <!-- 評估單功能區 -->
        <div id="tk_toolbar" class="tk_func_panel">
            @{if (!user_info.isGuide)
                {
                    <button class="btn btn-default" exec_func="add" not_full="true" newBtn><span class="glyphicon glyphicon-plus"></span> 新增呼吸器脫離評估</button>
                }
            }
            <button class="btn btn-default" exec_func="pre"><span class="glyphicon glyphicon-arrow-left"></span> 上一頁</button>
            <button class="btn btn-default"  exec_func="next"><span class="glyphicon glyphicon-arrow-right"></span> 下一頁</button>
            &emsp;<input type="text" class="form-control dt-picker searchSDate" style="width: 140px; height: 27px; display: inline;vertical-align:middle;" dt-format="dt" dt-sidebyside="true" dt-widgetparent="tk_date_time_dom" id="txt_wa_start_date" name="txt_wa_start_date" value="@sDate" placeholder="" readonly="" notlock>&emsp;~
            &emsp;<input type="text" class="form-control dt-picker searchEDate" style="width: 140px; height: 27px; display: inline;vertical-align:middle;" dt-format="dt" dt-sidebyside="true" dt-widgetparent="tk_date_time_dom" id="txt_wa_end_date" name="txt_wa_end_date" value="@eDate" placeholder="" readonly="" notlock>
            &emsp;<input type="button"  class="btn btn-default listSearch" id="btn_tk_search" value="搜尋" onclick="$('#tk_table').bootstrapTable('refresh');" notlock />
        </div>
        <br />
        <!-- 清單顯示區域 -->
        <table data-toggle="table" class="table table-bordered table-striped table-condensed" id="tk_table">
            <thead>
                <tr>
                    <th data-field="rec_date" data-formatter="showDateFormat">記錄時間</th>
                    <th data-field="isweaning" data-formatter="ReSetText" data-class="isweaning">評估後無須填寫紀錄</th>
                    <th data-field="Difficulties" data-align='left' data-formatter="ReSetText" data-class="Difficulties">呼吸器脫離困難原因</th>
                    <th data-field="Detachment_Plan" data-align='left' data-formatter="ReSetText" data-class="Detachment_Plan">呼吸器脫離計畫</th>
                    <th data-field="breathingQuestion" data-align='left' data-formatter="ReSetText" data-class="breathingQuestion">1.病患主要呼吸問題</th>
                    <th data-field="chest_history" data-align='left' data-formatter="ReSetText" data-class="chest_history">2.胸腔病史</th>
                    <th data-field="conscious" data-align='left' data-formatter="ReSetText" data-class="conscious">3.意識</th>
                    <th data-field="skin" data-align='left' data-formatter="ReSetText" data-class="skin">4.皮膚</th>
                    <th data-field="breathing_patterns" data-align='left' data-formatter="ReSetText" data-class="breathing_patterns">5.呼吸型態</th>
                    <th data-field="breath_sounds" data-align='left' data-formatter="ReSetText" data-class="breath_sounds">6.呼吸音</th>
                    <th data-field="cough" data-align='left' data-formatter="ReSetText" data-class="cough">7.咳嗽能力</th>
                    <th data-field="sputum" data-align='left' data-formatter="ReSetText" data-class="sputum">8.痰液</th>
                    @*<th data-field="sputum" data-align='left' data-formatter="ReSetText">9.性質</th>*@
                    <th data-field="other_drugs" data-align='left' data-formatter="ReSetText" data-class="other_drugs">10.其它藥物使用</th>
                    <th data-field="spray_treatment" data-align='left' data-formatter="ReSetText" data-class="spray_treatment">11.噴霧治療</th>
                    <th data-field="drug" data-align='left' data-formatter="ReSetText" data-class="drug">12.藥物</th>
                    <th data-field="cpt_treatment" data-align='left' data-formatter="ReSetText" data-class="cpt_treatment">13.胸腔復健治療</th>
                    <th data-field="create_name">Signature</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </section>
</div>
<div id="tk_form_model">

</div>

