@using RCS_Data;
@using RCS.Models;
@{
    IPDPatientInfo pat_info = (IPDPatientInfo)Session["pat_info"];
    //Layout = Url.Content("~/Views/Layout/MainLayout.cshtml");
    ViewBag.Title = "RTTakeoffAssessNewForm";
    List<SelectListItem> list= (List<SelectListItem>)ViewData["getPatientHistoryList"];
    // 所有需要用的到的系統參數
    SysParamCollection sys_params_list = (SysParamCollection)ViewData["sys_params_list"];
 
   
}

<style type="text/css">
        /* fixed not first child no border */
    .input-group-addon:not(:first-child) {
        border-left-width: 1px;
    }
    #tk_editor_panel > .modal-lg {
        width: 95% !important;
    }

    #tk_editor_panel #tk_form > .row > div[class*='col-'] {
        padding: 0.2em 0.2em;
    }

    #tk_editor_panel .panel-heading {
        padding: 3px 0;
        text-align: center;
    }

    #tk_editor_panel .panel-headingA {
        background-color: #FFE8A8;
        border-color: #FFE8A8;
        background-image: linear-gradient(to bottom, #FFE8A8 0%, #FFE8A8 100%);
        color: #192C29;
    }

    #tk_editor_panel .panel-headingB {
        background-color: #FFEBE5;
        border-color: #FFEBE5;
        background-image: linear-gradient(to bottom, #FFEBE5 0%, #FFEBE5 100%);
        color: #192C29;
    }

    #tk_editor_panel .panel-headingC {
        background-color: #EBE5FF;
        border-color: #EBE5FF;
        background-image: linear-gradient(to bottom, #EBE5FF 0%, #EBE5FF 100%);
        color: #192C29;
    }

    #tk_editor_panel .panel-height {
        /*height: 367px;*/
    }

    #tk_editor_panel .panel-body {
        padding: 2px;
    }


    #tk_editor_panel .modal-body {
        padding: 5px 3em;
    }


    #tk_editor_panel input[type=checkbox], #tk_editor_panel input[type=radio] {
        width: 1.2em;
        height: 1.2em;
        vertical-align: middle;
    }

    #tk_editor_panel .table {
        margin-bottom: 0px;
    }

    #tk_editor_panel .table td, #tk_editor_panel .table th {
            padding: 4px;
        }

    #tk_editor_panel .panel {
        margin-bottom: 0px;
    }

    #tk_editor_panel label:hover {
        background-color: #EDEDED;
    }

    #tk_editor_panel label, #tk_editor_panel .table th {
        padding: 3px;
        vertical-align: middle;
        font-size: 14px !important;
        line-height: 14px !important;
        margin: 0px;
    }

    #tk_plan_block > label {
        display: block;
    }

    .tk_benner {
        width: 14px;
        color: #FFFFFF;
        background-color: #3F716B;
    }

    #tk_form .table tr th {
        background-color: #5BA198;
    }

    #tk_form .table > tbody > tr > td {
        vertical-align: middle;
    }

    .panel_head{
        cursor: pointer;
    }
    ._gcs{
        width:80px;
        display:inline;
    }
</style>
 
<div class="modal fade setScrollbar col-lg-12 col-xs-12" 
     tabindex="-1" role="dialog" 
     data-backdrop="static" 
     data-keyboard="false" 
     id="tk_Form_panel"
     onscroll="fn_ShowQuickTopBtn(this)" @*滾動返回頂部按鈕*@
     >
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width:1024px;">
            <div class="modal-header">
                <!-- 表單功能區 -->
                <div class="btn-group pull-right tk_func_panel">
                    <button onclick="tk_Form_Del(this);" class="btn btn-danger btn_set" exec_func="del" delType>
                        <span class="glyphicon glyphicon-remove"></span>
                        &nbsp;刪除
                    </button>
                    <button onclick="tk_Form_Last(this);" class="btn btn-primary" exec_func="last" chktype>
                        <span class="glyphicon glyphicon-open-file"></span>
                        &nbsp;帶入上一筆資料
                    </button>
                    <button onclick="tk_Form_save(this);" class="btn btn-success" exec_func="save" data-loading-text="儲存中..." chktype>
                        <span class="glyphicon glyphicon-save"></span>
                        &nbsp;儲存
                    </button>
                    <button onclick="showRTTakeoffAssess(this);" class="btn btn-info btn_set" exec_func="print" notlock>
                        <span class="glyphicon glyphicon-print"></span>
                        &nbsp;列印
                    </button>
                    <button onclick="showRTTakeoffAssess_empty(this);" class="btn btn-primary btn_set" exec_func="print" notlock>
                        <span class="glyphicon glyphicon-print"></span>
                        &nbsp;列印空白單
                    </button>
                    <button class="btn btn-warning" data-dismiss="modal" onclick="" notlock>
                        <span class="glyphicon glyphicon-folder-close"></span>
                        &nbsp;關閉
                    </button>
                </div>
                <h4 class="modal-title">呼吸器脫離計畫</h4>
            </div>
            <div class="modal-body" id="rcs_form" style="overflow-x:hidden;overflow-y:auto;">
                <form name="tk_form" id="tk_form">
                    <div class="input-group">
                        <span class="input-group-addon">記錄單時間</span>
                        <input type="text" class="form-control dt-picker" data-rcs-cate="rec_date" id="rec_date" placeholder="記錄單時間" dt-format="dt" dt-sidebyside="true" readonly>
                        <span class="input-group-addon">
                            <label class="checkbox-vertical form-block" data-rcs-cate="isweaning" style="display:initial;">
                                <input type="checkbox" class="form-item" id="isweaning" data-rcs-text="評估後無須填寫紀錄" value="1" >
                                評估後無須填寫紀錄
                            </label>
                        </span>
                    </div>
                    <input type="hidden" class="form-control" data-rcs-cate="last_tk_id" id="last_tk_id" value="" />
                    <input type="hidden" class="form-control" data-rcs-cate="tk_id" id="tk_id" value="" />
                    <div>
                        <ul class="nav nav-tabs">
                            @*<li><a data-toggle="tab" href="#home">病患基本資料</a></li>*@
                            <li class="active"><a data-toggle="tab" href="#home">病患評估/呼吸治療項目</a></li>
                            <li><a data-toggle="tab" href="#menu1">呼吸器脫離困難原因/呼吸器脫離計畫</a></li>
                        </ul>
                        <div class="tab-content">                            
                            <div id="home" class="tab-pane fade in active">                                
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <i class="fa fa-chevron-circle-down panel_head" aria-hidden="true">&emsp;病患評估&emsp;</i>
                                        @*<button type="button"  onclick="return false;" class="btn btn-link pull-right" style="margin-top:-5px;">(清空)</button>*@
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <table class="table table-bordered table-condensed table-striped" style="background-color: #FFF; margin-bottom: 0;">                                                
                                                <tr>
                                                    <td>意識</td>
                                                    <td class="form-block" data-rcs-cate="conscious">                                                        
                                                        GCS&emsp;=&emsp;E
                                                        @Html.DropDownList("gcse", new SelectList(sys_params_list.get_group_list("RTRecord_Detail", "gcse"), "P_VALUE", "P_NAME"), "",
                                                       new {@id= "c_7", @class = "form-control form-item inline _gcs", @data_rcs_text = "GCS_E", @type = "select" })
                                                        &emsp;V
                                                        @Html.DropDownList("gcse", new SelectList(sys_params_list.get_group_list("RTRecord_Detail", "gcsv"), "P_VALUE", "P_NAME"), "",
                                                       new { @id = "c_8", @class = "form-control form-item inline _gcs", @data_rcs_text = "GCS_V", @type = "select" })
                                                        &emsp;M
                                                        @Html.DropDownList("gcse", new SelectList(sys_params_list.get_group_list("RTRecord_Detail", "gcsm"), "P_VALUE", "P_NAME"), "",
                                                       new { @id = "c_9", @class = "form-control form-item inline _gcs", @data_rcs_text = "GCS_M", @type = "select" })                                                        
                                                    </td>
                                                </tr>                                                
                                                <tr>
                                                    <td>呼吸型態(病患自然呼吸狀態)</td>
                                                    <td class="form-block" data-rcs-cate="breathing_patterns">
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="bp_1" data-rcs-text="Apnea" type="checkbox" value="">Apnea</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="bp_2" data-rcs-text="Use asscessory muscle" type="checkbox" value="">Use asscessory muscle</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="bp_3" data-rcs-text="Tachypnea" type="checkbox" value="">Tachypnea</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="bp_4" data-rcs-text="Paradoxical movement" type="checkbox" value="">Paradoxical movement</label>
                                                        <br />
                                                        <span class="other">
                                                            <label class="checkbox-inline checkbox-vertical otherChk"><input class="form-item" id="bp_5" type="checkbox" data-rcs-text="其他" value="">其他</label>
                                                            <input type="text" class="form-control form-item otherChk" id="bp_6" style="width:200px;display: inline-block" />
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>呼吸音</td>
                                                    <td class="form-block set_check" data-rcs-cate="breath_sounds">
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="bs_10" data-rcs-text="Normal" type="checkbox" value="">Normal</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="bs_11" data-rcs-text="Fine crackle" type="checkbox" value="">Fine crackle</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="bs_12" data-rcs-text="Coarse crackle" type="checkbox" value="">Coarse crackle</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="bs_4" data-rcs-text="Wheezing" type="checkbox" value="">Wheezing</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="bs_6" data-rcs-text="Decrease" type="checkbox" value="">Decrease</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="bs_7" data-rcs-text="Absent" type="checkbox" value="">Absent</label>
                                                        @*<label class="checkbox-inline checkbox-vertical"><input class="form-item" id="bs_1" data-rcs-text="Clear" type="checkbox" value="">Clear</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="bs_2" data-rcs-text="Rhonchi" type="checkbox" value="">Rhonchi</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="bs_3" data-rcs-text="Crackles" type="checkbox" value="">Crackles</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="bs_5" data-rcs-text="Stridor" type="checkbox" value="">Stridor</label>*@
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>咳嗽功能</td>
                                                    <td class="form-block single_check" data-rcs-cate="cough">
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="cg_1" data-rcs-text="Functional" type="checkbox" value="">functional</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="cg_2" data-rcs-text="Weakly Functional" type="checkbox" value="">weak functional </label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="cg_3" data-rcs-text="Non-functional" type="checkbox" value="">non-functional</label>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>痰液性狀</td>
                                                    <td class="form-block set_check" data-rcs-cate="sputum">
                                                        <div class="">
                                                            色：
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="sp_1" data-rcs-text="透明" type="checkbox" value="">White</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="sp_2" data-rcs-text="黃或綠" type="checkbox" value="">Yellow(green)</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="sp_3" data-rcs-text="灰" type="checkbox" value="">Grey</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="sp_4" data-rcs-text="血絲" type="checkbox" value="">Blood-tinged</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="sp_5" data-rcs-text="血塊" type="checkbox" value="">Hemoptysis</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="sp_6" data-rcs-text="棕褐" type="checkbox" value="">Brown</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="sp_7" data-rcs-text="粉紅色泡沫痰" type="checkbox" value="">Pink & frothy</label>
                                                        </div>   
                                                        <div class="single_check">
                                                            量：
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="sp_14" data-rcs-text="無" type="checkbox" value="">None</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="sp_11" data-rcs-text="少" type="checkbox" value="">Mild</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="sp_12" data-rcs-text="中" type="checkbox" value="">Moderate</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="sp_13" data-rcs-text="多" type="checkbox" value="">Much</label>
                                                        </div>                                                                                                 
                                                        <div class="single_check">
                                                            質：
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="sp_8" data-rcs-text="稀" type="checkbox" value="">Thin</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="sp_9" data-rcs-text="微稠" type="checkbox" value="">Tick</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="sp_10" data-rcs-text="非常黏稠" type="checkbox" value="">Tenacious</label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>身高</td>
                                                    <td class="form-block" >
                                                        <input type="text" class="form-control form-item otherChk" id="bp_6" style="width:200px;display: inline-block" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>體重</td>
                                                    <td class="form-block">
                                                    <input type="text" class="form-control form-item otherChk" id="" style="width:200px;display: inline-block" /></td>
                                                </tr>
                                                <tr>
                                                    <td>理想體重</td>
                                                    <td class="form-block">
                                                    <input type="text" class="form-control form-item otherChk" id="" style="width:200px;display: inline-block" /></td>
                                                </tr>
                                                <tr>
                                                    <td>最後一次脫離指標</td>
                                                    <td class="form-block">
                                                    <input type="text" class="form-control form-item otherChk" id="" style="width:800px;display: inline-block" /></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <i class="fa fa-chevron-circle-down panel_head" aria-hidden="true">&emsp;呼吸治療項目&emsp;</i>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <table class="table table-bordered table-condensed table-striped" style="background-color: #FFF; margin-bottom: 0;">
                                                <tr>
                                                    <td>
                                                        目前呼吸器使用情形
                                                        <i onclick="$('#rtRecord_select_tb').bootstrapTable('refresh'); $('#rtRecord_select_modal').modal('show'); return false;" class="far fa-list-alt pointer" title="呼吸器使用清單"></i>
                                                    </td>
                                                    <td class="form-block" data-rcs-cate="now_breathing_patterns">
                                                        <span class="other">
                                                            <label class="checkbox-inline checkbox-vertical">
                                                            <input class="form-item" id="nbp_1" data-rcs-text="Mode" type="checkbox" value="">Mode</label>
                                                            &ensp;<input type="text" class="form-control" id="nbp_2" style="width:120px;display: inline-block" />
                                                            &emsp;Tidal volume&ensp;<input type="text" id="nbp_4" class="form-control" style="width:120px;display: inline-block" />
                                                            &emsp;PEEP(PL)&ensp;<input type="text" id="nbp_7" class="form-control" style="width:120px;display: inline-block" />
                                                            &emsp;PS(ASB)&ensp;<input type="text" id="nbp_6" class="form-control" style="width:120px;display: inline-block" />
                                                            &emsp;FiO <sub>2</sub>&ensp;<input type="text" id="nbp_3" class="form-control" style="width:120px;display: inline-block" />                                                            
                                                            @*&emsp;Insp pr&ensp;<input type="text" id="nbp_10" class="form-control" style="width:120px;display: inline-block" /><br />*@
                                                            @*&emsp;VR&ensp;<input type="text" id="nbp_5" class="form-control" style="width:120px;display: inline-block" />*@                                                            
                                                            @*&emsp;PS(ASB)<input type="text" id="nbp_7" class="form-control" style="width:120px;display: inline-block" />*@                                                            
                                                        </span>                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>呼吸器開始使用日期</td>
                                                    <td class="form-block">
                                                        <input style="position:relative;" type="text" class="form-control dt-picker" id="on_breath_date" data-rcs-cate="on_breath_date" dt-format="dt" dt-sidebyside="true" data-date-container='#tk_Form_panel' readonly />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>呼吸器使用天數</td>
                                                    <td class="form-block">
                                                        <input type="text" class="form-control form-item otherChk" id="" style="width:200px;display: inline-block" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>藥物</td>
                                                    <td class="form-block" data-rcs-cate="drug">
                                                        SVN：
                                                        <br />
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="dr_3" data-rcs-text="Atrovent" type="checkbox" value="">Atrovent</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="dr_6" data-rcs-text="Bisolven" type="checkbox" value="">Bisolven</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="dr_4" data-rcs-text="Bricany1" type="checkbox" value="">Bricany1</label>                                                        
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="dr_5" data-rcs-text="Combivent" type="checkbox" value="">Combivent</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="dr_10" data-rcs-text="Bosmin" type="checkbox" value="">Bosmin</label>
                                                        <br />
                                                        <label class="checkbox-inline checkbox-vertical otherChk"><input class="form-item" id="dr_11" data-rcs-text="其他" type="checkbox" value="">其他</label>
                                                        <input type="text" class="form-control otherChk form-item" id="dr_12" style="width:200px;display: inline-block" />                                                          
                                                        <br />
                                                        MDI/DPI：
                                                        <br />
                                                        @*<label class="checkbox-inline checkbox-vertical"><input class="form-item" id="dr_1" data-rcs-text="Ventolin" type="checkbox" value="">Ventolin</label>*@
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="dr_2" data-rcs-text="Berotec N MDI" type="checkbox" value="">Berotec N MDI</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="dr_13" data-rcs-text="Duasma MDI" type="checkbox" value="">Duasma MDI</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="dr_14" data-rcs-text="Onbrez Breezhaler" type="checkbox" value="">Onbrez Breezhaler</label>                                                        
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="dr_15" data-rcs-text="Pulmicort Turbuhaler" type="checkbox" value="">Pulmicort Turbuhaler</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="dr_16" data-rcs-text="Relvar Ellipta" type="checkbox" value="">Relvar Ellipta</label>
                                                        <br />
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="dr_17" data-rcs-text="Seretide Accuhaler" type="checkbox" value="">Seretide Accuhaler</label>                                                        
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="dr_18" data-rcs-text="Seretide Accuhaler" type="checkbox" value="">Seretide Evohaler</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="dr_19" data-rcs-text="Seretide Accuhaler" type="checkbox" value="">Spiolto Respimat</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="dr_20" data-rcs-text="Seretide Accuhaler" type="checkbox" value="">Spiriva Respimat</label>                                                        
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="dr_21" data-rcs-text="Seretide Accuhaler" type="checkbox" value="">Striverdi Respimat</label>
                                                        <br />
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="dr_22" data-rcs-text="Seretide Accuhaler" type="checkbox" value="">Symbicort Rapihaler</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="dr_23" data-rcs-text="Seretide Accuhaler" type="checkbox" value="">Ultibro Respimat</label>
                                                        @*<label class="checkbox-inline checkbox-vertical"><input class="form-item" id="dr_7" data-rcs-text="Mesna (Siruta)" type="checkbox" value="">Mesna (Siruta)</label>*@                                                        
                                                        <label class="checkbox-inline checkbox-vertical otherChk"><input class="form-item" id="dr_8" data-rcs-text="其他" type="checkbox" value="">其他</label>
                                                        <input type="text" class="form-control otherChk form-item" id="dr_9" style="width:200px;display: inline-block" />
                                                    </td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>胸腔復健治療</td>
                                                    <td class="form-block" data-rcs-cate="cpt_treatment">
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="cp_1" data-rcs-text="CPT" type="checkbox" value="">CPT</label>
                                                        <span class="other">
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="cp_2" data-rcs-text="運動訓練" type="checkbox" value="">運動訓練</label>
                                                            &emsp;(
                                                            <span class="other">
                                                                <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="cp_3" data-rcs-text="上肢" type="checkbox" value="">上肢</label>
                                                                <input type="text" class="form-control" id="cp_4" style="width:120px;display: inline-block" />
                                                            </span>
                                                            <span class="other">
                                                                <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="cp_5" data-rcs-text="下肢" type="checkbox" value="">下肢</label>
                                                                <input type="text" class="form-control" id="cp_6" style="width:120px;display: inline-block" />
                                                            </span>
                                                            <span class="other">
                                                                <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="cp_7" data-rcs-text="其他" type="checkbox" value="">其他</label>
                                                                <input type="text" class="form-control otherChk" id="cp_8" style="width:200px;display: inline-block" />
                                                            </span>
                                                            )
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                            <div id="menu1" class="tab-pane fade">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <i class="fa fa-chevron-circle-down panel_head" aria-hidden="true">&emsp;呼吸器脫離困難原因&emsp;</i>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <table class="table table-bordered table-condensed table-striped" style="background-color: #FFF; margin-bottom: 0;">                                               
                                                <tr class="form-block other" data-rcs-cate="gas_exchange">
                                                    <td>
                                                        @*<label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ge_1" data-rcs-text="Gas exchange" type="checkbox" value="">Gas exchange</label>*@
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ge_10" data-rcs-text="Airway/ lung" type="checkbox" value="">Airway/ lung</label>
                                                    </td>
                                                    <td>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ge_11" data-rcs-text="Abnomal lung mechanics(decreased Cst, increased Raw or auto PEEP)" type="checkbox" value="">Abnomal lung mechanics(decreased Cst, increased Raw or auto PEEP)</label>
                                                        <br />
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ge_12" data-rcs-text="Abnomal gas exchange(shunting/dead space)" type="checkbox" value="">Abnomal gas exchange(shunting/dead space)</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ge_13" data-rcs-text="Excess airway secretions" type="checkbox" value="">Excess airway secretions</label>
                                                        @*<label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ge_2" data-rcs-text="PaO2/FiO2&ensp;&lt;&ensp;200" type="checkbox" value="">PaO2/FiO2&ensp;&lt;&ensp;200</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ge_3" data-rcs-text="PEEP&ensp;&ge;&ensp;8cmH2O" type="checkbox" value="">PEEP&ensp;&ge;&ensp;8cmH2O</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ge_4" data-rcs-text="FiO2&ensp;&ge;&ensp;50%" type="checkbox" value="">FiO2&ensp;&ge;&ensp;50%</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ge_5" data-rcs-text="PH&ensp;&le;&ensp;7.3&ensp;or&ensp;PH&ensp;&ge;&ensp;7.5" type="checkbox" value="">PH&ensp;&le;&ensp;7.3&ensp;or&ensp;PH&ensp;&ge;&ensp;7.5</label>*@
                                                    </td>
                                                </tr>
                                                <tr class="form-block other" data-rcs-cate="underlying_disease">
                                                    <td>
                                                        @*<label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ud_1" data-rcs-text="Underlying&ensp;disease" type="checkbox" value="">Underlying disease </label>*@
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ud_10" data-rcs-text="Brain/Neurological" type="checkbox" value="">Brain/Neurological</label>
                                                    </td>
                                                    <td>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ud_11" data-rcs-text="Impaired respiratory drive" type="checkbox" value="">Impaired respiratory drive</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ud_12" data-rcs-text="Neuropathy or Myopathy" type="checkbox" value="">Neuropathy or Myopathy</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ud_13" data-rcs-text="C-spine injury with quadriplegia" type="checkbox" value="">C-spine injury with quadriplegia</label>
                                                        <br />
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ud_14" data-rcs-text="Neurological disorder such as delirium or agitation" type="checkbox" value="">Neurological disorder such as delirium or agitation</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ud_15" data-rcs-text="Potential increased intracranial pressure" type="checkbox" value="">Potential increased intracranial pressure</label>
                                                        <br />
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ud_16" data-rcs-text="Sedative drug administration" type="checkbox" value="">Sedative drug administration</label>
                                                        @*<label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ud_2" data-rcs-text="慢性肺部疾病" type="checkbox" value="">慢性肺部疾病</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ud_3" data-rcs-text="心臟血管疾病" type="checkbox" value="">心臟血管疾病</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ud_4" data-rcs-text="敗血症" type="checkbox" value="">敗血症</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ud_5" data-rcs-text="中樞神經俾病變" type="checkbox" value="">中樞神經俾病變</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ud_6" data-rcs-text="肌肉神經元病變" type="checkbox" value="">肌肉神經元病變</label>
                                                        <br />
                                                        <span class="other">
                                                            <label class="checkbox-inline checkbox-vertical otherChk"><input class="form-item" id="ud_7" data-rcs-text="其他" type="checkbox" value="">其他</label>
                                                            <input type="text" class="form-control otherChk form-item" id="ud_8" style="width:200px;display: inline-block" />
                                                        </span>*@
                                                    </td>
                                                </tr>
                                                <tr class="form-block other" data-rcs-cate="weaning_drug">
                                                    <td>
                                                        @*<label class="checkbox-inline checkbox-vertical"><input class="form-item" id="wd_1" data-rcs-text="Drug" type="checkbox" value="">Drug</label>*@
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="wd_10" data-rcs-text="Cardiac" type="checkbox" value="">Cardiac</label>
                                                    </td>
                                                    <td>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="wd_11" data-rcs-text="Hemdynamic unstability under inotropic agent use" type="checkbox" value="">Hemdynamic unstability under inotropic agent use</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="wd_12" data-rcs-text="Abnormal heart rhythm impact" type="checkbox" value="">Abnormal heart rhythm impact</label>
                                                        <br />
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="wd_13" data-rcs-text="Impaired cardiac contractility" type="checkbox" value="">Impaired cardiac contractility</label>
                                                      @*<label class="checkbox-inline checkbox-vertical"><input class="form-item" id="wd_2" data-rcs-text="Muscle&ensp;relax" type="checkbox" value="">Muscle&ensp;relax</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="wd_3" data-rcs-text="Sedation" type="checkbox" value="">Sedation</label>
                                                       <span class="other">
                                                           <label class="checkbox-inline checkbox-vertical otherChk"><input class="form-item" id="wd_4" data-rcs-text="其他" type="checkbox" value="">其他</label>
                                                           <input type="text" class="form-control otherChk form-item" id="wd_5" style="width:200px;display:inline-block" />
                                                       </span>*@
                                                    </td>
                                                </tr>
                                                <tr class="form-block other" data-rcs-cate="poor_respiratory_drive">
                                                    <td>
                                                        @*<label class="checkbox-inline checkbox-vertical"><input class="form-item" id="prd_1" data-rcs-text="Poor&ensp;respiratory&ensp;drive" type="checkbox" value="">Poor&ensp;respiratory&ensp;drive</label>*@
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="prd_10" data-rcs-text="Diaphragm  Respiratory  Muscle function" type="checkbox" value="">Diaphragm  Respiratory  Muscle function</label>
                                                    </td>
                                                    <td>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="prd_11" data-rcs-text="Poor strength or endurance" type="checkbox" value="">Poor strength or endurance</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="prd_12" data-rcs-text="Diaphragm dysfunction" type="checkbox" value="">Diaphragm dysfunction</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="prd_13" data-rcs-text="Cough dysfunction" type="checkbox" value="">Cough dysfunction</label>
                                                        @*<span class="other">
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="prd_2" data-rcs-text="Disease&ensp;induce" type="checkbox" value="">Disease&ensp;induce</label>
                                                            <input type="text" id="prd_3" class="form-control" style="width:200px;display: inline-block" />&emsp;
                                                        </span>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="prd_4" data-rcs-text="Acid-base&ensp;abnormalities" type="checkbox" value="">Acid-base&ensp;abnormalities</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="prd_5" data-rcs-text="Drugs&ensp;induce" type="checkbox" value="">Drugs induce</label>*@
                                                    </td>
                                                </tr>
                                                <tr class="form-block other" data-rcs-cate="poor_respirator_muscle">
                                                    <td>
                                                        @*<label class="checkbox-inline checkbox-vertical"><input class="form-item" id="prm_1" data-rcs-text="Poor&ensp;respirator&ensp;muscle" type="checkbox" value="">Poor&ensp;respirator&ensp;muscle</label>*@
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="prm_10" data-rcs-text="Metabolic status" type="checkbox" value="">Metabolic status</label>
                                                    </td>
                                                    <td>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="prm_11" data-rcs-text="Abnormal endocrine" type="checkbox" value="">Abnormal endocrine</label>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="prm_12" data-rcs-text="Abnormal electrolyte" type="checkbox" value="">Abnormal electrolyte</label>
                                                        @*<span class="other">
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="prm_2" data-rcs-text="Disease&ensp;induce" type="checkbox" value="">Disease&ensp;induce</label>
                                                            <input type="text" class="form-control" id="prm_3" style="width:200px;display: inline-block" />&emsp;
                                                        </span>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="prm_4" data-rcs-text="N-M&ensp;fatigue" type="checkbox" value="">N-M&ensp;fatigue</label>*@
                                                    </td>
                                                </tr>
                                                <tr class="form-block other" data-rcs-cate="poor_cough_fuction">
                                                    <td>
                                                        @*<label class="checkbox-inline checkbox-vertical"><input class="form-item" id="pcf_1" data-rcs-text="Poor&ensp;cough&ensp;fuction" type="checkbox" value="">Poor&ensp;cough&ensp;fuction</label>*@
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="pcf_10" data-rcs-text="Infection" type="checkbox" value="">Infection</label>
                                                    </td>
                                                    <td>
                                                        <span class="other">
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="pcf_11" data-rcs-text="Lung" type="checkbox" value="">Lung:</label>
                                                            &emsp;<input type="text" class="form-control" id="pcf_12" style="width:200px;display: inline-block" />&emsp;
                                                        </span>
                                                        <span class="other">
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="pcf_13" data-rcs-text="Urinary tract" type="checkbox" value="">Urinary tract:</label>
                                                            &emsp;<input type="text" class="form-control" id="pcf_14" style="width:200px;display: inline-block" />&emsp;
                                                        </span>
                                                        <br/>
                                                        <span class="other">
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="pcf_15" data-rcs-text="Blood" type="checkbox" value="">Blood:</label>
                                                            &emsp;<input type="text" class="form-control" id="pcf_16" style="width:200px;display: inline-block" />&emsp;
                                                        </span>
                                                        <span class="other">
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="pcf_17" data-rcs-text="Others" type="checkbox" value="">Others:</label>
                                                            &emsp;<input type="text" class="form-control" id="pcf_18" style="width:200px;display: inline-block" />
                                                        </span>                                                        
                                                    </td>
                                                </tr>
                                                <tr class="form-block other" data-rcs-cate="malnutrition">
                                                    <td>
                                                        @*<label class="checkbox-inline checkbox-vertical"><input class="form-item" id="m_1" data-rcs-text="Malnutrition" type="checkbox" value="">Malnutrition</label>*@
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="m_10" data-rcs-text="Nutrition" type="checkbox" value="">Nutrition</label>
                                                        <i onclick="$('#albumin_select_tb').bootstrapTable('refresh'); $('#albumin_select_modal').modal('show'); return false;" class="far fa-list-alt pointer" title="Albumin清單" ></i>
                                                    </td>
                                                    <td>
                                                        <span class="other">
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="m_11" data-rcs-text="Malnutrition" type="checkbox" value="">Malnutrition</label>
                                                            &emsp;<input type="text" class="form-control" id="m_12" style="width:200px;display: inline-block" />&emsp;
                                                        </span>
                                                        <span class="other">
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="m_13" data-rcs-text="GI bleeding(Anemia)" type="checkbox" value="">GI bleeding(Anemia)</label>
                                                            &emsp;<input type="text" class="form-control" id="m_14" style="width:200px;display: inline-block" />&emsp;
                                                        </span>
                                                        <span class="other">
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="m_15" data-rcs-text="Abdominal distension" type="checkbox" value="">Abdominal distension</label>
                                                            &emsp;<input type="text" class="form-control" id="m_16" style="width:200px;display: inline-block" />&emsp;
                                                        </span>
                                                        <span class="other">
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="m_17" data-rcs-text="Diarrhea" type="checkbox" value="">Diarrhea</label>
                                                            &emsp;<input type="text" class="form-control" id="m_18" style="width:200px;display: inline-block" />&emsp;
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr class="form-block other" data-rcs-cate="weaning_other">
                                                    <td>
                                                        <label class="checkbox-inline checkbox-vertical">
                                                            <input class="form-item" id="wo_1" data-rcs-text="Others" type="checkbox" value="">
                                                            Others
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <span class="other">
                                                            <label class="checkbox-inline checkbox-vertical">
                                                                <input class="form-item" id="wo_10" data-rcs-text="Prophylaxis ventilator use" type="checkbox" value="">Prophylaxis ventilator use
                                                            </label>
                                                                @*<textarea class="form-control" id="wo_2" rows="4" cols="50"></textarea>*@</span>                                                        
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <i class="fa fa-chevron-circle-down panel_head" aria-hidden="true">&emsp;呼吸器脫離計畫&emsp;</i>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <table class="table table-bordered table-condensed table-striped" style="background-color: #FFF; margin-bottom: 0;">
                                                <tr class="form-block other" data-rcs-cate="control_underlying_disease">
                                                    <td>
                                                        <label class="checkbox-inline checkbox-vertical">@*<input class="form-item" id="cud_1" data-rcs-text="Control underlying disease" type="checkbox" value="">*@Control underlying disease</label>
                                                    </td>
                                                    <td>
                                                        <textarea class="form-control" id="cud_2" rows="4" cols="50" style="width:700px;display: inline-block"></textarea>
                                                    </td>
                                                </tr>
                                                <tr class="form-block other" data-rcs-cate="control_mode">
                                                    <td>
                                                        <label class="checkbox-inline checkbox-vertical">@*<input class="form-item" id="cd_1" data-rcs-text="control_mode" type="checkbox" value="">*@Control mode → SIMV≦10次/min</label>
                                                    </td>
                                                    <td>
                                                        <textarea class="form-control" id="ud_2" rows="4" cols="50" style="width:700px;display: inline-block"></textarea>
                                                    </td>
                                                </tr>
                                                <tr class="form-block other" data-rcs-cate="try_weaning_mode">
                                                    <td>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="twm_1" data-rcs-text="Try&ensp;weaning&ensp;mode" type="checkbox" value="">Try&ensp;weaning&ensp;mode</label>
                                                    </td>
                                                    <td>
                                                        <span class="single_check other">
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="twm_2" data-rcs-text="Try&ensp;weaning&ensp;mode" type="checkbox" value="">SIMV→PS,ASV&ensp;:&ensp;</label>                                                            
                                                            &emsp;<input type="text" class="form-control" id="twm_20" style="width:100px;display: inline-block" />&emsp;cmH2O,
                                                            &emsp;<input type="text" class="form-control" id="twm_21" style="width:100px;display: inline-block" />%
                                                            @*<label class="checkbox-inline checkbox-vertical"><input class="form-item" id="twm_6" data-rcs-text="10" type="checkbox" value="">10</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="twm_7" data-rcs-text="8" type="checkbox" value="">8</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="twm_8" data-rcs-text="6" type="checkbox" value="">6</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="twm_9" data-rcs-text="4" type="checkbox" value="">4</label>*@
                                                        </span>
                                                        <br />
                                                        <span class="other">
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="twm_3" data-rcs-text="Try PS(CPAP)" type="checkbox" value="">Try PS(CPAP)&ensp;:&ensp;</label>
                                                            <span class="single_check">
                                                                &emsp;<input type="text" class="form-control" id="twm_22" style="width:100px;display: inline-block" />&emsp;cmH2O,
                                                                &emsp;<input type="text" class="form-control" id="twm_23" style="width:100px;display: inline-block" />小時/天
                                                                @*<label class="checkbox-inline checkbox-vertical"><input class="form-item" id="twm_10" data-rcs-text="20" type="checkbox" value="">20</label>
                                                                <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="twm_11" data-rcs-text="18" type="checkbox" value="">18</label>
                                                                <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="twm_12" data-rcs-text="16" type="checkbox" value="">16</label>
                                                                <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="twm_13" data-rcs-text="14" type="checkbox" value="">14</label>
                                                                <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="twm_14" data-rcs-text="12" type="checkbox" value="">12</label>
                                                                <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="twm_15" data-rcs-text="10" type="checkbox" value="">10</label>
                                                                <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="twm_16" data-rcs-text="8" type="checkbox" value="">8</label>*@
                                                            </span>
                                                        </span>
                                                        @*<br />
                                                        <span class="other">
                                                            <label class="checkbox-inline checkbox-vertical otherChk"><input class="form-item" id="twm_4" data-rcs-text="其他&ensp;weaning&ensp;mode" type="checkbox" value="">其他 weaning mode</label>
                                                            <input type="text" class="form-control otherChk" id="twm_5" style="width:200px;display: inline-block" />
                                                        </span>*@
                                                    </td>
                                                </tr>
                                                <tr class="form-block other" data-rcs-cate="try_t_piece">
                                                    <td colspan="2">
                                                        <span>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ttp_1" data-rcs-text="Try T-piece (or Collar):" type="checkbox" value="">Try&ensp;T-piece&ensp;/&ensp;Collar &ensp;:&ensp;</label>
                                                            <input type="text" class="form-control" id="ttp_10" style="width:100px;display: inline-block" />小時/天
                                                            @*<label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ttp_2" data-rcs-text="1 hr." type="checkbox" value="">1&ensp;hr.</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ttp_3" data-rcs-text="2 hrs" type="checkbox" value="">2&ensp;hrs</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ttp_15" data-rcs-text="3" type="checkbox" value="">3</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ttp_4" data-rcs-text="4" type="checkbox" value="">4</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ttp_5" data-rcs-text="6" type="checkbox" value="">6</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ttp_6" data-rcs-text="8" type="checkbox" value="">8</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ttp_7" data-rcs-text="10" type="checkbox" value="">10</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ttp_8" data-rcs-text="12" type="checkbox" value="">12</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ttp_9" data-rcs-text="14" type="checkbox" value="">14</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ttp_10" data-rcs-text="16" type="checkbox" value="">16</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ttp_11" data-rcs-text="18" type="checkbox" value="">18</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ttp_12" data-rcs-text="20" type="checkbox" value="">20</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ttp_13" data-rcs-text="24" type="checkbox" value="">24</label>*@
                                                        </span>
                                                        @*<label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ttp_14" data-rcs-text="Bid" type="checkbox" value="">Bid</label>*@
                                                    </td>
                                                </tr>
                                                <tr class="form-block other" data-rcs-cate="try_t_piece_over_night">
                                                    <td>
                                                        <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ttpon_1" data-rcs-text="執行復健運動" type="checkbox" value="">執行復健運動</label>
                                                    </td>
                                                    <td>
                                                        <span class="single_check">
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ttpon_10" data-rcs-text="上肢" type="checkbox" value="">上肢</label>
                                                            <label class="checkbox-inline checkbox-vertical"><input class="form-item" id="ttpon_11" data-rcs-text="下肢" type="checkbox" value="">下肢</label>
                                                        </span>
                                                        &ensp;&ensp;&emsp;&emsp;<input type="text" class="form-control" id="ttpon_12" style="width:100px;display: inline-block" />次/天
                                                    </td>
                                                </tr>
                                                <tr class="form-block" data-rcs-cate="weaning_plan_other">
                                                    <td>
                                                        <label class="checkbox-inline checkbox-vertical">
                                                            @*<input class="form-item" id="wpo_1" data-rcs-text="其他" type="checkbox" value="">*@
                                                            其他
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <textarea class="form-control" id="wpo_2" rows="4" cols="50"></textarea>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                Weaning profile&emsp;
                                <button onclick="$('#weaning_select_tb').bootstrapTable('refresh');$('#weaning_select_modal').modal('show'); return false;" class="btn btn-info" style="margin-top:-5px;" chktype>
                                    選擇
                                </button>
                            </div>
                            <div class="panel-body">
                                <table class="table table-hover table-condensed table-no-bordered" id="weaningTable">
                                    <thead>
                                        <tr>
                                            <th data-field="date" id="wt_1">年/月/日</th>
                                            <th data-field="pi_max" id="wt_2">Pimax</th>
                                            <th data-field="mv_value" id="wt_3">VE</th>
                                            <th data-field="vt_value" id="wt_4">VT</th>
                                            <th data-field="srr" id="wt_5">SRR</th>
                                            <th data-field="rsbi" id="wt_6">RSI</th>
                                            <th data-field="seq" data-formatter="ReSetweaningBtn"></th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                Lab data&emsp;
                                <button onclick="$('#labdata_select_tb').bootstrapTable('refresh'); $('#labdata_select_modal').modal('show'); return false;" class="btn btn-info " style="margin-top:-5px;" chktype>
                                    選擇
                                </button>
                            </div>
                            <div class="panel-body">
                                <table class="table table-hover table-condensed table-no-bordered" id="labDataTable">
                                    <thead>
                                        <tr>
                                            <th data-field="date">Time</th>
                                            <th data-field="hb">Hb(gm%)</th>
                                            <th data-field="ht">Ht</th>
                                            <th data-field="wbc">WBC</th>
                                            <th data-field="Platelet">P(mg%)</th>
                                            <th data-field="na">Na</th>
                                            <th data-field="k">K(m.Eq/L)</th>
                                            <th data-field="bun">BUN</th>
                                            <th data-field="cr">Cr.(mg%)</th>
                                            <th data-field="albumin">Albumin Sugar</th>
                                            <th data-field="seq" data-formatter="ReSetlabDataBtn"></th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*選擇weaning*@
<div class="modal fade setScrollbar" id="weaning_select_modal" tabindex="-1" role="dialog" aria-labelledby="weaning_select_modal-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn-group pull-right" style="margin-top: 0.3em;">
                    <button type="button" class="btn btn-success"  onclick="get_weaning_select_tb($(this));" data-loading-text="帶入中..."><i class="fa fa-get-pocket" aria-hidden="true"></i>&nbsp;選擇</button>
                    <button class="btn btn-warning" data-dismiss="modal"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;關閉</button>
                </div>
                <h4 class="modal-title">Weaning profile</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-condensed table-no-bordered" id="weaning_select_tb">
                    <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th data-field="date">年/月/日</th>
                            <th data-field="pi_max">Pimax</th>
                            <th data-field="mv_value">VE</th>
                            <th data-field="vt_value">VT</th>
                            <th data-field="srr">SRR</th>
                            <th data-field="rsbi">RSI</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@*選擇labData*@
<div class="modal fade setScrollbar" id="labdata_select_modal" tabindex="-1" role="dialog" aria-labelledby="labdata_select_modal-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn-group pull-right" style="margin-top: 0.3em;">
                    <button type="button" class="btn btn-success" onclick="get_labdata_select_tb($(this));" data-loading-text="帶入中..."><i class="fa fa-get-pocket" aria-hidden="true"></i>&nbsp;選擇</button>
                    <button class="btn btn-warning" data-dismiss="modal"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;關閉</button>
                </div>
                <h4 class="modal-title">Lab data</h4>
            </div>
            <div class="modal-body">
                <table id="labdata_select_tb" class="table table-hover table-condensed table-no-bordered" >
                    <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th data-field="date">Time</th>
                            <th data-field="hb">Hb(gm%)</th>
                            <th data-field="ht">Ht</th>
                            <th data-field="wbc">WBC</th>
                            <th data-field="Platelet">P(mg%)</th>
                            <th data-field="na">Na</th>
                            <th data-field="k">K(m.Eq/L)</th>
                            <th data-field="bun">BUN</th>
                            <th data-field="cr">Cr.(mg%)</th>
                            <th data-field="albumin">Albumin Sugar</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@*選擇albumin Data*@
<div class="modal fade setScrollbar" id="albumin_select_modal" tabindex="-1" role="dialog" aria-labelledby="albumin_select_modal-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn-group pull-right" style="margin-top: 0.3em;">
                    <button class="btn btn-warning" data-dismiss="modal"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;關閉</button>
                </div>
                <h4 class="modal-title">Lab data</h4>
            </div>
            <div class="modal-body">
                <table id="albumin_select_tb" class="table table-hover table-condensed table-no-bordered">
                    <thead>
                        <tr>
                            <th data-field="date">Time</th>
                            <th data-field="albumin">Albumin Sugar</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@*選擇albumin Data*@
<div class="modal fade setScrollbar" id="rtRecord_select_modal" tabindex="-1" role="dialog" aria-labelledby="rtRecord_select_modal-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn-group pull-right" style="margin-top: 0.3em;">
                    <button class="btn btn-warning" data-dismiss="modal"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;關閉</button>
                </div>
                <h4 class="modal-title">呼吸照護記錄單資料</h4>
            </div>
            <div class="modal-body">
                <table id="rtRecord_select_tb" class="table table-hover table-condensed table-no-bordered">
                    <thead>
                        <tr>
                            <th data-field="showRECORDDATE">Time</th>
                            <th data-field="rt_record.mode">Mode</th>
                            <th data-field="rt_record.fio2_set">FiO<sub>2</sub></th>
                            <th data-field="rt_record.vt">TV</th>
                            <th data-field="rt_record.pressure_pc">Insp pr</th>
                            <th data-field="rt_record.vr">VR</th>
                            <th data-field="rt_record.pressure_ps">PS(ASB)</th>
                            <th data-field="rt_record.pressure_peep">PEEEP(PL)</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@*選擇片語*@
<div class="modal fade setScrollbar" id="plan_other_modal" tabindex="-1" role="dialog" aria-labelledby="plan_other_modal-label">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn-group pull-right" style="margin-top: 0.3em;">
                    <button type="button" class="btn btn-success"><i class="fa fa-get-pocket" aria-hidden="true"></i>&nbsp;選擇</button>
                    <button class="btn btn-warning" data-dismiss="modal"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;關閉</button>
                </div>
                <h4 class="modal-title">呼吸器脫離計畫</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-condensed table-striped" style="background-color: #FFF; margin-bottom: 0;">
                    <thead>
                        <tr>
                            <th data-checkbox="true"></th>
                            <th data-field="P_VALUE">內容</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<form id="FormIDD" method="post" target="Form_TargetTT"
      action="@(Url.Content("~/RTTakeoffAssess/RTTakeoffAssessWordPrintPdf"))">
    <input type="hidden" id="FormInput_Idd" name="pId" />
</form>

<script type="text/javascript">
    var tk_Form_panel_data = '';
 
    
    //儲存
    function tk_Form_save(pThis) {
        var obj = new Object();

        obj.tk_id = $('#tk_form #tk_id').val();
        obj.rec_date = $('#tk_form #rec_date').val();
        obj.DTL = getJsonObject('tk_form');
        obj.DTL.weaningTable = $('#tk_form #weaningTable').bootstrapTable('getData');
        obj.DTL.labDataTable = convert_flat_all($('#tk_form #labDataTable').bootstrapTable('getData'));
        $.ajax({
            url: "@Url.Content("~/RTTakeoffAssess/RTTakeoffNewSave")",
            type: "post",
            data: { rowStr: encodeURIComponent(JSON.stringify(obj)) },
            dataType: "json",
            success: function (data) {
                if (data.status == 0) {
                    //表單重置
                    set_tk_form_View();
                    $("#tk_Form_panel").modal("hide");
                    $("#tk_table").bootstrapTable('refresh');
                }
                showAlert(data.message, msg_stat.Success, 3000);
            },
            beforeSend: function () {
                $(pThis).button('loading');
            },
            complete: function () {
                $(pThis).button('reset');
            },
            error: function () {
                showAlert("存檔錯誤", msg_stat.Danger);
                $(pThis).button('reset');
            }
        });
    }
    //刪除
    function tk_Form_Del(pThis) {
        if (confirm('確認是否要刪除?')) {
            $.ajax({
                url: "@Url.Content("~/RTTakeoffAssess/RTTakeoffNewDel")",
                type: "post",
                data: { tk_id: $('#tk_form #tk_id').val() },
                dataType: "json",
                success: function (data) {
                    if (data.status == 0) {
                        //表單重置
                        set_tk_form_View();
                        $("#tk_Form_panel").modal("hide");
                        $("#tk_table").bootstrapTable('refresh');
                    }
                    showAlert(data.message, msg_stat.Success, 3000);
                },
                beforeSend: function () {
                    $(pThis).button('loading');
                },
                complete: function () {
                    $(pThis).button('reset');
                },
                error: function () {
                    showAlert("存檔錯誤", msg_stat.Danger);
                    $(pThis).button('reset');
                }
            });
        }

    }
    function tk_Form_Last(pThis) {
        $.ajax({
            url: "@Url.Content("~/RTTakeoffAssess/RTTakeoffDataNew")",
            type: "post",
            data: { isLast: true },
            dataType: "json",
            success: function (data) {
                //rec_date
                if (data.length > 0) {
                    //表單重置
                    data[0].rec_date = $('#tk_form #rec_date').val();
                    set_tk_form_View();
                    data[0].tk_id = '';
                    data[0].DTL.isweaning = null;
                    data[0].DTL.weaningTable = [];
                    data[0].DTL.labDataTable = [];
                    fillJsonDom('tk_form', data[0].DTL);
                    $('#tk_form #last_tk_id').val(data[0].last_tk_id);
                    $('#tk_form #tk_id').val(data[0].tk_id);
                    $('#tk_form #rec_date').val(data[0].rec_date);

                    $('#tk_form #weaningTable').bootstrapTable('load', { data: data[0].DTL.weaningTable });
                    $('#tk_form #labDataTable').bootstrapTable('load', { data: data[0].DTL.labDataTable });

                } else {
                    showAlert('程式發生錯誤，請洽資訊人員!', msg_stat.Danger);
                }
            },
            beforeSend: function () {
                $(pThis).button('loading');
            },
            complete: function () {
                $(pThis).button('reset');
            },
            error: function () {
                showAlert("存檔錯誤", msg_stat.Danger);
                $(pThis).button('reset');
            }
        });
    }
    //設定table
    function ReSetweaningBtn(value, row, index) {
        //removeByUniqueId
        html = '<span class="glyphicon glyphicon-remove" onclick="$(\'#weaningTable\').bootstrapTable(\'removeByUniqueId\', ' + value + ');"></span>';
        return html;
    }
    //設定table
    function ReSetlabDataBtn(value, row, index) {
        //removeByUniqueId
        html = '<span class="glyphicon glyphicon-remove" onclick="$(\'#labDataTable\').bootstrapTable(\'removeByUniqueId\',' + value + ');"></span>'
        return html;
    }
    //表單重置
    function set_tk_form_View() {
        //表單重置
        fillJsonDom('tk_Form_panel', tk_Form_panel_data);
        $('#tk_form #weaningTable').bootstrapTable({ data: [], uniqueId: 'seq' });
        $('#tk_form #labDataTable').bootstrapTable({ data: [], uniqueId: 'seq' });
    }
    //取得脫離清單資料
    function get_weaning_select_tb(pThis) {
        pThis.button("loading");
        var pList1 = $('#weaning_select_tb').bootstrapTable('getSelections');
        var pList2 = $('#weaningTable').bootstrapTable('getData');
        var temp = new Array();
        for (var i = 0; i < pList1.length; i++) {
            temp.push(pList1[i]);
        }
        for (var i = 0; i < pList2.length; i++) {
            temp.push(pList2[i]);
        }
        $('#weaningTable').bootstrapTable('load', { data: temp });
        pThis.button("reset");
        $('#weaning_select_modal').modal('hide');
    }

    //取得檢驗清單資料
    function get_labdata_select_tb(pThis) {
        pThis.button("loading");
        var pList1 = $('#labdata_select_tb').bootstrapTable('getSelections');
        var pList2 = $('#labDataTable').bootstrapTable('getData');
        var temp = new Array();
        for (var i = 0; i < pList1.length; i++) {
            temp.push(pList1[i]);
        }
        for (var i = 0; i < pList2.length; i++) {
            temp.push(pList2[i]);
        }
        $('#labDataTable').bootstrapTable('load', { data: temp });
        pThis.button("reset");
        $('#labdata_select_modal').modal('hide');
    }
    function showRTTakeoffAssess(pThis) {
        //debugger;
        var ifok = false;
        var msg = '';
        if ($('#tk_form #tk_id').val().length > 0) {
            win = window.open('about:blank', 'TheNewWindow');
            $.ajax({
                url: '@Url.Content("~/RTTakeoffAssess/showRTTakeoffAssess")',
                type: 'POST',
                async: false,
                data: { pId: $('#tk_form #tk_id').val() },
                success: function (data) {
                    $(pThis).button('reset');
                    $("#pdfForm #HtmlStr").val(encodeURIComponent(data));
                    document.getElementById('pdfForm').submit();
                },
                beforeSend: function () {
                    $(pThis).button('loading');
                },
                complete: function () {
                    $(pThis).button('reset');
                },
                error: function (jqXHR) {
                    log(jqXHR);
                    msg = '程式發生錯誤!';
                }
            });
        } else {
            msg = '沒有資料，無法列印';
            showAlert(msg, msg_stat.Warning, 2500);
        }
    }
    function ButtonOnclick_PrintFunction(pThis) { //20180507 WordPDF下載
        if ($('#tk_form #tk_id').val().length > 0) {
            //pId = 2018050214184452152
            $("#FormIDD #FormInput_Idd").val($('#tk_form #tk_id').val()); //ajax data: { pId: $('#tk_form #tk_id').val() },
            window.open('about:blank', 'Form_TargetTT'); //開啟新的一頁，以下方form為新的頁面
            document.getElementById('FormIDD').submit();
        } else {
            var msg = '沒有資料，無法列印';
            showAlert(msg, msg_stat.Warning, 2500);
        }//else
    }//ButtonOnclick_PrintFunction
</script>
 
<script>
   var try_weaning_vm = new Vue({
        name: 'RTTakeOffAssess',
        el: '#tk_Form_panel',
        data: { try_breath_reason_other:false},
        computed: {

        },
        methods: {
            try_breath_reason_other_change: function () {
                if (!this.try_breath_reason_other) {
                    $('#use_breath_reason_txt').val('');
                }
            },
            setsingleChk: function (pBlock) {
                var _chks = $('#tk_form').find('[data-rcs-cate=' + pBlock + ']').find('input[type=checkbox]');
                var _chkFirst = _chks.first();
                if (_chkFirst.prop('checked')) {
                    _chks = $('#tk_form').find('[data-rcs-cate=' + pBlock + ']').find('input[type=checkbox]:not(:first)');
                    _chks.prop('checked', false);
                    $('#tk_form').find('[data-rcs-cate=' + pBlock + ']').find('input[type=text]').val('');
                } 
            } 

        },
        mounted: function () {
            $(document).ready(function () {
                $('#tk_Form_panel #idno').val('@pat_info.idno');
                tk_Form_panel_data = getJsonObject('tk_Form_panel');
      
                set_tk_form_View();//預設畫面
                maya_datetimepicker("#tk_Form_panel .dt-picker");// 設定datetimepicker 
                $("#tk_Form_panel .dt-picker").each(function () {
                    $(this).data("DateTimePicker").enable();
                });//開啟DateTimePicker功能

                $('#labdata_select_tb').bootstrapTable({
                    url: "@Url.Content("~/RTTakeoffAssess/Getlabdata_select_tb")",
                    flat: true, method: "post", search: true, clickToSelect: true
                });
                $('#albumin_select_tb').bootstrapTable({
                    url: "@Url.Content("~/RTTakeoffAssess/Getlabdata_select_tb")",
                    flat: true, method: "post", search: true
                }).on('click-row.bs.table', function (e, row, $element) {
                    
                    if (!!row.albumin) {
                        $('#m_1').prop('checked',true);
                        $('#m_2').val(row.albumin);
                    } else {
                        $('#m_1').prop('checked', false);
                        $('#m_2').val('');
                    }
                    $('#albumin_select_modal').modal('hide');
                });

                $('#rtRecord_select_tb').bootstrapTable({
                    url: "@Url.Content("~/RTRecord/RecordListData")",
                    queryParams: { "StartDate": moment().format("YYYY-MM-DD 00:00"), "EndDate": moment().format("YYYY-MM-DD 23:59"), "setIpdno": '@(list.Find(x=>x.Selected).Value)' },
                    flat: true, method: "post", search: true
                }).on('click-row.bs.table', function (e, row, $element) {
                    //console.log(row);
                    $('#nbp_1').prop('checked',true);
                    $('#nbp_2').val(!!row['rt_record.mode'] ? row['rt_record.mode'] : '');
                    $('#nbp_3').val(!!row['rt_record.fio2_set'] ? row['rt_record.fio2_set'] : '');
                    $('#nbp_4').val(!!row['rt_record.vt'] ? row['rt_record.vt'] : '');
                    $('#nbp_10').val(!!row['rt_record.pressure_pc'] ? row['rt_record.pressure_pc'] : '');
                    $('#nbp_5').val(!!row['rt_record.vr'] ? row['rt_record.vr'] : '');
                    $('#nbp_6').val(!!row['rt_record.pressure_ps'] ? row['rt_record.pressure_ps'] : '');
                    $('#nbp_7').val(!!row['rt_record.pressure_peep'] ? row['rt_record.pressure_peep'] : '');
                    //$('#nbp_9').val('');
                    $('#rtRecord_select_modal').modal('hide');
                });

                $('#weaning_select_tb').bootstrapTable({
                    url: "@Url.Content("~/RTTakeoffAssess/Getweaning_select_tb")",
                    method: "post", search: true, clickToSelect: true 
                });

            //縮放
            $('#tk_Form_panel .panel_head').on('click', function () {
                var _the = $(this);
                $(this).closest('.panel').find('.panel-body').slideToggle('slow', function () {
                    if (_the.hasClass('fa-chevron-circle-down')) {
                        _the.removeClass('fa-chevron-circle-down');
                        _the.addClass('fa-chevron-circle-right');
                    } else {
                        _the.removeClass('fa-chevron-circle-right');
                        _the.addClass('fa-chevron-circle-down');
                    }
                });
            });

            // 消除關閉modal後會讓卷軸消失的bug   setScrollbar
            $(".setScrollbar").unbind("hidden.bs.modal").on("hidden.bs.modal", function (e) {
                setTimeout(function () { $("#mybody").addClass("modal-open"); }, 0);
            });

 
            //設定停止呼吸器脫離的原因規則 START
            var $gBlock = $('#tk_form #A2_block').find('.gItem');
            var gi_anyone = $('#tk_form #A2_block').find('.form-SBT[id="fs"]').find('.form-item[id="weaning_st_reason_11"]');
            var gii_anytwo = $('#tk_form #A2_block').find('.form-SBT[id="fs"]').find('.form-item[id="weaning_st_reason_12"]');
            var gii_giii = $('#tk_form #A2_block').find('.form-SBT[id="fs"]').find('.form-item[id="weaning_st_reason_13"]');
            $gBlock.each(function () {
                var chk = $(this).find('.form-item');
                chk.each(function () {
                    $(this).click(function () {
                        var giCnt = 0;
                        var giiCnt = 0;
                        var giiiCnt = 0;
                        $gBlock.each(function () {
                            var id = $(this).attr('id');
                            switch (id) {
                                case 'gi':
                                    giCnt = $(this).find("input:checked").length;
                                    break;
                                case 'gii':
                                    giiCnt = $(this).find("input:checked").length;
                                    break;
                                case 'giii':
                                    giiiCnt = $(this).find("input:checked").length;
                                    break;
                                default:
                                    break;
                            }
                        });

                        if (giCnt > 0) {
                            gi_anyone.prop('checked', true);
                        } else {
                            gi_anyone.prop('checked', false);
                        }
                        if (giiCnt > 1) {
                            gii_anytwo.prop('checked', true);
                        } else {
                            gii_anytwo.prop('checked', false);
                        }
                        if (giiCnt > 0 && giiiCnt > 1) {
                            gii_giii.prop('checked', true);
                        } else {
                            gii_giii.prop('checked', false);
                        }
                    });
                });
            });
            

            $('#tk_form #A2_block').find('.form-SBT[id="fs"]').find('.form-item[id="weaning_st_reason_11"]').prop("disabled", true);
            $('#tk_form #A2_block').find('.form-SBT[id="fs"]').find('.form-item[id="weaning_st_reason_12"]').prop("disabled", true);
            $('#tk_form #A2_block').find('.form-SBT[id="fs"]').find('.form-item[id="weaning_st_reason_13"]').prop("disabled", true);

            //設定停止呼吸器脫離的原因規則 END
            //2018/05/23 設定checkBox規則
            setcheckboxRules('tk_form');
       
            });//$(document).ready(function
        }//mounted: function
    });//new Vue
</script>
