@model RCS.Models.ViewModel.printCPTNewRecordData
@using RCS_Data;
@{
    int pageno = 0;
    UserInfo user_info = Model.user_info;
    IPDPatientInfo pat_info = Model.pat_info;

}
@for (int x = 0; x < Model.data.Count(); x++)
{
    pageno++;
    <table border="0" cellspacing="0" cellpadding="3" style="width:100%;">
        <tr>
            <td width="2%" style="font-size:8px;" align="left" valign="bottom">
                104<br />03<br />17<br />病<br />歷<br />管<br />理<br />委<br />員<br />會<br />審<br />查<br />通<br />過
            </td>
            <td>
                <table style="width:100%;height:100%;" cellpadding="3">
                    <tr>
                        <td colspan="2" align="center" valign="middle" class="tilteSize" style="font-size:24px;">
                            肺部復原暨呼吸治療記錄單
                        </td>
                        <td width="40%">
                            <table style="font-size:12px;width:100%;" cellspacing="0" cellpadding="3" class="ALLBorder">
                                <tr>
                                    <td>病歷號 </td>
                                    <td>@(Model.data[x][0].cpt_id == null ? "" : pat_info.chart_no)</td>
                                    <td>床號號 </td>
                                    <td>@(Model.data[x][0].cpt_id == null ? "" : pat_info.bed_no)</td>
                                </tr>
                                <tr>
                                    <td>姓名 </td>
                                    <td>@(Model.data[x][0].cpt_id == null ? "" : pat_info.patient_name)</td>
                                    <td>性別 </td>
                                    <td>@(Model.data[x][0].cpt_id == null ? "" : pat_info.genderCHT)</td>

                                </tr>
                                <tr>

                                    <td>出生日期 </td>
                                    <td>@(Model.data[x][0].cpt_id == null ? "" : pat_info.birth_day_CHT) @(Model.data[x][0].cpt_id == null ? "" : "(" + pat_info.age + ")")</td>
                                    <td>診別 </td>
                                    <td>@(Model.data[x][0].cpt_id == null ? "" : pat_info.nam_c)  </td>
                                </tr>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="3" valign="top">
                            <table align="center" style="width:100%;height:100%;font-size:8px;" cellspacing="0" cellpadding="3">
                                <tr>
                                    <td colspan="5" align="left" class="ALLBorder">
                                        診斷：@(Model.data[x][0].cpt_id == null ? "" : pat_info.diagnosis_code.Length >= 60 ? pat_info.diagnosis_code.Substring(0, 60) + "..." : pat_info.diagnosis_code)
                                    </td>
                                    <td colspan="3" align="left" class="BRBorder topBorder">
                                        身高：@(Model.data[x][0].Height == "" || Model.data[x][0].Height == null ? "________" : Model.data[x][0].Height)cm
                                        / 體重：@(Model.data[x][0].Weight == "" || Model.data[x][0].Weight == null ? "________" : Model.data[x][0].Weight)   kg

                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3" class="LBRBorder" style="height:40px">
                                        治療時間
                                    </td>
                                    <td align="center" class="BRBorder">@(Model.data[x][0].rec_date)</td>
                                    <td align="center" class="BRBorder">@(Model.data[x][1].rec_date)</td>
                                    <td align="center" class="BRBorder">@(Model.data[x][2].rec_date)</td>
                                    <td align="center" class="BRBorder">@(Model.data[x][3].rec_date)</td>
                                    <td align="center" class="BRBorder">@(Model.data[x][4].rec_date)</td>
                                </tr>
                                <tr>
                                    <td align="left" width="2%" rowspan="17" class="LBRBorder">
                                        PROGRAM
                                    </td>
                                    <td align="left" colspan="2" class="BRBorder">
                                        CPT/PD
                                    </td>
                                    <td align="center" class="BRBorder" class="BRBorder">@(Model.data[x][0].treatment_CPT_txt)/@(Model.data[x][0].treatment_PD_txt)</td>
                                    <td align="center" class="BRBorder" class="BRBorder">@(Model.data[x][1].treatment_CPT_txt)/@(Model.data[x][1].treatment_PD_txt)</td>
                                    <td align="center" class="BRBorder" class="BRBorder">@(Model.data[x][2].treatment_CPT_txt)/@(Model.data[x][2].treatment_PD_txt)</td>
                                    <td align="center" class="BRBorder" class="BRBorder">@(Model.data[x][3].treatment_CPT_txt)/@(Model.data[x][3].treatment_PD_txt)</td>
                                    <td align="center" class="BRBorder" class="BRBorder">@(Model.data[x][4].treatment_CPT_txt)/@(Model.data[x][4].treatment_PD_txt)</td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" class="BRBorder">
                                        Drug inhalation
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].Drug_Inhalation_str)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" class="BRBorder">
                                        IPPB Pressure (cmH<sub class="sub">2</sub>O)
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].IPPB_pressure_cmH2O)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" class="BRBorder">
                                        HFCWO P  (cmH<sub class="sub">2</sub>O) / Frequency(Hz)<br />/ Time (mins)
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].HFCWO_P)/@(Model.data[x][j].HFCWO_Frequency)/@(Model.data[x][j].HFCWO_Time)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" class="BRBorder">
                                        SMI：mL/sec
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].SMI_ml)/@(Model.data[x][j].SMI_sec)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" class="BRBorder">
                                        上肢運動
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].up_Exercise)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" class="BRBorder">
                                        下肢運動
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].down_Exercise)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" class="BRBorder">
                                        Devices
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder" style="height:40px;">
                                            @(Model.data[x][j].Devices_str)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" rowspan="2" width="10%" class="BRBorder">
                                        Breath<br />
                                        Exercise
                                    </td>
                                    <td align="left" class="BRBorder" width="23%">
                                        Pursed-lip/ Diaphragmatic
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" width="13%" class="BRBorder">
                                            @(Model.data[x][j].BreathExercise_Pursed_lip)
                                            /
                                            @(Model.data[x][j].BreathExercise_Diaphragmatic)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" class="BRBorder">
                                        Huffing /Cough
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].BreathExercise_Huffing)
                                            /
                                            @(Model.data[x][j].BreathExercise_Cough)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" class="BRBorder">
                                        Reconditioning Exercise/PEP
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].ReconditioningExe) /@(Model.data[x][j].PEP)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" rowspan="2" class="BRBorder">
                                        Cough<br />
                                        Machine
                                    </td>
                                    <td align="left" class="BRBorder">
                                        P inhale / P exhale  (cmH<sub class="sub">2</sub>O)
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].CoughMachine_Inhale_P)
                                            /
                                            @(Model.data[x][j].CoughMachine_Inhale_P)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" class="BRBorder">
                                        T<sub class="sub">I</sub>/T<sub class="sub">E</sub>/T<sub class="sub">P</sub> (sec)
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].CoughMachine_Ti)
                                            /
                                            @(Model.data[x][j].CoughMachine_Te)
                                            /
                                            @(Model.data[x][j].CoughMachine_Tp)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" rowspan="2" class="BRBorder">
                                        NPV
                                    </td>
                                    <td align="left" class="BRBorder">
                                        Pinsp./Pexp.  (cmH<sub class="sub">2</sub>O)
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].NPV_Pinsp)
                                            /
                                            @(Model.data[x][j].NPV_Pexp)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" class="BRBorder">
                                        RR (bpm) /I:E
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].NPV_RR)
                                            /
                                            @(Model.data[x][j].NPV_IE)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" rowspan="2" class="BRBorder">
                                        衛教
                                    </td>
                                    <td align="left" class="BRBorder">
                                        藥物吸入 /居家氧氣治療
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].Home_Drug_Inhalation)
                                            /
                                            @(Model.data[x][j].Home_Oxygen_Therapy)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" class="BRBorder">
                                        氣道清潔技術 /節能指導
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].Airway_cleaning_technology)
                                            /
                                            @(Model.data[x][j].Energy_Saving_Guidance)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" colspan="3" class="LBRBorder">
                                        O2 Device/FiO<sub class="sub">2</sub> (%)
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].O2_Device)/@(Model.data[x][j].Fio2_Device)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" colspan="3" class="LBRBorder">
                                        Breath Sound <br />/ Side
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">

                                            @if (Model.data[x][j].breath_sound_Coarse != null)
                                            {
                                                @Html.Raw("Coarse") <br />
                                                @Html.Raw("/" + Model.data[x][j].breath_sound_Coarse)
                                            }
                                            else if (Model.data[x][j].breath_sound_Crackle != null)
                                            {
                                                @Html.Raw("Crackle") <br />
                                                @Html.Raw("/" + Model.data[x][j].breath_sound_Crackle)
                                            }
                                            else if (Model.data[x][j].breath_sound_Wheezing != null)
                                            {
                                                @Html.Raw("Wheezing") <br />
                                                @Html.Raw("/" + Model.data[x][j].breath_sound_Wheezing)
                                            }
                                            else if (Model.data[x][j].breath_sound_Rhonchi != null)
                                            {
                                                @Html.Raw("Rhonchi") <br />
                                                @Html.Raw("/" + Model.data[x][j].breath_sound_Rhonchi)
                                            }
                                            else if (Model.data[x][j].breath_sound_Decreased != null)
                                            {
                                                @Html.Raw("Decreased") <br />
                                                @Html.Raw("/" + Model.data[x][j].breath_sound_Decreased)
                                            }
                                            else if (Model.data[x][j].breathe_sound_other != null)
                                            {
                                                @Html.Raw(Model.data[x][j].breath_sound_other_str) <br />
                                                @Html.Raw("/" + Model.data[x][j].breathe_sound_other)
                                            }
                                            else
                                            {
                                                @Html.Raw("/")
                                            }

                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" rowspan="3" class="LBRBorder">
                                        痰液
                                    </td>
                                    <td align="left" colspan="2" class="BRBorder">
                                        Quantity
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].sputum_Quantity_str)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" class="BRBorder">
                                        Color
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].sputum_color_string)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" class="BRBorder">
                                        Consistency
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].sputum_Consistency)
                                        </td>
                                    }
                                </tr>

                                <tr>
                                    <td align="left" colspan="3" class="LBRBorder">
                                        GCS ( E/V/M )
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].conscious_e)/ @(Model.data[x][j].conscious_v) / @(Model.data[x][j].conscious_m)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" rowspan="3" class="LBRBorder">
                                        治療前
                                    </td>
                                    <td align="left" colspan="2" class="BRBorder">
                                        O<sub class="sub">2</sub> Flow(LPM) /SpO<sub class="sub">2</sub> (%)
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].Break_O2_flow) / @(Model.data[x][j].Break_SpO2)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" class="BRBorder">
                                        RR(bpm) /HR (bpm)
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].Break_RR) / @(Model.data[x][j].Break_HR)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" class="BRBorder">
                                        SBP /DBP (mmHg)
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].Break_SBP) / @(Model.data[x][j].Break_DBP)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" rowspan="3" class="LBRBorder">
                                        治療中
                                    </td>
                                    <td align="left" colspan="2" class="BRBorder">
                                        O<sub class="sub">2</sub> Flow(LPM) /SpO<sub class="sub">2</sub> (%)
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].In_treatment_O2_flow) / @(Model.data[x][j].In_treatment_SpO2)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" class="BRBorder">
                                        RR(bpm) /HR (bpm)
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].In_treatment_RR) / @(Model.data[x][j].In_treatment_HR)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" class="BRBorder">
                                        SBP /DBP (mmHg)
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].In_treatment_SBP) / @(Model.data[x][j].In_treatment_DBP)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" rowspan="3" class="LBRBorder">
                                        治療後
                                    </td>
                                    <td align="left" colspan="2" class="BRBorder">
                                        O<sub class="sub">2</sub> Flow(LPM) /SpO<sub class="sub">2</sub> (%)
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].End_treatment_O2_flow) / @(Model.data[x][j].End_treatment_SpO2)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" class="BRBorder">
                                        RR(bpm) /HR (bpm)
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].End_treatment_RR) / @(Model.data[x][j].End_treatment_HR)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" colspan="2" class="BRBorder">
                                        SBP /DBP (mmHg)
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].End_treatment_SBP) / @(Model.data[x][j].End_treatment_DBP)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" colspan="3" class="LBRBorder">
                                        治療前 /後Borg分數
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].Brog_score) / @(Model.data[x][j].Brog_score_after)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" colspan="3" class="LBRBorder">
                                        Signature
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder">
                                            @(Model.data[x][j].CREATE_NAME)
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td align="left" colspan="3" class="LBRBorder" style=" height:120px;font-size:8px;">
                                        備註
                                    </td>
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <td align="center" class="BRBorder" style="font-size:8px;">
                                            @(Model.data[x][j].Remark)
                                        </td>
                                    }
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table style="width:100%;height:100%;border-collapse: collapse;" cellpadding="3">
        <tr>
            <td colspan="3" align="center" class="noteFont">
                第 @pageno 張
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td align="left" class="noteFont" style="font-size:10px;">
                @(RCS.Controllers.BaseController.hospName) 104-04-H
            </td>
            <td align="right" class="noteFont" style="font-size:10px;">
                MRF0320040A004
            </td>
        </tr>
    </table>
    <div>我是分頁</div>
}


