@model  RCS_Data.Controllers.RtRecord.rtRecordPDFViewModel
@using RCS_Data;
@{
    string rowDataStyleFont = "font-size:10px;";
    // style="style="@(rowDataStyleFont)""
    ViewBag.Title = "_CHGHRTRecordForm";
    int pageno = 0;
    int pageCnt = RCS.Models.RTRecord.pageCnt;
    int titleConInt = 2;
    int colspan = (titleConInt + pageCnt);
    bool _isEmptyPDF = (bool)ViewData["isEmptyPDF"];
    IPDPatientInfo patientInfo = (IPDPatientInfo)ViewData["patientInfo"];

    if (_isEmptyPDF)
    {
        patientInfo.diagnosis_code = "";
        patientInfo.chart_no = "";
        patientInfo.patient_name = "";
        patientInfo.genderEN = "";
        patientInfo.birth_day = "";
        patientInfo.bed_no = "";
        patientInfo.source_type = "";
    }
}

@foreach (List<RT_RECORD_MAIN> item in Model.List)
{
    //string codt_code = "";
    //string bed_no = "";
    //foreach (RT_RECORD_MAIN o in item)
    //{
    //    if (!string.IsNullOrWhiteSpace(o.COST_CODE) && o.COST_CODE != codt_code)
    //    {
    //        codt_code = o.COST_CODE;
    //    }
    //    if (!string.IsNullOrWhiteSpace(o.BED_NO))
    //    {
    //        bed_no = o.BED_NO;
    //    }
    //}
    pageno++;
    <table style="width:100%;height:100%;" cellpadding="3">
        <tr>
            <td></td>
            <td align="center" valign="middle" class="tilteSize" style="width:50%;font-size:20px;">
                呼吸照護記錄
            </td>
            <td width="40%">
                <table cellspacing="1" cellpadding="2" style="border:1px solid #666; font-size: 12px;width:100%;">
                    <tr>
                        <td style="width:3%;height:2%;">病歷號碼</td>
                        <td style="width:5%;height:2%;">@patientInfo.chart_no</td>
                        <td style="width:1.5%;height:2%;">床號</td>
                        <td style="width:2%;height:2%;">@patientInfo.bed_no</td>
                    </tr>
                    <tr>
                        <td style="width:3%;height:2%;">姓名</td>
                        <td style="width:5%;height:2%;">@(!string.IsNullOrWhiteSpace(patientInfo.patient_name) && patientInfo.patient_name.Length > 10 ? patientInfo.patient_name.Substring(0, 10) : patientInfo.patient_name)</td>
                        <td style="width:1.5%;height:2%;">性別</td>
                        <td style="width:2%;height:2%;">@(!string.IsNullOrWhiteSpace(patientInfo.genderEN) ? patientInfo.genderCHT : "")</td>
                    </tr>
                    <tr>
                        <td style="width:3%;height:2%;">出生日期</td>
                        <td style="height:2%;">@(!string.IsNullOrWhiteSpace(patientInfo.birth_day) ? patientInfo.birth_day_CHT : "") @(!string.IsNullOrWhiteSpace(patientInfo.birth_day) ? "(" + patientInfo.age + ")" : "")</td>
                        <td style="width:3%;height:2%;">診別</td>
                        <td style="height:2%;">@(!string.IsNullOrWhiteSpace(patientInfo.source_type) ? patientInfo.nam_c : "")</td>
                    </tr>
                </table>
            </td>

        </tr>
        <tr>
            <td valign="bottom" align="center" style="width:1.5%;font-size:8px;">86<br />.<br />1<br />.<br />29<br />病歷管理委員會審查通過</td>
            <td colspan="2" valign="top">
                <table class="mainTable noteFont TableRow" cellpadding="3">
                    <tr>
                        <td colspan="9" class="ALLBorder">
                            Diagnosis：
                            @if (!string.IsNullOrWhiteSpace(patientInfo.diagnosis_code) && patientInfo.diagnosis_code.Length >= 50)
                            {
                                @patientInfo.diagnosis_code.Substring(0, 50)
                                @:...
                            }
                            else
                            {
                                @patientInfo.diagnosis_code
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="LBRBorder" colspan="4" align="center" valign="middle">
                            記&emsp;&emsp;&emsp;&emsp;&emsp;錄&emsp;&emsp;&emsp;&emsp;&emsp;日&emsp;&emsp;&emsp;&emsp;&emsp;期&emsp;&emsp;&emsp;&emsp;&emsp;/&emsp;&emsp;&emsp;&emsp;&emsp;時&emsp;&emsp;&emsp;&emsp;&emsp;間
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @if (!string.IsNullOrWhiteSpace(o.RECORDDATE))
                                {
                                    @o.showRECORDDATE.ToString("yyy-MM-dd")
                                }
                                @if (!string.IsNullOrWhiteSpace(o.RECORDDATE))
                                {
                                    @o.showRECORDDATE.ToString("HH:mm")
                                }
                            </td>
                        }
                    </tr>
                    @*<tr>
                            <td class="LBRBorder" colspan="4" align="center" valign="middle">
                                記&emsp;&emsp;&emsp;&emsp;&emsp;錄&emsp;&emsp;&emsp;&emsp;&emsp;時&emsp;&emsp;&emsp;&emsp;&emsp;間
                            </td>
                            @foreach (RT_RECORD_MAIN o in item)
                            {
                                <td  class="BRBorder rowDataStyle" align="center" valign="middle">
                                    @if (!string.IsNullOrWhiteSpace(o.RECORDDATE))
                                    {
                                        @o.showRECORDDATE.ToString("HH:mm")
                                    }
                                </td>
                            }
                        </tr>*@
                    <tr>
                        <td width="5%" align="center" valign="middle" rowspan="18" class="rowOneWidth LBRBorder">
                            呼<br />吸<br />器<br />設<br />定<br />參<br />數
                        </td>
                        <td class="BRBorder" colspan="3">
                            Ventilator Type
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td width="12%" class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @o.rt_record.device
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            Ventilation Mode / O<sub class="sub">2</sub> equipment
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @if (!string.IsNullOrWhiteSpace(o.rt_record.device) && !string.IsNullOrWhiteSpace(o.rt_record.device_o2))
                                {
                                    if (!string.IsNullOrWhiteSpace(o.onOxygen.ENDDATE) && DateTime.Parse(o.onOxygen.ENDDATE).ToString("yyyy-MM-dd HH:mm") == o.showRECORDDATE.ToString("yyyy-MM-dd HH:mm"))
                                    {
                                        @Html.Raw(string.Format("{0}/{1}", o.rt_record.mode, o.rt_record.device_o2))
                                    }
                                    else
                                    {
                                        @Html.Raw(string.Format("{0}/{1}", o.rt_record.mode, o.rt_record.device_o2))
                                    }
                                }
                                else
                                {
                                    @Html.Raw(string.Format("{0}/{1}", o.rt_record.mode, o.rt_record.device_o2))
                                }

                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            Tidal Volume Set / Total （mL）
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.vt_set, o.rt_record.exp_tv))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            Ventilation Rate Set / Total (bpm)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.vr_set, o.rt_record.vr))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            Flow @*/ O2 flow*@ / Pattern
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", string.Concat(o.rt_record.flow, string.IsNullOrWhiteSpace(o.rt_record.flow) ? "" : "L")@*, o.rt_record.o2flow*@, o.rt_record.flow_pattern))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            Min Volume Set / Total （L/min）
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.mv_set, o.rt_record.mv))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            Insp T(s) / I:E / Thigh(s) / Tlow(s)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @if (!string.IsNullOrWhiteSpace(o.rt_record.insp_time) || !string.IsNullOrWhiteSpace(o.rt_record.ie_ratio) || !string.IsNullOrWhiteSpace(o.rt_record.thigh) || !string.IsNullOrWhiteSpace(o.rt_record.tlow))
                                {
                                    @Html.Raw(string.Format("{0}/{1}/{2}/{3}", o.rt_record.insp_time, o.rt_record.ie_ratio, o.rt_record.thigh, o.rt_record.tlow))
                                }
                                else
                                {
                                    @:
                                }
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            IPAP  / EPAP / Phigh / Plow (cmH<sub class="sub">2</sub>O)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @if (!string.IsNullOrWhiteSpace(o.rt_record.ipap) || !string.IsNullOrWhiteSpace(o.rt_record.epap) || !string.IsNullOrWhiteSpace(o.rt_record.phigh) || !string.IsNullOrWhiteSpace(o.rt_record.plow))
                                {
                                    @Html.Raw(string.Format("{0}/{1}/{2}/{3}", o.rt_record.ipap, o.rt_record.epap, o.rt_record.phigh, o.rt_record.plow@*, o.rt_record.FA, o.rt_record.VA*@))
                                }
                                else
                                {
                                    @:
                                }
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            P.S (cmH<sub class="sub">2</sub>O) / P.C (cmH<sub class="sub">2</sub>O)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.pressure_ps, o.rt_record.pressure_pc))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            Peak (cmH<sub class="sub">2</sub>O) / HFOV mean (cmH<sub class="sub">2</sub>O)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.pressure_peak, o.rt_record.hfov_mean))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            Mean (cmH<sub class="sub">2</sub>O) / PEEP (cmH<sub class="sub">2</sub>O)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.pressure_mean, o.rt_record.pressure_peep))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            RM / Optimal PEEP (cmH<sub class="sub">2</sub>O)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.RM, o.rt_record.optimal_peep))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            FiO<sub class="sub">2</sub>（%）/ FiO<sub class="sub">2</sub> Analyzer measure（%）
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.fio2_set, o.rt_record.fio2_measured))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            O<sub class="sub">2</sub> Flow (LPM)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @o.rt_record.o2flow
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            Sensitivity (Pr cmH<sub class="sub">2</sub>O / F LPM)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.pressure_sensitivity, o.rt_record.sensitivity_flow))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            Raw / C
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.resistance, o.rt_record.Compliance))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            Min Volume Alarm (L/min) /<br />Pr. Alarm(cmH<sub class="sub">2</sub>O)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.low_mv_alarm, o.rt_record.paw_alarm))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            其他設定
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            List<string> pList = new List<string>();
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="font-size:8px;">
                                @if (!string.IsNullOrWhiteSpace(o.rt_record.delta_p))
                                {
                                    pList.Add(string.Format("delta p:{0}", o.rt_record.delta_p));
                                }
                                @if (!string.IsNullOrWhiteSpace(o.rt_record.hfov_hz))
                                {
                                    pList.Add(string.Format("hfov hz:{0}", o.rt_record.hfov_hz));
                                }
                                @if (!string.IsNullOrWhiteSpace(o.rt_record.hfov_mean))
                                {
                                    pList.Add(string.Format("hfov mean:{0}", o.rt_record.hfov_mean));
                                }
                                @Html.Raw(string.Join(", ", pList))
                            </td>
                        }
                    </tr>

                    <tr>
                        <td class="BRBorder LBRBorder" colspan="4">
                            ABG Time
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @if (!string.IsNullOrWhiteSpace(o.rt_record.abg_time))
                                {
                                    @Html.Raw(DateTime.Parse(o.rt_record.abg_time).ToString("MM-dd HH:mm"));
                                }
                            </td>
                        }
                    </tr>
                    @*<tr>
                            <td class="BRBorder" colspan="3">
                                Hz / Ampl / DCO2
                            </td>
                            @foreach (RT_RECORD_MAIN o in item)
                            {
                                <td  class="BRBorder rowDataStyle" align="center" valign="middle">
                                    @Html.Raw(string.Format("{0}/{1}/{2}", o.rt_record.hz, o.rt_record.ampl, o.rt_record.dco2))
                                </td>
                            }
                        </tr>*@


                    @*<tr>
                            <td class="BRBorder" colspan="3">
                                Tube Compensation（%）/ ETS (%)
                            </td>
                            @foreach (RT_RECORD_MAIN o in item)
                            {
                                <td  class="BRBorder rowDataStyle" align="center" valign="middle">
                                    @Html.Raw(string.Format("{0}/{1}", o.rt_record.tube_compensaton, o.rt_record.ets))
                                </td>
                            }
                        </tr>*@


                    @*<tr>
                            <td class="BRBorder" colspan="3">
                                Humidifier Temp.
                            </td>
                            @foreach (RT_RECORD_MAIN o in item)
                            {
                                <td  class="BRBorder rowDataStyle" align="center" valign="middle">
                                    @o.rt_record.humi_temp
                                </td>
                            }
                        </tr>*@
                    <tr>
                        <td align="center" valign="middle" rowspan="5" class="rowOneWidth LBRBorder" style="font-size:10px;">
                            動<br />脈<br />血<br />氧<br />體<br />分<br />析
                        </td>
                        <td class="BRBorder" colspan="3">
                            pH
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @o.rt_record.abg_ph
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            PaCO<sub class="sub">2</sub>(mmHg)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @o.rt_record.abg_paco2
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            PaO<sub class="sub">2</sub>(mmHg)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @o.rt_record.abg_pao2
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            HCO<sub class="sub">3</sub> / BE (mmol/L)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.abg_hco3, o.rt_record.abg_be))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            SaO<sub class="sub">2</sub> / SpO<sub class="sub">2</sub>（%）
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.abg_sao2, o.rt_record.spo2))
                            </td>
                        }
                    </tr>
                    @*<tr>
                            <td class="BRBorder" colspan="3">
                                PaO<sub class="sub">2</sub>/FiO<sub class="sub">2</sub> / D(A-a)O<sub class="sub">2</sub>
                            </td>
                            @foreach (RT_RECORD_MAIN o in item)
                            {
                                <td  class="BRBorder rowDataStyle" align="center" valign="middle">
                                    @Html.Raw(string.Format("{0}/{1}", o.rt_record.pao2_fio2, o.rt_record.abg_paado2))
                                </td>
                            }
                        </tr>*@
                    @*<tr>
                            <td class="BRBorder" colspan="3">
                                Shunt / OI
                            </td>
                            @foreach (RT_RECORD_MAIN o in item)
                            {
                                <td  class="BRBorder rowDataStyle" align="center" valign="middle">
                                    @Html.Raw(string.Format("{0}/{1}", o.rt_record.abg_shunt, o.rt_record.oi))
                                </td>
                            }
                        </tr>*@
                    <tr>
                        <td align="center" valign="middle" rowspan="5" class="rowOneWidth LBRBorder">
                            脫<br />離<br />指<br />標
                        </td>
                        <td class="BRBorder" colspan="3">
                            Time
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @o.rt_record.evaluation_time
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            V<sub class="sub">T</sub> (mL) / RR（bpm）
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.vt_value, o.rt_record.rsi_srr))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            RSBI
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @o.rt_record.rsbi
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            P I/E max (cmH<sub class="sub">2</sub>O)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.pi_max, o.rt_record.pe_max))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            Cuff-Leak Test (mL)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @o.rt_record.cuff_leak_ml
                            </td>
                        }
                    </tr>
                    <tr>
                        <td align="center" valign="middle" rowspan="5" class="rowOneWidth LBRBorder">
                            E<br />C<br />M<br />O
                        </td>
                        <td class="BRBorder" colspan="3">
                            ECMO Type
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @o.rt_record.ecmo
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            Pump Speed (RPM) / (L/min)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.ecmo_pump_speed, o.rt_record.ecmo_pump_speed_lmin))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            Blood Flow (L/min)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @o.rt_record.blood_flow
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            Gas Flow (L/min)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @o.rt_record.gas_flow
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            FiO<sub class="sub">2</sub> / SvO<sub class="sub">2</sub> (%)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.ecmo_fio2, o.rt_record.ecmo_svo2))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td align="center" valign="middle" rowspan="2" class="rowOneWidth LBRBorder">
                            NO
                        </td>
                        <td class="BRBorder" colspan="3">
                            NO Set / Measure (ppm)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.no_set, o.rt_record.no))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            NO<sub class="sub">2</sub> Measure (ppm)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}", o.rt_record.other_no2))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder LBRBorder" colspan="4">
                            ETT Size / Mark
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.et_size, o.rt_record.et_mark))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder LBRBorder" colspan="4">
                            Cuff Pressure (cmH<sub class="sub">2</sub>O)/ (mL)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @o.rt_record.cuff
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder LBRBorder" colspan="4">
                            Breathing Sound
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @o.rt_record.breath_sound
                            </td>
                        }
                    </tr>
                    <tr>
                        <td align="center" valign="middle" rowspan="2" class="rowOneWidth LBRBorder" style="font-size:8px;">
                            血力<br />行學
                        </td>
                        <td class="BRBorder" colspan="3">
                            Pulse Rate (bpm) / Temp (&deg;C)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.pulse, o.rt_record.vital_signs_temp))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder" colspan="3">
                            BP（S/D）（mmHg）
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.bps, o.rt_record.bpd))
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder LBRBorder" colspan="4">
                            GCS (E.V.M.)
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @if (!string.IsNullOrWhiteSpace(o.rt_record.gcse) || !string.IsNullOrWhiteSpace(o.rt_record.gcsv) || !string.IsNullOrWhiteSpace(o.rt_record.gcsm))
                                {
                                    @Html.Raw(string.Format("{0}/{1}/{2}", o.rt_record.gcse, o.rt_record.gcsv, o.rt_record.gcsm))
                                }
                                else
                                {
                                    @:
                                }
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="BRBorder LBRBorder" colspan="4">
                            集水杯 / 固定腳架
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle" style="@(rowDataStyleFont)">
                                @Html.Raw(string.Format("{0}/{1}", o.rt_record.water_collecting_cup, o.rt_record.fixed_tripod))
                            </td>
                        }
                    </tr>
                    @*<tr>
                            <td align="center" valign="middle" rowspan="3" class="rowOneWidth LBRBorder">
                                EM<br />CO
                            </td>
                            <td class="BRBorder" colspan="3">
                                Type / SvO2
                            </td>
                            @foreach (RT_RECORD_MAIN o in item)
                            {
                                <td  class="BRBorder rowDataStyle" align="center" valign="middle">
                                    @Html.Raw(string.Format("{0}/{1}", o.rt_record.ecmo, o.rt_record.ecmo_svo2))
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="BRBorder" colspan="3">
                                Pump speed
                            </td>
                            @foreach (RT_RECORD_MAIN o in item)
                            {
                                <td  class="BRBorder rowDataStyle" align="center" valign="middle">
                                    @Html.Raw(string.Format("{0}/{1}", o.rt_record.ecmo_co, o.rt_record.ecmo_pump_speed))
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="BRBorder" colspan="3">
                                FiO2/Air flow
                            </td>
                            @foreach (RT_RECORD_MAIN o in item)
                            {
                                <td  class="BRBorder rowDataStyle" align="center" valign="middle">
                                    @Html.Raw(string.Format("{0}/{1}", o.rt_record.ecmo_fio2, o.rt_record.ecmo_air_flow))
                                </td>
                            }
                        </tr>*@
                    <tr style="height:50px;">
                        <td class="BRBorder LBRBorder" colspan="4">
                            備註
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            string _memo = o.rt_record.memo;
                            List<string> labList = new List<string>();
                            if (!string.IsNullOrWhiteSpace(o.rt_record.biochem_hb))
                            {
                                labList.Add(string.Concat("Hb(gm%):", o.rt_record.biochem_hb));
                            }
                            if (!string.IsNullOrWhiteSpace(o.rt_record.biochem_ht))
                            {
                                labList.Add(string.Concat("Ht:", o.rt_record.biochem_ht));
                            }
                            if (!string.IsNullOrWhiteSpace(o.rt_record.biochem_wbc))
                            {
                                labList.Add(string.Concat("WBC:", o.rt_record.biochem_wbc));
                            }
                            if (!string.IsNullOrWhiteSpace(o.rt_record.biochem_p))
                            {
                                labList.Add(string.Concat("P(mg%):", o.rt_record.biochem_p));
                            }
                            if (!string.IsNullOrWhiteSpace(o.rt_record.biochem_na))
                            {
                                labList.Add(string.Concat("Na:", o.rt_record.biochem_na));
                            }
                            if (!string.IsNullOrWhiteSpace(o.rt_record.biochem_k))
                            {
                                labList.Add(string.Concat("K(m.Eq/L):", o.rt_record.biochem_k));
                            }
                            if (!string.IsNullOrWhiteSpace(o.rt_record.biochem_bun))
                            {
                                labList.Add(string.Concat("BUN:", o.rt_record.biochem_bun));
                            }
                            if (!string.IsNullOrWhiteSpace(o.rt_record.biochem_cr))
                            {
                                labList.Add(string.Concat("Cr.(mg%):", o.rt_record.biochem_cr));
                            }
                            if (!string.IsNullOrWhiteSpace(o.rt_record.biochem_albumin_sugar))
                            {
                                labList.Add(string.Concat("AlbuminSugar:", o.rt_record.biochem_albumin_sugar));
                            }
                            if (!string.IsNullOrWhiteSpace(o.rt_record.ICP))
                            {
                                labList.Add(string.Concat("ICP:", o.rt_record.ICP));
                            }
                            if (!string.IsNullOrWhiteSpace(o.rt_record.Try_off_MV_1))
                            {
                                labList.Add(string.Concat("Try off MV with:", o.rt_record.Try_off_MV_1, "/", o.rt_record.Try_off_MV_2, "HRs/", o.rt_record.Try_off_MV_3));
                            }
                            if (!string.IsNullOrWhiteSpace(o.rt_record.Try_off_NIV_1))
                            {
                                labList.Add(string.Concat("Try off NIV:", o.rt_record.Try_off_NIV_1, "HRs/", o.rt_record.Try_off_NIV_2));
                            }
                            if (labList.Count > 0)
                            {
                                _memo = string.Concat(_memo, string.Join(",", labList));
                            }
                            //if (!string.IsNullOrWhiteSpace(o.rt_record.drug_memo))
                            //{
                            //    if (!string.IsNullOrWhiteSpace(_memo))
                            //    {
                            //        _memo = string.Concat(_memo, " ", o.rt_record.drug_memo);
                            //    }
                            //    else
                            //    {
                            //        _memo = string.Concat(_memo, o.rt_record.drug_memo);
                            //    }
                            //}
                            <td width="12%" class="BRBorder rowDataStyle" style="font-size:8px;">
                                @if (!string.IsNullOrWhiteSpace(_memo) && _memo.Length > 80)
                                {
                                    @_memo.Substring(0, 80)
                                    @:...
                                }
                                else
                                {
                                    @_memo
                                }
                            </td>
                        }
                    </tr>
                    @*<tr>
                            <td class="BRBorder LBRBorder" colspan="4">
                                MV Dates
                            </td>
                            @foreach (RT_RECORD_MAIN o in item)
                            {
                                <td  class="BRBorder rowDataStyle" align="center" valign="middle">
                                    @string.Concat(string.IsNullOrWhiteSpace(o.rt_record.use_days_how) ? "" : o.rt_record.use_days_how + " 天")
                                </td>
                            }
                        </tr>*@
                    <tr>
                        <td class="BRBorder LBRBorder" colspan="4">
                            Signature
                        </td>
                        @foreach (RT_RECORD_MAIN o in item)
                        {
                            <td class="BRBorder rowDataStyle" align="center" valign="middle">
                                @o.CREATE_NAME
                            </td>
                        }
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td align="left" style="width:30%;" class="noteFont"></td>
            <td align="center" style="width:30%;" class="noteFont">
                第 @pageno 張
            </td>
            <td align="right" style="width:30%;" class="noteFont"></td>
        </tr>
        <tr>
            <td align="left" class="noteFont" style="font-size:10px;">
                @(RCS.Controllers.BaseController.hospName)
            </td>
            <td align="center" class="noteFont"></td>
            <td align="right" class="noteFont" style="font-size:10px;">
                MRF0320015A001
            </td>
        </tr>
    </table>
    <div>我是分頁</div>
    pageno++;
    <table style="width:100%;height:100%;border-collapse: collapse;" cellpadding="3">
        <tr>
            <td></td>
            <td align="center" valign="middle" class="tilteSize" style="width:66%;font-size:22px;">
                呼吸照護及特殊治療記錄或處置結果
            </td>
            <td width="40%">
                <table cellspacing="1" cellpadding="2" style="border:1px solid #666; font-size: 12px;width:100%;">
                    <tr>
                        <td style="width:3%;height:2%;">病歷號碼</td>
                        <td style="width:5%;height:2%;">@patientInfo.chart_no</td>
                        <td style="width:1.5%;height:2%;">床號</td>
                        <td style="width:2%;height:2%;">@patientInfo.bed_no</td>
                    </tr>
                    <tr>
                        <td style="width:3%;height:2%;">姓名</td>
                        <td style="width:5%;height:2%;">@(!string.IsNullOrWhiteSpace(patientInfo.patient_name) && patientInfo.patient_name.Length > 10 ? patientInfo.patient_name.Substring(0, 10) : patientInfo.patient_name)</td>
                        <td style="width:1.5%;height:2%;">性別</td>
                        <td style="width:2%;height:2%;">@(!string.IsNullOrWhiteSpace(patientInfo.genderEN) ? patientInfo.genderCHT : "")</td>
                    </tr>
                    <tr>
                        <td style="width:3%;height:2%;">出生日期</td>
                        <td style="height:2%;">@(!string.IsNullOrWhiteSpace(patientInfo.birth_day) ? patientInfo.birth_day_CHT : "") @(!string.IsNullOrWhiteSpace(patientInfo.birth_day) ? "(" + patientInfo.age + ")" : "")</td>
                        <td style="width:3%;height:2%;">診別</td>
                        <td style="height:2%;">@(!string.IsNullOrWhiteSpace(patientInfo.source_type) ? patientInfo.nam_c : "")</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table> 
    <table style="width:100%;height:100% " >
        <tr>
            <td valign="bottom" align="center" style="width:1.5%;font-size:8px;">86<br />.<br />1<br />.<br />29<br />病歷管理委員會審查通過</td>
            <td style="width:99%;"> 
                <table style="width:100%;height:100%;border-collapse: collapse;" cellpadding="3">
                    <tr style="height:3%;">
                        <td align="center" style="border:1px solid black;width:10%;">日期</td>
                        <td align="center" style="border:1px solid black;width:40%;">治療記錄或處置結果</td>
                        <td align="center" style="border:1px solid black;width:20%;">每日呼吸器脫離評估</td>
                        <td align="center" style="border:1px solid black;width:10%;">Signature</td>
                    </tr>
                    @foreach (RT_RECORD_MAIN o in item)
                    {
                        <tr style="height:15%;">
                            <td align="center" style="border:1px solid black;">@o.rt_record.recorddate <br /> @o.rt_record.recordtime</td>
                            <td valign="top" style="border:1px solid black;font-size: 10px;">
                                @if (!string.IsNullOrWhiteSpace(o.rt_record.recordtime) && string.IsNullOrWhiteSpace(o.rt_record.drug_memo))
                                {
                                    @:以下空白
                                }
                                else
                                {
                                    @o.rt_record.drug_memo
                                }
                            </td>
                            <td valign="top" style="border:1px solid black;font-size: 10px;">
                                @if (!string.IsNullOrWhiteSpace(o.pRWCA_memo))
                                {
                                    o.pRWCA_memo = o.pRWCA_memo.Replace(" *", "");
                                    List<string> pList = o.pRWCA_memo.Split(',').ToList();
                                    foreach (string rwca in pList)
                                    {
                                        switch (rwca)
                                        {
                                            case "1":
                                                @:1.呼吸衰竭誘發因素無法被控制
                                                @:<br />
                                                break;
                                            case "2":
                                                @:2.生命徵象及整體狀況不穩定
                                                @:<br />
                                                break;
                                            case "3":
                                                @:3.MAP &lt; 65 mmHg, SBP &lt; 90 或 &gt; 180 mmHg
                                                @:<br />
                                                break;
                                            case "4":
                                                @:4.新的心律不整
                                                @:<br />
                                                break;
                                            case "5":
                                                @:5.24小時內有急性冠心症
                                                @:<br />
                                                break;
                                            case "6":
                                                @:6.顱內壓 &gt; 20 mmHg
                                                @:<br />
                                                break;
                                            case "7":
                                                @:7.FiO2 ≧ 50% 或 PEEP &gt; 8cmH2O 或 SPO2 ≦ 90%
                                                @:<br />
                                                break;
                                            default:
                                                break;
                                        }
                                    }
                                }
                                @if (!string.IsNullOrWhiteSpace(o.pRWCA_memo_Plan))
                                {
                                    @:Plan:&emsp;&emsp;
                                    switch (o.pRWCA_memo_Plan)
                                    {
                                        case "1":
                                            @:Try invasive MV weaning mode
                                            break;
                                        case "2":
                                            @:SBT
                                            break;
                                        case "3":
                                            @:Try off NIV with oxygen therapy
                                            break;
                                        case "4":
                                            @:Keep MV Support
                                            break;
                                        case "5":
                                            @:Keep NIV Support
                                            break;
                                        default:
                                            break;
                                    }
                                }
                                @if (!string.IsNullOrWhiteSpace(o.rt_record.recordtime) && string.IsNullOrWhiteSpace(o.pRWCA_memo) && string.IsNullOrWhiteSpace(o.pRWCA_memo_Plan))
                                {
                                    @:以下空白
                                }
                            </td>
                            <td align="center" style="border:1px solid black;">@o.CREATE_NAME</td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
         
    </table> 
    <table style="width:100%;height:100%;border-collapse: collapse;" cellpadding="3">
        <tr>
            <td align="left" class="noteFont" style="font-size:16px;">
                備註：
            </td>
            <td align="left" class="noteFont" style="font-size:14px;">
                每日呼吸器脫離 評估－無法進行呼吸器脫離原因
            </td>
            <td align="left" class="noteFont"></td>
        </tr>
        <tr>
            <td align="left" class="noteFont"></td>
            <td align="left" class="noteFont" style="font-size:14px;">
                1. 呼吸衰竭誘發因素無法被控制
            </td>
            <td align="left" class="noteFont" style="font-size:14px;">
                5. 24 小時內有急性冠心症
            </td>
        </tr>
        <tr>
            <td align="left" class="noteFont"></td>
            <td align="left" class="noteFont" style="font-size:14px;">
                2. 生命徵象及整體狀況不穩定
            </td>
            <td align="left" class="noteFont" style="font-size:14px;">
                6. 顱內壓 &gt; 20 mmHg
            </td>
        </tr>
        <tr>
            <td align="left" class="noteFont"></td>
            <td align="left" class="noteFont" style="font-size:14px;">
                3. MAP &lt; 65 mmHg, SBP &lt; 90 或 &gt; 180 mmHg
            </td>
            <td align="left" class="noteFont" style="font-size:14px;">
                7. FiO2 ≧ 50% 或 PEEP &gt; 8cmH2O 或 SPO2 ≦ 90%
            </td>
        </tr>
        <tr>
            <td align="left" class="noteFont"></td>
            <td align="left" class="noteFont" style="font-size:14px;">
                4. 新的心律不整
            </td>
            <td align="left" class="noteFont"></td>
        </tr>
    </table>
    <table style="width:100%;height:100%;border-collapse: collapse;" cellpadding="3">
        <tr>
            <td align="left" style="width:30%;" class="noteFont"></td>
            <td align="center" style="width:30%;" class="noteFont">
                第 @pageno 張
            </td>
            <td align="right" style="width:30%;" class="noteFont"></td>
        </tr>
        <tr>
            <td align="left" class="noteFont" style="font-size:10px;">
                @(RCS.Controllers.BaseController.hospName) 103-09-F
            </td>
            <td align="center" class="noteFont"></td>
            <td align="right" class="noteFont" style="font-size:10px;">
                MRF0320015A001
            </td>
        </tr>
    </table>
}
