@*@model RCS.Models.ViewModel.RTTakeoffAssessViewModel*@
@model RCS.Models.ViewModel.ListRTTakeoffAssessViewModel
@using RCS_Data;
@{

}

@for (int ii = 0; ii < Model.List.Count(); ii++)
{
    VM_RTTakeoffAssess rtTakeOff_data = Model.List[ii].DTL; 
    IPDPatientInfo pat_info = Model.List[ii].pat_info;
    List<RCS_WEANING_ITEM> weaningprofile_List = Model.List[ii].WeaningProfile_List;
    if (weaningprofile_List == null) { weaningprofile_List = new List<RCS_WEANING_ITEM>(); }

    <table id="patient_table" border="0" cellspacing="0" cellpadding="3" style="width:95%;">
        <tr>
            <td width="20%">&nbsp;</td>
            <td style="text-align:center; font-size:22px" width="45%">
                呼吸器脫離評估暨計畫單
            </td>
            <td width="33%">
                <table cellspacing="1" cellpadding="2" style="border:1px solid #666; font-size: 12px; ">
                    <tr>
                        <td>病歷號碼：</td>
                        <td>@( string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) ? "" : pat_info.chart_no)</td>
                        <td>床號：</td>
                        <td>@( string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) ? "" : pat_info.bed_no)</td>
                    </tr>
                    <tr>
                        <td>姓名：</td>
                        <td>@( string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) ? "" : pat_info.patient_name)</td>
                        <td>性別：</td>
                        <td>@( string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) ? "" : pat_info.genderCHT)</td>
                    </tr>
                    <tr>
                        <td>出生日期：</td>
                        <td>@( string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) ? "" : pat_info.birth_day_CHT) @(string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) ? "" : "(" + pat_info.age + ")")</td>
                        <td>診別:</td>
                        <td>@( string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) ? "" : pat_info.nam_c)  </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table id="RTTakeoff_table" border="0" cellspacing="0" cellpadding="3" style="width:97%;">
        <tr>
            <td ></td>
            <td colspan="2">入院日期:&nbsp;@(!string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) && !string.IsNullOrWhiteSpace(pat_info.diag_date) ? pat_info.diag_date.Split(' ')[0] : "__________")</td>
            <td colspan="3" align="right">呼吸器開始使用日期:&nbsp;@(string.IsNullOrWhiteSpace(rtTakeOff_data.on_breath_date) ? "__________" : rtTakeOff_data.on_breath_date)</td>
        </tr>
        <tr>
            <td ></td>
            <td colspan="5">診斷:&nbsp;@(!string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) && !string.IsNullOrWhiteSpace(pat_info.diagnosis_code) ? pat_info.diagnosis_code : "")</td>
        </tr>
    </table>
    <table border="0" cellspacing="0" cellpadding="3" style="width:100%;">
        <tr>
            <td  width="2%" style="font-size:8px;" align="left" valign="bottom">
                97.<br />03.<br />12<br />病<br />歷<br />管<br />理<br />委<br />員<br />會<br />審<br />查<br />通<br />過
            </td>
            <td>
                <table id="RTTakeoff_table" border="1" cellspacing="0" cellpadding="3" style="width:97%;font-size:13.5px;">
                    <tr>
                        <td colspan="2">記&nbsp;錄&nbsp;時&nbsp;間</td>
                        <td colspan="4" style="font-size:12px;">@(!string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) && !string.IsNullOrWhiteSpace(rtTakeOff_data.rec_date) ? rtTakeOff_data.rec_date : "")</td>
                    </tr>
                    <tr>
                        <td colspan="2">Present Ventilator Setting</td>
                        <td colspan="4" style="font-size:12px;">
                            Mode <u>@(!string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) && !string.IsNullOrWhiteSpace(rtTakeOff_data.rt_start_model) ? rtTakeOff_data.rt_start_model : "___")</u>;
                            FiO<sub>2</sub>(%) <u>@(!string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) && !string.IsNullOrWhiteSpace(rtTakeOff_data.rt_start_fio2) ? rtTakeOff_data.rt_start_fio2 : "___")</u>;
                            PEEP(cmH<sub>2</sub>O)  <u>@(!string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) && !string.IsNullOrWhiteSpace(rtTakeOff_data.rt_start_PEEP) ? rtTakeOff_data.rt_start_PEEP : "___")</u>;
                            VT/PC(cmH<sub>2</sub>O) <u>@(!string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) && !string.IsNullOrWhiteSpace(rtTakeOff_data.rt_start_VT_PC) ? rtTakeOff_data.rt_start_VT_PC : "___")</u>
                            /<u>@(!string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) && !string.IsNullOrWhiteSpace(rtTakeOff_data.rt_start_PC) ? rtTakeOff_data.rt_start_PC : "___")</u>;<br/>
                            PS(cmH<sub>2</sub>O) <u>@(!string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) && !string.IsNullOrWhiteSpace(rtTakeOff_data.rt_start_PS) ? rtTakeOff_data.rt_start_PS : "___")</u>;
                            RR(bpm) <u>@(!string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) && !string.IsNullOrWhiteSpace(rtTakeOff_data.rt_start_RR) ? rtTakeOff_data.rt_start_RR : "___")</u>;
                            IPAP/EPAP (CPAP) <u>@(!string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) && !string.IsNullOrWhiteSpace(rtTakeOff_data.rt_start_IPAP) ? rtTakeOff_data.rt_start_IPAP : "___")</u>
                            /<u>@(!string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) && !string.IsNullOrWhiteSpace(rtTakeOff_data.rt_start_EPAP) ? rtTakeOff_data.rt_start_EPAP : "___")</u>;<br />
                            Phigh/Plow (cmH<sub>2</sub>O) <u>@(!string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) && !string.IsNullOrWhiteSpace(rtTakeOff_data.rt_start_phigh) ? rtTakeOff_data.rt_start_phigh : "___")</u>
                            /<u>@(!string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) && !string.IsNullOrWhiteSpace(rtTakeOff_data.rt_start_plow) ? rtTakeOff_data.rt_start_plow : "___")</u>;
                            Thigh/Tlow (s) <u>@(!string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) && !string.IsNullOrWhiteSpace(rtTakeOff_data.rt_start_thigh) ? rtTakeOff_data.rt_start_thigh : "___")</u>
                            /<u>@(!string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) && !string.IsNullOrWhiteSpace(rtTakeOff_data.rt_start_tlow) ? rtTakeOff_data.rt_start_tlow : "___")</u>;<br />
                            P/HFOV mean (cmH<sub>2</sub>O) <u>@(!string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) && !string.IsNullOrWhiteSpace(rtTakeOff_data.rt_start_delta_p) ? rtTakeOff_data.rt_start_delta_p : "___")</u>
                            /<u>@(!string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) && !string.IsNullOrWhiteSpace(rtTakeOff_data.rt_start_hfov_mean) ? rtTakeOff_data.rt_start_hfov_mean : "___")</u>;
                            HFOV (Hz) <u>@(!string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) && !string.IsNullOrWhiteSpace(rtTakeOff_data.rt_start_hfov_hz) ? rtTakeOff_data.rt_start_hfov_hz : "___")</u>;
                            <br />
                            Other <u>@(string.IsNullOrWhiteSpace(rtTakeOff_data.present_ventilator_setting_data) ? "" : rtTakeOff_data.present_ventilator_setting_data)</u>;
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="2">Data of Weaning Profile</td>
                        <td colspan="4"  style="font-size:12px;">
                            Date：@(weaningprofile_List.Count() > 0 ? weaningprofile_List[0].date : "__________" )&nbsp;&nbsp;&nbsp;
                            Ventilator Mode：@(weaningprofile_List.Count() > 0 ? weaningprofile_List[0].mode : "__________" )
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"  style="font-size:12px;">
                            Data：RSBI @(weaningprofile_List.Count() > 0 ? weaningprofile_List[0].rsbi : "_____" );
                            VT(mL) @(weaningprofile_List.Count() > 0 ? weaningprofile_List[0].vt_value : "_____" );
                            RR(bpm) @(weaningprofile_List.Count() > 0 ? weaningprofile_List[0].srr : "_____" );
                            PI/PE max(cmH<sub class="sub">2</sub>O) @(weaningprofile_List.Count() > 0 ? weaningprofile_List[0].pi_max : "_____" ) / @(weaningprofile_List.Count() > 0 ? weaningprofile_List[0].pe_max : "_____" );
                            Cuff leak(mL) @(weaningprofile_List.Count() > 0 ? weaningprofile_List[0].cuff_leak_ml : "_____" )
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">Weaning Program</td>
                    </tr>
                    <tr>
                        <td rowspan="7" width="11.5%" align="center">Affecting<br />Factors<br />Of<br />Weaning<br />from MV</td>
                        <td colspan="1" width="15.5%">
                            Respiration
                            related
                        </td>
                        <td colspan="4" style="font-size:12px;">
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.respiration_related_data) && rtTakeOff_data.respiration_related_data.Contains("Pathologic lung condition（ARDS、COPD、Asthma、Bronchiectasis、Lung cancer、Pneumoconiosis .ets）") ?
                "■　" : "□　")
                            Pathologic lung condition(ARDS、COPD、Asthma、Bronchiectasis
                            <br />
                            &nbsp;&nbsp;&nbsp;、Lung cancer、Pneumoconiosis .ets)
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.respiration_related_data) && rtTakeOff_data.respiration_related_data.Contains("Abnormal lung mechanics（↓Cs、↑Raw、↑Dead space、↑Auto PEEP.ets）") ?
                "■　Abnormal lung mechanics（↓Cs、↑Raw、↑Dead space、↑Auto PEEP.ets）" : "□　Abnormal lung mechanics（↓Cs、↑Raw、↑Dead space、↑Auto PEEP.ets）")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.respiration_related_data) && rtTakeOff_data.respiration_related_data.Contains("Abnormal blood gas exchange（↓Oxygenation、↓Ventilation .ets）") ?
                "■　Abnormal blood gas exchange(↓Oxygenation、↓Ventilation .ets)" : "□　Abnormal blood gas exchange(↓Oxygenation、↓Ventilation .ets)")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.respiration_related_data) && rtTakeOff_data.respiration_related_data.Contains("Poor respiratory muscle strength and endurance") ?
                "■　Poor respiratory muscle strength and endurance" : "□　Poor respiratory muscle strength and endurance")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.respiration_related_data) && rtTakeOff_data.respiration_related_data.Contains("Excessive airway secretions") ?
                "■　Excessive airway secretions" : "□　Excessive airway secretions")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.respiration_related_data) && rtTakeOff_data.respiration_related_data.Contains("Inadequate airway hygiene") ?
                "■　Inadequate airway hygiene" : "□　Inadequate airway hygiene")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.respiration_related_data) && rtTakeOff_data.respiration_related_data.Contains("Impaired diaphragm") ?
                "■　Impaired diaphragm" : "□　Impaired diaphragm")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.respiration_related_data) && rtTakeOff_data.respiration_related_data.Contains("Other") ?
                "■　Other：" : "□　Other：")
                            @(!string.IsNullOrWhiteSpace(rtTakeOff_data.respiration_related_data) && rtTakeOff_data.respiration_related_data.Contains("Other") ? rtTakeOff_data.respiration_related_other_txext : "")
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1">
                            Circulation related
                        </td>
                        <td colspan="4"  style="font-size:12px;">
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.circulation_related_data) && rtTakeOff_data.circulation_related_data.Contains("Hemodynamic unstability") ?
                "■　Hemodynamic unstability" : "□　Hemodynamic unstability")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.circulation_related_data) && rtTakeOff_data.circulation_related_data.Contains("Renal failure") ?
                "■　Renal failure" : "□　Renal failure")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.circulation_related_data) && rtTakeOff_data.circulation_related_data.Contains("Poor cardiac reserve") ?
                "■　Poor cardiac reserve" : "□　Poor cardiac reserve")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.circulation_related_data) && rtTakeOff_data.circulation_related_data.Contains("Fluid overload") ?
                "■　Fluid overload" : "□　Fluid overload")
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1">
                            Infection related
                        </td>
                        <td colspan="4"  style="font-size:12px;">
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.infection_related_data) && rtTakeOff_data.infection_related_data.Contains("Sepsis") ?
                "■　Sepsis" : "□　Sepsis")
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1">
                            Neural Muscular related
                        </td>
                        <td colspan="4"  style="font-size:12px;">
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.neural_muscular_related_data) && rtTakeOff_data.neural_muscular_related_data.Contains("Poor respiratory drive") ?
                "■　Poor respiratory drive" : "□　Poor respiratory drive")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.neural_muscular_related_data) && rtTakeOff_data.neural_muscular_related_data.Contains("Neuropathy") ?
                "■　Neuropathy" : "□　Neuropathy")
                            /
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.neural_muscular_related_data) && rtTakeOff_data.neural_muscular_related_data.Contains("Myopathy") ?
                "■　Myopathy" : "□　Myopathy")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.neural_muscular_related_data) && rtTakeOff_data.neural_muscular_related_data.Contains("Sedative drugs administration") ?
                "■　Sedative drugs administration" : "□　Sedative drugs administration")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.neural_muscular_related_data) && rtTakeOff_data.neural_muscular_related_data.Contains("C-spinal injury with quadriplegia") ?
                "■　C-spinal injury with quadriplegia" : "□　C-spinal injury with quadriplegia")
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1">
                            GI related
                        </td>
                        <td colspan="4"  style="font-size:12px;">
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.GI_related_data) && rtTakeOff_data.GI_related_data.Contains("Abdominal distension") ?
                "■　Abdominal distension" : "□　Abdominal distension")
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.GI_related_data) && rtTakeOff_data.GI_related_data.Contains("GI bleeding") ?
                "■　GI bleeding" : "□　GI bleeding")
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1">
                            Nutrition related
                        </td>
                        <td colspan="4"  style="font-size:12px;">
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.nutrition_related_data) && rtTakeOff_data.nutrition_related_data.Contains("Malnutrition") ?
                "■　Malnutrition" : "□　Malnutrition")
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.nutrition_related_data) && rtTakeOff_data.nutrition_related_data.Contains("Overfeeding") ?
                "■　Overfeeding" : "□　Overfeeding")
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1">
                            Other(s)
                        </td>
                        <td colspan="4"  style="font-size:12px;">
                            @(string.IsNullOrWhiteSpace(rtTakeOff_data.weaning_program_others_data) ? "" : rtTakeOff_data.weaning_program_others_data)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Goal of Weaning Program</td>
                        <td colspan="4" style="font-size:12px;">
                            @if (!string.IsNullOrWhiteSpace(rtTakeOff_data.goal_of_weaning_program) && rtTakeOff_data.goal_of_weaning_program.Length > 137)
                            {
                                @rtTakeOff_data.goal_of_weaning_program.Substring(0, 137)
                                @:...
                            }
                            else
                            {
                                @rtTakeOff_data.goal_of_weaning_program
                            }
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4" width="13%" align="center">Approved<br />Respiratory<br />Weaning<br />Program</td>
                        <td colspan="1" width="16%">
                            Discontinuation of MV
                        </td>
                        <td colspan="4"  style="font-size:12px;">
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.discontinuation_of_MV) && rtTakeOff_data.discontinuation_of_MV.Contains("Weaning Invasive MV mode") ?
                "■　Weaning Invasive MV mode:" + rtTakeOff_data.discontinuation_of_MV_mode_txext : "□　Weaning Invasive MV mode:___________")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.discontinuation_of_MV) && rtTakeOff_data.discontinuation_of_MV.Contains("SBT") ?
                "■　Spontaneous Breathing Trail (SBT)：" : "□　Spontaneous Breathing Trail (SBT)：")
                            <br />
                            &nbsp;&nbsp;@Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.discontinuation_of_MV) && rtTakeOff_data.discontinuation_of_MV.Contains("Low PSV") ?
                "■　Low PSV:" + rtTakeOff_data.discontinuation_of_MV_low_PSV_txext : "□　Low PSV:___________")
                            <br />
                            &nbsp;&nbsp;@Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.discontinuation_of_MV) && rtTakeOff_data.discontinuation_of_MV.Contains("CPAP mode") ?
                "■　CPAP mode:" + rtTakeOff_data.discontinuation_of_MV_CPAP_mode_txext : "□　CPAP mode:___________")
                            <br />
                            &nbsp;&nbsp;@Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.discontinuation_of_MV) && rtTakeOff_data.discontinuation_of_MV.Contains("T-Piece") ?
                "■　T-Piece:" + rtTakeOff_data.discontinuation_of_MV_TPiece_txext : "□　T-Piece:___________")
                            <br />
                            &nbsp;&nbsp;@Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.discontinuation_of_MV) && rtTakeOff_data.discontinuation_of_MV.Contains("Tr. mask") ?
                "■　Tr. mask:" + rtTakeOff_data.discontinuation_of_MV_Trmask_txext : "□　Tr. mask:___________")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.discontinuation_of_MV) && rtTakeOff_data.discontinuation_of_MV.Contains("Try off NIV with Oxygen Therapy") ?
                "■　Try off NIV with Oxygen Therapy：" + rtTakeOff_data.discontinuation_of_MV_oxygen_therapy_txext : "□　Try off NIV with Oxygen Therapy：___________")
                            @(!string.IsNullOrWhiteSpace(rtTakeOff_data.discontinuation_of_MV) && rtTakeOff_data.discontinuation_of_MV.Contains("Others") ? rtTakeOff_data.respiration_related_other_txext : "")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.discontinuation_of_MV) && rtTakeOff_data.discontinuation_of_MV.Contains("Other") ?
                "■　Other：" + rtTakeOff_data.discontinuation_of_MV_other_txext : "□　Other：___________")
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1">
                            Chest Physical Therapy
                        </td>
                        <td colspan="4"  style="font-size:12px;">
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.chest_physica_therapy) && rtTakeOff_data.chest_physica_therapy.Contains("Percussion") ?
                "■　Percussion:" + rtTakeOff_data.chest_physica_therapy_percussion_txext : "□　Percussion:___________")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.chest_physica_therapy) && rtTakeOff_data.chest_physica_therapy.Contains("Percussor") ?
                "■　Percussor:" + rtTakeOff_data.chest_physica_therapy_percussor_txext : "□　Percussor:___________")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.chest_physica_therapy) && rtTakeOff_data.chest_physica_therapy.Contains("VEST") ?
                "■　VEST:" + rtTakeOff_data.chest_physica_therapy_VEST_txext : "□　VEST:___________")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.chest_physica_therapy) && rtTakeOff_data.chest_physica_therapy.Contains("Other") ?
                "■　Other:" + rtTakeOff_data.chest_physica_therapy_other_txext : "□　Other:___________")
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1">
                            Pulmonary Recondition
                        </td>
                        <td colspan="4"  style="font-size:12px;">
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.pulmonary_recondition) && rtTakeOff_data.pulmonary_recondition.Contains("Sandbag") ?
                "■　Sandbag:" + rtTakeOff_data.pulmonary_recondition_sandbag_txext : "□　Sandbag:___________")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.pulmonary_recondition) && rtTakeOff_data.pulmonary_recondition.Contains("Binder") ?
                "■　Binder:" + rtTakeOff_data.pulmonary_recondition_binder_txext : "□　Binder:___________")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.pulmonary_recondition) && rtTakeOff_data.pulmonary_recondition.Contains("IPPB") ?
                "■　IPPB:" + rtTakeOff_data.pulmonary_recondition_IPPB_txext : "□　IPPB:___________")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.pulmonary_recondition) && rtTakeOff_data.pulmonary_recondition.Contains("IS") ?
                "■　IS:" + rtTakeOff_data.pulmonary_recondition_IS_txext : "□　IS:___________")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.pulmonary_recondition) && rtTakeOff_data.pulmonary_recondition.Contains("Speaking Valve") ?
                "■　Speaking Valve:" + rtTakeOff_data.pulmonary_recondition_speaking_valve_txext : "□　Speaking Valve:___________")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.pulmonary_recondition) && rtTakeOff_data.pulmonary_recondition.Contains("Exercise Training") ?
                "■　Exercise Training:" : "□　Exercise Training:")
                           @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.pulmonary_recondition) && rtTakeOff_data.pulmonary_recondition.Contains("Exercise Training") && !string.IsNullOrWhiteSpace(rtTakeOff_data.pulmonary_recondition_exercise_training) && rtTakeOff_data.pulmonary_recondition_exercise_training.Contains("上肢") ?
                "■　上肢:" + rtTakeOff_data.pulmonary_recondition_exercise_training_txext : "□　上肢:______")
                             @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.pulmonary_recondition) && rtTakeOff_data.pulmonary_recondition.Contains("Exercise Training") && !string.IsNullOrWhiteSpace(rtTakeOff_data.pulmonary_recondition_exercise_training) && rtTakeOff_data.pulmonary_recondition_exercise_training.Contains("下肢") ?
                "/■　下肢:" + rtTakeOff_data.pulmonary_recondition_exercise_training_txext : "/□　下肢:______")
                            <br />
                            @Html.Raw(!string.IsNullOrWhiteSpace(rtTakeOff_data.pulmonary_recondition) && rtTakeOff_data.pulmonary_recondition.Contains("Negative Pressure Ventilation") ?
                "■　Negative Pressure Ventilation:" + rtTakeOff_data.pulmonary_recondition_NPV_txext : "□　Negative Pressure Ventilation:___________")
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1">
                            Other Suggestion(s)
                        </td>
                        <td colspan="4"  style="font-size:12px; height:70px;">
                            @(string.IsNullOrWhiteSpace(rtTakeOff_data.approved_respiratory_weaning_progra_others) ? "" : rtTakeOff_data.approved_respiratory_weaning_progra_others)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table style="width:97%;">
        <tr>
            <td>
                <div style="float:right;">
                    Respiratory Therapist Signature：@(string.IsNullOrWhiteSpace(rtTakeOff_data.tk_id) ? "___________" : string.IsNullOrWhiteSpace(Model.List[ii].master.MODIFY_NAME) ? Model.List[ii].master.CREATE_NAME : Model.List[ii].master.MODIFY_NAME)
                </div>
            </td>
        </tr>
    </table>
    <table style="width:97%;">
        <tr>
            <td width="2.5%"></td>
            <td>
                <div style="font-size:14px;">
                    @(RCS.Controllers.BaseController.hospName) 103-09-C
                </div>
                <div style="font-size:14px;float:right;">
                    MRF0320033A00
                </div>
            </td>
        </tr>
    </table>
    <div>我是分頁</div>
}


