@{ 
    RCS_Data.IPDPatientInfo pat_info = (RCS_Data.IPDPatientInfo)Session["pat_info"];
}
<style type="text/css">
    #tab_rt_shift .row {
        margin: 0;
    }

    #symbol {
        font-size: 14px;
        font-weight: bolder;
    }

    .block_title {
        position: relative;
        font-weight: bold;
        border-bottom: 1px solid #EDEDED;
        background-color: #F5F5F5;
        padding: 0.2em 2em;
    }

    .block_content {
        border: 1px solid #EDEDED;
        /*height: 380px;*/
        border-top: none;
        overflow-y: auto;
    }

        .block_content > .form-control {
            width: 100%;
            height: 600px;
            resize: none;
            color: blue;
        }

    #shift_view > div,.shift_view > div {
        padding: 1px;
    }

    .shift_table > tbody > tr > td.shift_dataview, .shift_table > thead > tr > th.shift_dataview {
        padding: 2px !important;
        font-size: 12px;
    }

    .shift_table > thead > tr > th.shift_dataview {
        background-color: #5BA198;
        color: #FFFFFF;
    }

    .shift_table > thead > tr > th > .th-inner {
        padding: 2px !important;
        font-size: 12px;
    }

    .shift_sub_title {
        margin: 1px;
        padding: 2px 0px;
        border: 1px solid #5BA198;
        border-left-width: 0.8em;
        border-radius: 0.3em;
    }

    #shift_benner {
        font-weight: bold;
        text-align: left;
        padding-left: 2em;
    }

    #shift_view > div.shift_i_style > div {
        padding: 0.2em 2em;
        height: 21px;
        background-color: #EDEDED;
    }
</style>
<script type="text/javascript">
    // create ck editor instance
    b_value_2 = null;
    // 交班資料總表
    var shift_data = {};
    // 目前交班資料陣列索引
    var current_index = 0;
    var isSaved = false;
    var no_match = function () {
        return "查無資料";
    }
    var tbl_s = null, tbl_b = null, tbl_a2 = null, tbl_r = null;

 
    // 建置交班檢視
    function build_shift_view(sd) {
        try {
            // 處理按鈕顯示
            if (current_index == 0) {
                if (shift_data.length == 1) {
                    $("#tab_rt_shift #fun_area .btn[exec_fun=pre]").prop("disabled", true);
                }
                else {
                    $("#tab_rt_shift #fun_area .btn[exec_fun=pre],#tab_rt_shift .form-control,#tab_rt_shift #symbol > button").prop("disabled", false);
                }
                $("#tab_rt_shift #fun_area .btn[exec_fun=next]").prop("disabled", true);
                setTimeout(function ()
                {
                    b_value_1.setReadOnly(false);
                    b_value_2.setReadOnly(false);
                },
                0
                );

                if (sd.B_VALUE_2 != '') {
                    setTimeout(function ()
                    {
                        b_value_2.setData(CKEDITOR.tools.htmlDecode(sd.B_VALUE_2));
                    },
                    100
                    );
                } else {
                    setTimeout(function ()
                    {
                        b_value_2.setData('');
                    },
                    200
                    );
                }
                
                if (sd.B_VALUE_1 != '') {
                    setTimeout(function ()
                    {
                        b_value_1.setData(CKEDITOR.tools.htmlDecode(sd.B_VALUE_1));
                    },
                    100
                    );
                } else {
                    setTimeout(function ()
                    {
                        b_value_1.setData('');
                    },
                    200
                    );
                }
            } else if (current_index === shift_data.length - 1) {
                $("#tab_rt_shift #fun_area .btn[exec_fun=pre], #tab_rt_shift .form-control, #tab_rt_shift #symbol > button").prop("disabled", true);
                $("#tab_rt_shift #fun_area .btn[exec_fun=next]").prop("disabled", false);
                setTimeout(function ()
                {
                    b_value_1.setReadOnly(false);
                    b_value_2.setReadOnly(false);
                },
                0
                );
                if (sd.B_VALUE_2 != '') {
                    setTimeout(function ()
                    {
                        b_value_2.setData(CKEDITOR.tools.htmlDecode(sd.B_VALUE_2));
                    },
                    100
                    );
                }
                
                if (sd.B_VALUE_1 != '') {
                    setTimeout(function ()
                    {
                        b_value_1.setData(CKEDITOR.tools.htmlDecode(sd.B_VALUE_1));
                    },
                    100
                    );
                }
            } else {
                $("#tab_rt_shift #fun_area .btn[exec_fun=next],#tab_rt_shift #fun_area .btn[exec_fun=pre]").prop("disabled", false);
                $("#tab_rt_shift .form-control,#tab_rt_shift #symbol > button").prop("disabled", true);
                $("#tab_rt_shift #b_value_2 #b_value_1").hide();
                setTimeout(function ()
                {
                    b_value_1.setData(CKEDITOR.tools.htmlDecode(sd.B_VALUE_1));
                    b_value_1.setReadOnly(true);
                    b_value_2.setData(CKEDITOR.tools.htmlDecode(sd.B_VALUE_2));
                    b_value_2.setReadOnly(true);
                },
                100
                );
            }
            // 處理暫存
            if ((sd.STATUS === "0" || sd.STATUS === "1") && current_index === 0) {
                $("#tab_rt_shift #fun_area .btn[exec_fun=save],#tab_rt_shift #fun_area .btn[exec_fun=reload]").prop("disabled", false);
            } else {
                $("#tab_rt_shift #fun_area .btn[exec_fun=save],#tab_rt_shift #fun_area .btn[exec_fun=reload]").prop("disabled", true);
            }

            // 處理資料
            if (sd.SHIFT_NAME == "" && sd.SHIFT_DATE == "") {
                //當班資料顯示建檔資訊(因未交班)
                $("#tab_rt_shift #shift_info").html("建檔人員:" + sd.CREATE_NAME + "&nbsp;建檔時間:" + sd.CREATE_DATE);
            } else {
                //歷史資料顯示交班資訊
                $("#tab_rt_shift #shift_info").html("接班人員:" + sd.SHIFT_NAME + "&nbsp;交班時間:" + sd.SHIFT_DATE);
            }

            $("#tab_rt_shift #shift_i_info").html(sd.I_VALUE);
            if (sd.S_VALUE != null) {
                tbl_s.bootstrapTable("load", sd.S_VALUE);
            } else {
                tbl_s.bootstrapTable("load", []);
            }
            // background
            if (sd.B_VALUE != null) {
                tbl_b.bootstrapTable("load", sd.B_VALUE);
            } else {
                tbl_b.bootstrapTable("load", []);
            }
            $("#b_value_1").val("").val(sd.B_VALUE_1);

            // assessment
            if (sd.A_VALUE != null) {
                if (sd.A_VALUE.tk_reason != null) {
                    tbl_a1.bootstrapTable("load", sd.A_VALUE.tk_reason);
                }
                if (sd.A_VALUE.st_reason != null) {
                    tbl_a2.bootstrapTable("load", sd.A_VALUE.st_reason);
                }
            } else {
                tbl_b.bootstrapTable("load", []);
            }
            // recommendation
            if (sd.R_VALUE != null) {
                tbl_r.bootstrapTable("load", sd.R_VALUE);
            } else {
                tbl_r.bootstrapTable("load", []);
            }
        } catch (e) {
            console.log(e);
        }
    }

    // 儲存(暫存)資料
    function save_shift_data(sd) {
        try {
            sd.B_VALUE_2 = CKEDITOR.tools.htmlEncode(b_value_2.getData());
            sd.B_VALUE_1 = CKEDITOR.tools.htmlEncode(b_value_1.getData());
            //sd.B_VALUE_1 = $("#b_value_1").val();
            if (!!isSaved) {
                ShiftSave(sd);
            } else {
                $.ajax({
                    url: "@Url.Content("~/Shift/ShiftcheckData")", type: "post", dataType: "json",
                    data: { shift_str: encodeURIComponent(JSON.stringify(sd)) },
                    success: function (data) {
                        if (data.status != 0) {
                            if (confirm(data.message)) {
                                ShiftSave(sd);
                            } else {
                                old_b_value_vm.show(data.attachment);
                            }
                        } else {
                            ShiftSave(sd);
                        }
                    },
                    error: function () {
                        showAlert("暫存錯誤", msg_stat.Danger);
                    }
                });
            }
        } catch (e) {
            alert(e);
        }
    }

    function ShiftSave(sd) {
        $.ajax({
            url: "@Url.Content("~/Shift/ShiftSave")", type: "post", dataType: "json",
            data: { shift_str: encodeURIComponent(JSON.stringify(sd)) },
            success: function (data) {
                showAlert(data.message, msg_stat.Success);
                isSaved = false;
                $('#shift_tab a').trigger('click');
            },
            error: function () {
                showAlert("暫存錯誤", msg_stat.Danger);
                isSaved = false;
            }
        });
    }

    function resettext_tk(value, row) {
        var item;
        switch (this.fieldIndex) {
            case 0:
                var tmpId = row.id.replace('weaning_tk_reason_', '');
                return (parseInt(tmpId) < 11 ? "呼吸因素" : "非呼吸因素");
        }
    }

    function resettext_st(value, row) {
        var item;
        if (row.id == "weaning_st_reason_15" && row.txt != null && row.txt != "") {
            item = "主治醫師要求等待其指示：" + row.txt;
        } else {
            item = row.txt;
        }
        return item;
    }

    function resettext_r(value, row) {
        var item;
        if (row.id == "weaning_tk_plan_13" && row.txt != null && row.txt != "") {
            item = "主治醫師要求等待其指示：" + row.txt;
        } else {
            item = row.txt;
        }
        return item;
    }

    function resetcate_tk() {
        return "tk_reason";
    }

    function resetcate_st() {
        return "st_reason";
    }

    $(document).ready(function () {
        //$("#index_loading").modal('show');
        $.ajax({
            url: "@Url.Content("~/Shift/getShift_view")",
            data: { chart_no:'@pat_info.chart_no' },
            type: "post",
            beforeSend: function () {
                $("#index_loading").modal('show');
            },
            success: function (data) {
                $('#shift_view').html(data);
            },
            complete: function () {
                // create ck editor instance
                setTimeout(function () { 
                    no_match = function () {
                        return "查無資料";
                    }

                    tbl_s = $("#tbl_s").bootstrapTable({
                        showHeader: false,
                        data: [],
                        formatNoMatches: no_match
                    });

                    tbl_b = $("#tbl_b").bootstrapTable({
                        showHeader: true,
                        data: [],
                        formatNoMatches: no_match
                    });

                    tbl_a1 = $("#tbl_a1").bootstrapTable({
                        showHeader: false,
                        data: [],
                        formatNoMatches: no_match
                    });

                    tbl_a2 = $("#tbl_a2").bootstrapTable({
                        showHeader: false,
                        data: [],
                        formatNoMatches: no_match
                    });

                    tbl_r = $("#tbl_r").bootstrapTable({
                        showHeader: false,
                        data: [],
                        formatNoMatches: no_match
                    });

                    // 產生符號按鈕
                    setSymbolBtn('symbol');
                    // 讀取交班資料
                    $.ajax({
                        url: "@Url.Content("~/Shift/GetShiftData")",
                        type: "post", dataType: "json", timeout: 15000,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            shift_data = data;                            
                            //建立交班記錄下拉選單項目
                            $("#tab_rt_shift #shift_select").change(function () {
                                current_index = Number($(this).val());
                                build_shift_view(shift_data[current_index]);
                            });
                            for (var i = 0; i < shift_data.length; i++) {
                                //顯示格式2016/05/05 16:00 (交班者)
                                var item_str = '';
                                var SHIFT_DATE = shift_data[i].SHIFT_DATE;
                                if (SHIFT_DATE == '' || SHIFT_DATE == null || SHIFT_DATE == undefined)
                                    SHIFT_DATE = shift_data[i].CREATE_DATE;
                                if (shift_data[i].SHIFT_DATE == "") {
                                    var status_str = shift_data[i].STATUS == '0' ? '未存' : '暫存';
                                    item_str = shift_data[i].CREATE_DATE.substr(0, 16) + status_str + " (" + shift_data[i].CREATE_NAME + ")";
                                } else {
                                    item_str = shift_data[i].SHIFT_DATE + "交班 (" + shift_data[i].CREATE_NAME + ")";
                                }
                                $("#shift_select").append($("<option></option>").attr("value", i).text(item_str));
                            }
                        },
                        complete: function () {
                            // 判斷如果沒資料就要封閉所有按鈕
                            if (shift_data.length === 0) {
                                $("#fun_area .btn").prop("disabled", true);
                            } else {
                                // 直接返回
                                $("#fun_area .btn[exec_fun=return]").trigger("click");
                            }
                        },
                        error: function (jqXHR) {
                            log(jqXHR);
                        }
                    });

                    // 功能列表按鈕事件
                    $("#fun_area .btn").click(function () {

                        var self = $(this);
                        //if ("save|reload".indexOf($(this).attr("exec_fun")) == -1 && is_changed == true) {
                        //    //if (confirm("目前資料已變更，確認是否要暫存?")) {
                        //    //    $("#fun_area .btn[exec_fun=save]").trigger("click");
                        //    //}
                        //}

                        switch ($(this).attr("exec_fun")) {
                            case "save":
                                // 儲存
                                self.prop("disabled", true);
                                save_shift_data(shift_data[current_index]);
                                self.prop("disabled", false);
                                break;
                            case "pre":
                                // 前一筆
                                current_index++;
                                if (current_index > shift_data.length - 1) {
                                    current_index = shift_data.length - 1;
                                }
                                build_shift_view(shift_data[current_index]);
                                break;
                            case "next":
                                // 下一筆
                                current_index--;
                                if (current_index < 0) {
                                    current_index = 0;
                                }
                                build_shift_view(shift_data[current_index]);
                                break;
                            case "return":
                                //取得交班資料
                                current_index = 0;
                                build_shift_view(shift_data[current_index]);
                                break;
                        }
                        // 順便修改旁邊的下拉選單
                        $("#tab_rt_shift #shift_select").val($("#tab_rt_shift #shift_select option[value='" + current_index + "']").val());

                        is_changed = false;
                        return false;
                    });
                    //$("#nav_tabs > li > a[data-target='#tab_rt_shift']").trigger("click");
                    //$("#index_loading").modal('hide');
                    setTimeout(function () { $("#index_loading").modal('hide'); }, 500);
                }, 500);
            },
            error: function (jqXHR) {
                log(jqXHR);
            }
        });

    });
</script>

<script type="text/javascript">

function last_data()
{
    var mymessage=confirm("是否確定帶入上次入院資料?");
	if(mymessage==true)
	{
	    var shift_chart_no = shift_data[current_index].chart_no;
	    var shift_IPD_NO = shift_data[current_index].IPD_NO;
	    var shift_PAT_DATA_DATE = shift_data[current_index].S_VALUE[6].data; //入院日期
	    $.ajax({
	        url: "@Url.Content("~/Shift/GetLastShiftData")",
                type: "post",
                dataType: "json",
                data: { shift_chart_no: shift_chart_no, shift_IPD_NO: shift_IPD_NO, shift_PAT_DATA_DATE: shift_PAT_DATA_DATE },
                success: function (data) {
                    if (data != null && data.length > 0) {
                        b_value_1.setData(CKEDITOR.tools.htmlDecode(data[0].B_VALUE_1));
                        b_value_2.setData(CKEDITOR.tools.htmlDecode(data[0].B_VALUE_2));
                    }	                
	            },
	            error: function (jqXHR) {
	                log(jqXHR);
	            }
	        });
	}
	else if(mymessage==false)
	{

	}
}
</script>

<!-- 功能表 -->
<div class="row">
    <div class="btn-group btn-group-sm pull-right hidden">
        <select id="shift_select" style="height: 30px; max-width: 250px; margin-left: 1em;"></select>
    </div>
    <div class="btn-group pull-right" id="fun_area">
        <button class="btn btn-info" onclick="last_data()"><span class="glyphicon"></span>帶入上次入院資料</button>
        <button class="btn btn-danger" exec_fun="save"><span class="glyphicon glyphicon-save-file"></span> 暫存</button>
        <span class="hidden">
            <button class="btn btn-info" exec_fun="pre"><span class="glyphicon glyphicon-arrow-left"></span> 上一筆</button>
            <button class="btn btn-success" exec_fun="return"><span class="glyphicon glyphicon-record"></span> 返回當班</button>
            <button class="btn btn-info" exec_fun="next"><span class="glyphicon glyphicon-arrow-right"></span> 下一筆</button>
        </span>
    </div>
</div>

<!-- 符號表 -->
<div class="row">
    <div class="col-md-12 btn-group btn-group-sm pull-left" id="symbol"></div>
</div>

<!-- 交班內容 -->
<div class="row" id="shift_view" style="margin-top: 3em;">
</div>
