@{
    ViewBag.Title = "RTChart";
    List<SelectListItem> ipdnoList = (List<SelectListItem>)ViewData["getPatientHistoryList"];
}
<script type="text/javascript">
    $(function () {
        chart_search($('#datetime_limit #Search'));
    });

    function chart_search(pthis) {
        pthis.button('loading');
        $.ajax({
            url: '@Url.Content("~/RTChart/RTChartData")',
            type: 'POST',
            data: { "StartDate": $('#datetime_limit #datetime_start').val(), "EndDate": $('#datetime_limit #datetime_end').val(), "ipdNo": $('#datetime_limit #setIpdno').val(), "chart_no": $('#now_pat_chart_no').html() },
            success: function (data) {
                $("#chart_content").html(data);
                pthis.button('reset');
            },
            error: function (jqXHR) {
                console.log(jqXHR);
            }
        });
    }
</script>
<div id="datetime_limit" class="form-inline" style="position:relative;">
    日期區間:
    <input type="text" class="form-control dt-picker searchSDate" style="width: 140px; height: 27px; display: inline;vertical-align:middle;vertical-align:middle;" dt-format="dt" dt-sidebyside="true" id="datetime_start" name="datetime_start" value="@DateTime.Now.Date.AddDays(-2).ToString("yyyy-MM-dd HH:mm")" placeholder="" readonly="">~
    <input type="text" class="form-control dt-picker searchEDate" style="width: 140px; height: 27px; display: inline;vertical-align:middle;vertical-align:middle;" dt-format="dt" dt-sidebyside="true" id="datetime_end" name="datetime_end" value="@DateTime.Now.ToString("yyyy-MM-dd 23:59")" placeholder="" readonly="">
     &emsp;住院/門診/急診日期&emsp;
    <select id="setIpdno" name="setIpdno" onchange="changeFeeNo($(this), 'datetime_limit');" notlock>
        @{
            List<string> tempLabelList = ipdnoList.Select(x => x.Value.Substring(x.Value.Length - 1)).Distinct().ToList();
            foreach (string Label in tempLabelList)
            {
                <optgroup label="@(Label)">
                    @foreach (SelectListItem item in ipdnoList.FindAll(x => x.Value.Substring(x.Value.Length - 1) == Label))
                    {
                        if (item.Selected)
                        {
                            <option value="@(item.Value)" selected>@(item.Text)</option>
                        }
                        else
                        {
                            <option value="@(item.Value)">@(item.Text)</option>
                        }
                    }
                </optgroup>
            }
        }
    </select>

    @*@Html.DropDownList("setIpdno", ipdnoList, new { @onchange = "changeFeeNo($(this),'datetime_limit');", @notlock = "" })*@
    <input type="button" class="btn btn-default listSearch" id="Search" value="搜尋" onclick="chart_search($(this));" />
</div>
<div id="chart_content" style="display:inline-block; width: 85%;"></div>