<script type="text/javascript">
    var param_table;

    function form_reset(data) {
        $("#p_id").val("");
        $("#param_form")[0].reset();
        if (typeof (data) !== "undefined") {
            $("#p_id").val(data.p_id);
            $("#p_name").val(data.p_name);
            $("#p_value").val(data.p_value);
            $("#p_sort").val(data.p_sort);
            $("#p_memo").val(data.p_memo);
        }
    }

    $(document).ready(function () {
        param_table = $("#param_table").bootstrapTable($.extend(true, {}, bootstrap_table_option, {
            url: "@Url.Content("~/SystemManage/ParamData")",
            toolbar: "#param_toolbar",
            showRefresh: false,
            queryParams: function (para) {
                var data = $("#param_selector").val().split("|");
                return { p_model: data[0], p_group: data[1] };
            },
            height: 750,
            onClickRow: function (row, $element, field) {
                var tg = $("#btn_disable");
                tg.prop("disabled", false);
                if (row.p_status == "1") {
                    $("#btn_disable").removeClass("btn-success").addClass("btn-danger").html("停用");
                } else {
                    $("#btn_disable").removeClass("btn-danger").addClass("btn-success").html("啟用");
                }
            },
            rowStyle: function (row, index) {
                if (row.p_status == "9") {
                    return { classes: 'danger' };
                } else {
                    return { classes: 'default' };
                }
            }
        }));

        // 選項帶入要編輯的資料
        $("#param_selector").off("change").on("change", function () {
            param_table.bootstrapTable("refresh");
            $("#btn_disable").prop("disabled", true).removeClass("btn-success").removeClass("btn-danger").addClass("btn-default").html("啟用/停用");
        });

        // 按鈕功能事件
        $(".btn_bar > button[data-exec-func]").off("click").on("click", function () {
            var exec_func = $(this).attr("data-exec-func");
            var data = param_table.bootstrapTable("getSelections");
            if (exec_func == "edit" || exec_func == "delete") {
                if (data.length !== 1) {
                    msgbox("請選擇一筆資料");
                    return;
                }
            }

            switch (exec_func) {
                case "save":

                    var selector = $("#param_selector").val().split("|");
                    // 組資料
                    var upd_data = {
                        p_id: $("#p_id").val(),
                        p_model: selector[0],
                        p_group: selector[1],
                        p_name: $("#p_name").val(),
                        p_value: $("#p_value").val(),
                        p_memo: $("#p_memo").val()
                    };
                    try {
                        upd_data.p_sort = parseInt($("#p_sort").val());
                    } catch (e){
                        upd_data.p_sort = 0;
                    }
                    if (!!$("#p_value").val() && !!$("#p_name").val()) {
                        // 後送
                        $.ajax($.extend(true, {}, ajax_option, {
                            url: "@Url.Content("~/SystemManage/ParamSave")",
                            data: JSON.stringify(upd_data),
                            contentType: "application/json; charset=utf-8",
                            success: function (result) {
                                showAlert(result.message);
                                if (result.status === 0) {
                                    $("#param_edit_panel").modal("hide");
                                    param_table.bootstrapTable("refresh");
                                }
                            }
                        }));
                    } else {
                        showAlert("值和顯示名稱為必填欄位，請確認是否有輸入!", msg_stat.Warning);
                    }
                    break;
                case "add":
                    form_reset();
                    $("#param_edit_panel").modal("show");
                    break;
                case "edit":
                    form_reset(data[0]);
                    $("#param_edit_panel").modal("show");
                    break;
                case "status":
                    var upd_data = data[0];
                    if (upd_data.p_status == "1") {
                        upd_data.p_status = "9";
                    } else {
                        upd_data.p_status = "1";
                    }
                    $.ajax($.extend(true, {}, ajax_option, {
                        url: "@Url.Content("~/SystemManage/ParamDelete")",
                        data: JSON.stringify(upd_data),
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            showAlert(result.message);
                            if (result.status === 0) {
                                param_table.bootstrapTable("refresh");
                            }
                        }
                    }));
                    break
            }//switch
            return false;
        });// 按鈕功能事件

        //DragDrop 拖曳編輯頁面 RcsSysParams_DragDrop_PanelID 2018.10.17
        $('#RcsSysParams_DragDrop_DivTagID').load(
            '@Url.Content("~/SystemManage/SysParams_DragDrop_EditTable_ActionCtrl")'
            );
    });//$(document).ready(function
</script>

<div class="btn_bar">
    <button class="btn btn-default btn-raised" data-exec-func="add">新增</button>
    <button class="btn btn-default btn-raised" data-exec-func="edit">編輯</button>
    &nbsp;&nbsp;
    <button class="btn btn-default" id="btn_disable" data-exec-func="status" disabled>啟用/停用</button>
    @* 開啟 [Views\SystemManage\SysParams_DragDrop_EditTable.cshtml] DragDrop拖曳頁面 *@
    <button class="btn btn-default btn-raised" onclick="RcsSysParams_DragDrop_Vue.openDragDropEditForm();">排序</button>
    @* 開啟 [Views\SystemManage\SysParams_DragDrop_EditTable.cshtml] DragDrop拖曳頁面 *@
</div>

<div id="param_toolbar" style="display:inline-block;">
    <div class="form-inline">
        <div class="form-group">
            <label for="param_selector">選擇要維護的模組</label>
            <select class="form-control" id="param_selector">
                <optgroup label="共用">
                    <option value="Shared|doctor_name">主治醫師</option>
                    <option value="Shared|cxr_result">CXR結果</option>
                </optgroup>
                <optgroup label="呼吸照護紀錄單">
                    <option value="RTRecord_Detail|complication">呼吸治療併發症</option>
                    <option value="RTRecord_Detail|breath_reason">引發呼吸哀竭的原因</option>
                    <option value="RTRecord_Detail|breath_indications">呼吸器適應症</option>
                    <option value="RTRecord_Detail|device_o2">氧療設備</option>
                    <option value="RTRecord_Detail|result">治療結果</option>
                    <option value="RTRecord_Detail|mode">呼吸模式</option>
                    @*<option value="RTRecord_Detail|sensitivity_flow">sensitivity flow</option>
                    <option value="RTRecord_Detail|pressure_sensitivity">sensitivity pressure</option>
                    <option value="RTRecord_Detail|breath_sound">呼吸音</option>*@
                    <option value="RTRecord_Detail|R_Memo">備註</option>
                </optgroup>
                <optgroup label="呼吸器維護">
                    <option value="Index_device|device_model">呼吸器維護</option>
                </optgroup>
            </select>
        </div>
    </div>
</div>

<table id="param_table" data-sort-name="p_sort" data-sort-order="asc">
    <thead>
        <tr>
            <th data-radio="true"></th>
            <th data-field="p_name" data-width="30%">顯示名稱</th>
            <th data-field="p_value" data-width="30%">值</th>
            <th data-field="p_sort" data-width="10%">排序</th>
            <th data-field="p_status_desc" data-width="10%">狀態</th>
            <th data-field="p_memo" data-width="20%">備註</th>
        </tr>
    </thead>
</table>

<!-- 編輯畫面 -->
<div class="modal fade" id="param_edit_panel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">項目編輯</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="param_form" style="padding: 1em;">
                    <input type="hidden" id="p_id" value="" />
                    <div class="form-group">
                        <label for="p_name" class="control-label">顯示名稱</label>
                        <input type="text" class="form-control" id="p_name" placeholder="顯示名稱">
                    </div>
                    <div class="form-group">
                        <label for="p_value" class="control-label">值</label>
                        <input type="text" class="form-control" id="p_value" placeholder="值">
                    </div>
                    <div class="form-group">
                        <label for="p_sort" class="control-label">排序</label>
                        <input type="text" class="form-control" id="p_sort" placeholder="顯示的順序">
                    </div>
                    <div class="form-group">
                        <label for="p_memo" class="control-label">備註</label>
                        <textarea class="form-control" rows="3" id="p_memo"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer btn_bar">
                <button type="button" class="btn btn-primary" data-exec-func="save">儲存</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

@*
    <!-- DragDrop 拖曳編輯頁面 RcsSysParams_DragDrop_PanelID 2018.10.17 -->
    1.需先預載入，主畫面 [Views\SystemManage\ParamSetting.cshtml] 預載入 [RcsSysParams_DragDrop_DivTagID]
    2.$('#RcsSysParams_DragDrop_DivTagID').load('@Url.Content("~/SystemManage/SysParams_DragDrop_EditTable_ActionCtrl")');
    3.DragDrop 拖曳編輯頁面 [Views\SystemManage\SysParams_DragDrop_EditTable.cshtml]
*@
<div id="RcsSysParams_DragDrop_DivTagID"></div><!-- /.modal --> 