@{
    Layout = null;
    List<Dictionary<string, string>> UserTypeList = (List<Dictionary<string, string>>)ViewData["UserTypeList"];
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#UserDt").bootstrapTable({
            url: '@Url.Content("~/SystemManage/UserMaintain_List")',
            method: 'post',
            search: true,
            showRefresh: true,
            undefinedText: '',
        }).on('click-row.bs.table', function (e, row, $element) {
            ModifyUser(row);
            //console.log(row);
        });
    });

    function ReSetUserDtText(value, row) {
        if (!!row.P_MEMO) {
            return row.P_MEMO.replace(/\n/g, '<br/>');
        }
        return '';
    }

    function ModifyUser(JsonObj) {
        ResetUserModalBody();
        if (!!JsonObj) {
            $('#UserModalTitle').html('修改使用者');
            $('#User_P_ID').val(JsonObj.P_ID);
            $('#UserID').val(JsonObj.P_VALUE);
            $('#UserName').val(JsonObj.P_NAME);
            $('#UserType').val(JsonObj.P_GROUP);
            $('#UserRemark').val(JsonObj.P_MEMO);
        }
        else {
            $('#UserModalTitle').html('新增使用者');
        }
        $('#UserModal').modal('show');
    }

    function DelUser(obj) {
        if ($("#UserDt").bootstrapTable('getSelections').length > 0) {
            if (confirm('確認刪除?')) {
                $(obj).button('loading');
                Save('@Url.Content("~/SystemManage/SysParams_Del")',
                    'POST',
                    { 'JsonList': JSON.stringify($("#UserDt").bootstrapTable('getSelections')) },
                    function (data) {
                        if (data == 'True') {
                            showAlert('刪除成功!', msg_stat.Success);
                            $("#UserDt").bootstrapTable('refresh', { silent: true });
                        }
                        else {
                            showAlert('刪除失敗!', msg_stat.Danger);
                        }
                    },
                    function (data) {
                        $(obj).button('reset');
                    });
            }
        } else {
            showAlert('至少勾選一項資料!', msg_stat.Warning);
        }
        
    }

    function ResetUserModalBody() {
        $('#UserModalBody')
            .find('input[type=text], input[type=hidden], textarea').val('')
            .end()
            .find('select').prop('selectedIndex', 0);
    }

    function ToSaveUser(obj) {
        $(obj).button('loading');
        if (CheckReq('UserModalBody')) {
            if ($.grep($("#UserDt").bootstrapTable('getData'), function (e) { return (e.P_VALUE == $.trim($('#UserID').val()) && e.P_ID != $('#User_P_ID').val()); }) == 0) {
                Save('@Url.Content("~/SystemManage/UserMaintain_Save")',
                    'POST',
                    {
                        'P_ID': $('#User_P_ID').val(), 'UserID': $.trim($('#UserID').val()), 'UserName': $.trim($('#UserName').val()),
                        'UserType': $('#UserType').val(), 'UserRemark': $.trim($('#UserRemark').val())
                    },
                    function (data) {
                        if (data.status == '3') {//重複
                            showAlert(data.message, msg_stat.Danger);
                        }
                        else {
                            if (data.status == '0') {
                                showAlert('儲存成功!', msg_stat.Success);
                                $('#UserModal').modal('hide');
                                $("#UserDt").bootstrapTable('refresh', { silent: true });
                            }
                            else {
                                showAlert('儲存失敗!', msg_stat.Danger);
                            }
                        }
                    },
                    function (data) {
                        $(obj).button('reset');
                    });
            }
            else {
                showAlert('ID：' + $.trim($('#UserID').val()) + ' 已存在!', msg_stat.Warning);
                $(obj).button('reset');
            }
        }
        else {
            $(obj).button('reset');
        }
    }
</script>

<div style="padding: 0 10vw 0 10vw;">
    <button type="button" class="navbar-toggle tp" onclick="DelUser(this);" data-loading-text="刪除中..." style="float:left;color:#e21818;">
        <i class="fa fa-minus-circle" aria-hidden="true"></i>
        刪除使用者
    </button>
    <button id="join_item" class="navbar-toggle tp" onclick="ModifyUser();" style="color:#42b343;">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        新增使用者
    </button>
    <table id="UserDt" data-toggle="table" class="table table-bordered table-striped table-condensed">
        <thead style="background-color: #5BA198; color: #FFF;">
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="P_VALUE" data-sortable="true">ID(使用者ID)</th>
                <th data-field="P_NAME" data-sortable="true">姓名</th>
                <th data-field="P_GROUP_NAME" data-sortable="true">群組</th>
                <th data-field="P_MEMO" data-sortable="true" data-formatter="ReSetUserDtText">備註</th>
            </tr>
        </thead>
    </table>
</div>

<div class="modal fade modal_assess" tabindex="-1" role="dialog" data-backdrop="true" id="UserModal">
    <div class="modal-dialog modal-slg">
        <div class="modal-content rcs_form">
            <div class="modal-header col-*-12">
                <div class="btn-group col-*-6">
                    <h4 class="modal-title" id="UserModalTitle"></h4>
                </div>
                <div class="btn-group pull-right">
                    <button class="btn btn-success" data-loading-text="儲存中..." onclick="ToSaveUser(this);">儲存</button>
                    <button class="btn btn-warning" data-dismiss="modal">關閉</button>
                </div>
            </div>
            <div class="modal-body" id="UserModalBody" style="background-color:#ebebeb;">
                <input type="hidden" id="User_P_ID" name="User_P_ID" />
                <table class="table table-bordered table-condensed table-striped" style="background-color:#FFF;">
                    <tr>
                        <td>
                            <label>ID：</label>
                            <input type="text" class="form-control req_text" id="UserID" name="UserID" style="max-width:160px;display:inline-block;" maxlength="10" />
                        </td>
                        <td>
                            <label>姓名：</label>
                            <input type="text" class="form-control req_text" id="UserName" name="UserName" style="max-width:160px;display:inline-block;" maxlength="50" />
                        </td>
                        <td>
                            <label>使用者身分：</label>
                            <select class="form-control" id="UserType" name="UserType" style="display:inline-block;width:auto;">
                                @if(UserTypeList != null && UserTypeList.Count > 0)
                                {
                                    foreach (var item in UserTypeList)
                                    {
                                <option value="@item["VALUE"]">@item["NAME"]</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="padding-bottom:10px;">
                            <label>備註：</label>
                            <textarea id="UserRemark" name="UserRemark" rows="8" style="width:100%;" maxlength="200"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

